@charset "iso-8859-1";
.ShrinkTD
{
	font-size: 0;
}
body
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}	
table
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;		
}
table.entete
{
    COLOR: #FFFFFF;
    background-color: #638CC9;
    FONT-FAMILY: verdana;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-LEFT: 3px;
    BORDER: #638CC9 1px solid;
    width: 100%;
}
TABLE.tabres
{
    PADDING-LEFT: 3px;
    BORDER: #638CC9 1px solid;
}
TD.tdentete
{
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    background-color: #638CC9;
    COLOR: #FFFFFF;
    BORDER: #638CC9 1px solid;
    width:100px;
    white-space:nowrap; 
	overflow:hidden;
}
hr
{
	color: #638CC9;
	height: 1px
}

h1
{
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #000000;	
}
h2
{
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #000000;	
}
h3
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000000;	
}
h4
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000000;	
}
h5
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000000;	
}
h6
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000000;	
}
p.texte
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;		
}
p.titre
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #638CC9;		
}
p.sstitre
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color: #638CC9;		
}
p.sstitre2
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #638CC9;		
}
ul
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
		
}
li
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;		
}

td.sect
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;	
	background-color: #638CC9;
	COLOR: #FFFFFF;
	BORDER: #638CC9 1px solid;
}
td.patho1
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;	
	BORDER-LEFT: #638CC9 1px solid;
	width: 100px;
	white-space:nowrap; 
	overflow:hidden;
}
td.patho3
{
	width: 100px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	background-color: #E9E9E9;
	BORDER-LEFT: #638CC9 1px solid;
	white-space:nowrap; 
	overflow:hidden;
}
td.patho2
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;	
	width: 100px;
	white-space:nowrap; 
	overflow:hidden;
}
td.patho4
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	background-color: #E9E9E9;
	width: 100px;
	white-space:nowrap; 
	overflow:hidden;
}
td.norm2
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
	background-color: #E9E9E9;
	BORDER-LEFT: #638CC9 1px solid;
	width: 100px;
	white-space:nowrap; 
	overflow:hidden;
}
td.norm0
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
	BORDER-LEFT: #638CC9 1px solid;
	width: 100px;
	white-space:nowrap; 
	overflow:hidden;
}
a.patho1
{
	font-family:  Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;	
}
a.patho3
{
	font-family:  Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	background-color: #E9E9E9;
}
a.norm2
{
	font-family:  Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
	background-color: #E9E9E9;
}

a.norm0
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
}
td.libel5g1
{
	width: 230px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
	background-color: #E9E9E9;
	white-space:nowrap; 
	overflow:hidden;
}
td.libel5g2
{
	width: 70px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
	background-color: #E9E9E9;
	white-space:nowrap; 
	overflow:hidden;
}
td.libel5g3
{
	width: 130px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
	background-color: #E9E9E9;
	white-space:nowrap; 
	overflow:hidden;
}
td.libel5b1
{
	width: 230px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
	white-space:nowrap; 
	overflow:hidden;
}
td.libel5b2
{
	width: 70px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
	white-space:nowrap; 
	overflow:hidden;
}
td.libel5b3
{
	width: 130px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration: none;
	white-space:nowrap; 
	overflow:hidden;
}
td.statI
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;	
}
td.statR
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;	
}
td.statP
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;	
}
td.statF
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #00FF06;
	text-decoration: none;	
}
td.statC
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFA200;
	text-decoration: none;	
}
td.statIg
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;	
	background-color: #E9E9E9;
}
td.statRg
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;	
	background-color: #E9E9E9;
}
td.statPg
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	background-color: #E9E9E9;	
}
td.statFg
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #00FF06;
	text-decoration: none;
	background-color: #E9E9E9;	
}
td.statCg
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFA200;
	text-decoration: none;
	background-color: #E9E9E9;	
}
td.gris
{
	text-decoration: none;
	background-color: #E9E9E9;	
}
td.blanc
{
	text-decoration: none;

}
td.grisb
{
	text-decoration: none;
	background-color: #E9E9E9;	
	font-family: Courier New;
	font-weight: normal;
}
td.blancb
{
	text-decoration: none;
	font-family: Courier New;
	font-weight: normal;
}
td.patho2b
{
	font-family: Courier New;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;	
	
}
td.patho4b
{
	font-family: Courier New;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	background-color: #E9E9E9;
	
}
input.zonetexte
{
	font-family: Verdana;
	font-size: 11px;
	color: #668EC8;
	text-decoration: none;
}
select.zonetexte
{
	font-family: Verdana;
	font-size: 11px;
	color: #668EC8;
	text-decoration: none;
}
a
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #638CC9;
	text-decoration: none;		
}
a.bouton
{
	BORDER-RIGHT: #638cc9 thin solid; 
	BORDER-TOP: #638cc9 thin solid; 
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	BORDER-LEFT: #638cc9 thin solid; 
	BORDER-BOTTOM: #638cc9 thin solid;  
	color : white;
	background : #638cc9;
}

button
{
	BORDER-RIGHT: #638cc9 thin solid; 
	BORDER-TOP: #638cc9 thin solid; 
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	BORDER-LEFT: #638cc9 thin solid; 
	BORDER-BOTTOM: #638cc9 thin solid;  
	color : white;
	background : #638cc9;
}

a.analyses
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;		
}
a:hover
{
	text-decoration: underline;		
}

.PageHeading
{
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	color: #416FA7;
}
.Heading
{
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #416FA7;
}
.Ingress
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	background-color:#638CC9;
}
.titre1
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #416FA7;		
}
.titre1:hover
{
	text-decoration: underline;
}
.Text
{
	font-family: Verdana;
	font-size: 9px;
	font-weight: normal;
	color: #638CC9;
}
.TextBold
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.TextRed
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: red;
}
.PageContent
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;		
}
.Footer
{
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	background-color: #FFFFFF;
}
.Footer:link
{
	font-weight: normal;
	text-decoration: none;	
}
.Footer:hover
{
	text-decoration: underline;
}
.FooterLine
{
	background-color: #416FA7;
}
.ListHeadingDate
{
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.ListHeading
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.ListHeading:hover
{
	text-decoration: underline;
}
.ListIngress
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.Label
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;	
}
.LabelBold
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;	
}
.TextBox
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;	
    height: 18px;
}
.TextBoxSearch
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;	
    height: 18px;
}
.TextArea
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;	
}
.DropDownList
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;	
    height: 18px;
}

input.zoneok
{
	border-right: #416fa7 1px solid; 
	BORDER-TOP: #416fa7 1px solid;
	FONT-SIZE: 50px; 
	BACKGROUND: #416fa7;
	BORDER-LEFT: #416fa7 1px solid;
	COLOR: #ffffff; 
	BORDER-BOTTOM: #416fa7 1px solid; 
	FONT-FAMILY: Verdana, Arial;
}

.DefaultConsole
{
	background-color: #E5E5E5;
	border: solid 1px #668EC8;	
}
.DefaultConsoleHyperLink
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	
}
.DefaultConsoleHyperLink:hover
{
	text-decoration: underline;
}

table.deco1 {
	border: 1px outset #416FA7;
	border-collapse: collapse;
	background-color: white;
}
table.deco1 th {
	border: 1px inset #416FA7;
	background-color: white;
}
table.deco1 td {
	border: 1px inset #416FA7;
}
table.deco1 tr {
	border: 1px inset #416FA7;
}
table.deco2 {
	border: 1px outset #416FA7;
	border-collapse: collapse;
	background-color: white;
}
table.deco3 {
	border: 1px outset #416FA7;
	border-collapse: collapse;
	background-color: white;
}
table.deco3 th {
	border-bottom: 1px inset #416FA7;
	background-color: white;
}

table.deco4 {
	BORDER-RIGHT: #638CC9 thin solid;
	BORDER-TOP: #638CC9 thin solid;
	BORDER-LEFT: #638CC9 thin solid;
	BORDER-BOTTOM: #638CC9 thin solid;
}
table.listepatient 
{
	text-align:left;
	border-spacing:1;
	border-width:0px;
	width:700px;
	border-color:#ffffff;
	BORDER-RIGHT: #638CC9 thin solid;
	BORDER-TOP: #638CC9 thin solid;
	BORDER-LEFT: #638CC9 thin solid;
	BORDER-BOTTOM: #638CC9 thin solid;
}
tr.listepatient1
{
	background-color:#e9e9e9;
}
tr.listepatient2
{
	background-color:#ffffff;
}
tr.deco4 {
	FONT: caption;
	COLOR: #ffffff;
	BACKGROUND-COLOR: #638CC9;
}
.divg
{ 
  position:relative;
  width: 430px;
}
.divd 
{
  position:absolute;
  background-color: white;
  left: 430px;
  top: 0px;
  overflow:hidden;
}
.divdh
{
  position:absolute;
  background-color: white;
  left: 430px;
  top: 0px;
  overflow:hidden;
}
.deplacable 
{
  left: 0px;
  position:relative;
}
.baspage
{
  position:absolute;
  overflow-y: auto;
}
.baspagehaut
{
  position:relative;
  overflow:hidden;
}
.hautpage
{
  position: relative;
}
table.fixe
{
	table-layout:fixed;
	border-spacing:0;
	border-collapse:collapse;
	border-width:0px;
}
tr.fixe
{
	height:19px;
}
table.fixe2
{
	table-layout:fixed;
	border-spacing:0;
	border-collapse:collapse;
	border-width:0px;
	width:430px;
}