.idex-special {
  font-size: 0.9em;
  padding: 1px;
  border-radius: 3px;
  background: white;
  line-height: 1;
}

.idex-special-IPP {
  border: 1px solid #2D9A00;
  color: #2D9A00;
}

.idex-special-NDA {
  border: 1px solid #0000cc;
  color: #0000cc;

}

.idex-special-software {
  border: 1px solid #FF0000;
  color: #FF0000;
}
