
.vue_topologique div.patient{
  padding: 1px;
  margin: 3px;
  background-color: rgba(255,255,255,0.8);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90ffffff,endColorstr=#90ffffff);
  width: 92%;
  box-shadow: 0 0 0 1px silver;
}

.vue_topologique div.grille table{
  table-layout:fixed; 
  border-spacing: 13px;
  border-collapse:separate;/*A ne pas enlever util pr IE!!*/
}

.vue_topologique div.grille td.chambre, .vue_topologique div.grille td.pas-de-chambre{
  height:120px;
}

.vue_topologique div.grille small{
  float: right;
  margin-top: -9px;
  border-radius: 2px;
  padding: 0 3px;
  text-shadow:  0 0 0 transparent,
              -1px  0  .0px rgba(255,255,255,.7),
               0   1px .0px rgba(255,255,255,.7),
               1px  0  .0px rgba(255,255,255,.7),
               0  -1px .0px rgba(255,255,255,.7);
}

.vue_topologique div.ccmu-0{
  border-left: 5px solid rgba(255,255,255,0.8);
}
.vue_topologique div.ccmu-1{
  border-left: 5px solid #0F0;
}
.vue_topologique div.ccmu-2{
  border-left: 5px solid #9F0;
}
.vue_topologique div.ccmu-3{
  border-left: 5px solid #FF0;
}
.vue_topologique div.ccmu-4{
  border-left: 5px solid #FFCD00;
}
.vue_topologique div.ccmu-5{
  border-left: 5px solid #F60;
}
.vue_topologique div.ccmu-D{
  border-left: 5px solid #F00;
}
.vue_topologique div.ccmu-P{
  border-left: 5px solid #0F0;
}

table.tbl td.ccmu-21, table.tbl tr:hover td.ccmu-21{
  background-color: #F00;
}

table.tbl td.ccmu-22, table.tbl tr:hover td.ccmu-22{
  background-color: #F60;
}

table.tbl td.ccmu-23, table.tbl tr:hover td.ccmu-23{
  background-color: #FF0;
}

table.tbl td.ccmu-24, table.tbl tr:hover td.ccmu-24{
  background-color: #0F0;
}
