li.atcd_hover a {
  background: #fd7 !important;
}

.hr_rank {
  border: none;
  background: #ccc;
  height: 8px;
  margin: 0;
}
.rank-selected {
  border: none;
  background: #ccc;
  height: 8px;
  margin: 0;
  outline: 3px #f88 solid;
}