li.atcd_hover a {
  background: #fd7 !important;
}

.hr_rank {
  border: none;
  background: #ccc;
  height: 8px;
  margin: 0;
}
.rank-selected {
  border: none;
  background: #ccc;
  height: 8px;
  margin: 0;
  outline: 3px #f88 solid;
}

.categorieConsult {
  padding-left: 20px;
  height: 18px;
  margin-left: 0;
}

.planning div.event-container div.pour_tiers {
  background-image: url("../../../images/icons/ray_blue.gif");
}


/** barre des disponibilités **/
div.progressBar_dispo {
  font-size: 0;
  margin:2px auto;
  line-height: 1;
  display:inline-block;
  text-align: center;
}

div.progressBar_dispo div.disponibility_bar {
  background: transparent;
  height:10px;
  padding:0;
  margin-left: 1px;
  width: 3px;
  display:inline-block;
}

div.progressBar_dispo div.disponibility_planning_0 {
  background-color: #80b859;
}

div.progressBar_dispo div.disponibility_planning_-1 {
  background-color: transparent;
}

div.progressBar_dispo div.disponibility_planning_1 {
  background-color: #ff7b66;
}

div.progressBar_dispo div.disponibility_planning_more {
  background-color: #800000;
}

.schema-dentaire {
  margin: auto;
}

.dent {
  border-radius: 22px;
  position: absolute;
  cursor: pointer;
  background:transparent;
}

.dent:hover {
  outline: 2px solid #F00;
}

.focus {
  outline: 1px solid #F00;
}

.schema-dentaire .defaut {
  background: red;
}

.schema-dentaire .absence {
  background: #999999;
}

.schema-dentaire .bridge {
  background: #6699FF;
}

.schema-dentaire .implant {
  background: #FFFF00;
}

.schema-dentaire .pivot {
  background: #FF9900;
}

.schema-dentaire .mobile {
  background: #33CC00;
}

.schema-dentaire .appareil {
  background: #FF66FF;
}

.schema-dentaire .app-partiel {
  background: #8888ff;
}

.dent-menu {
  position: absolute;
  z-index: 100;
  border: 1px solid #999;
  background: #fff;
}

.dent-menu a {
  display: block;
  cursor: pointer;
  padding: 3px;
  color: #000;
  clear: both;
}

.dent-menu a:hover {
  text-decoration: none;
  color: #666;
}

.dent-menu a.cancel {
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  background: #999;
  color: #fff;
}

.dent-legend, .dent-buttons {
  position: absolute;
  top: -4px;
  margin: 0;
}

.dent-legend {
  right: 0;
  width: 170px;
  height: 120px;
  font-size: 0.9em;
}

.dent-legend a {
  display: inline-block !important;
  width: 52px;
  float: left;
  color: #000000;
}

.dent-buttons {
  left: 0;
}

.dent-legend a {
  padding: 1px;
  margin: 1px;
}

.dent-legend a.none {
  background-color: #fff;
}

.dent-legend a.active {
  outline: 2px solid #f00;
}

.mallampati-selected {
  background: #B2CCFF;
}

div.jeton_dizaine {
  background: #333;
  border: 1px solid #666;
  border-radius: 6px;
  float: left;
  width: 11px;
  height: 11px;
  margin-right: -7px;
}

div.jeton_unite {
  background: #ddd;
  border: 1px solid #666;
  border-radius: 4px;
  float: left;
  width: 7px;
  height: 7px;
  margin-top: 2px;
  margin-right: -6px;
}

table#weber td {
  text-align: center;
}

table#weber tr.values,
table#weber tr.vocales {
  display: none;
}

table#weber tr.moyenne td {
  background-color: #ddd;
}

table#weber tr.moyenne td.aerien {
  background-color: #aaf;
  font-weight: bold;
}

table#weber tr.moyenne td.osseux {
  background-color: #faa;
  font-weight: bold;
}

table#weber td {
  text-align: center;
}

table.tbl td.pause_consult,
div.pause_consult {
  background-color: #ffa;
}

table.tbl td.premiere_consult,
div.premiere_consult {
  background-color: #faa;
}

table.tbl td.derniere_consult,
div.derniere_consult {
  background-color: #faf;
}

table.tbl td.consult_sejour,
div.consult_sejour {
  background-color: #CFFFAD;
}