/* TODO ces classes ne sont pas utilisées sur inc_vw_pre_admissions */
.non-facturable > td {
  background-image: url(../../../images/icons/ray_vertical.gif)!important; 
  background-repeat: repeat!important;
}
/** TODO Supprimer ce message plus tard **/
.refresh-page-message {
  display: none;
}
