/* TODO ces classes ne sont pas utilisées sur inc_vw_pre_admissions */
.non-facturable > td {
  background-image: url(../../../images/icons/ray_vertical.gif)!important; 
  background-repeat: repeat!important;
}
/** TODO Supprimer ce message plus tard **/
.refresh-page-message {
  display: none;
}

.inform-field {
  background-color: #fc0 !important;
}

.merge-selected {
  outline: 3px solid #88f;
}

.merge-possible {
  outline: 3px solid #ff8;
}

.merge-probable {
  outline: 3px solid #8f8;
}

.mergeable big {
  font-weight: bold;
}