/* $Id: $ */

.control {
  border: none;
  background: transparent;
  padding: 0;
  position: relative;
  display: inline; /* IE */
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.control .trigger {
  cursor: pointer;
  margin: 1px;
}

/** Form elements **/
form {
  display: inline;
  padding: 0;
  margin: 0;
}

button.intermax-result {
  opacity: .4;
}

input,
select,
textarea,
button,
textarea,
.textarea-container {
  font-size: 1em;
  margin: 1px;
  vertical-align: middle;
  font-family: inherit;
}

input[type=radio],
input[type=checkbox] {
  padding: 0;
}

input[type=image] {
  margin: 0;
  border: 0;
}

.control {
  margin: 1px !important;
}

input[type=text],
input[type=search],
input[type=tel],
input[type=number],
input[type=email],
input[type=password],
input[type=image],
textarea {
  padding: 1px;
  border-radius: 0;
  -webkit-appearance: none; /* To remove the "shadow" on iPad" */
}

/* hides the spin-button for firefox and webkit */
.numericField input[type=number]::-webkit-inner-spin-button,
.numericField input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numericField input[type=number] {
  -moz-appearance: textfield;
}

input[type=text],
input[type=search],
input[type=tel],
input[type=number],
input[type=email],
input[type=password],
select,
textarea {
  border: 1px #999 solid;
  background-color: #fff;
}

textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

.textarea-container {
  border: 1px #999 solid;
}

.textarea-container textarea {
  margin: 0;
  width: 100%;
  border: none;
  overflow-x: hidden;
  resize: none;
}

.textarea-container textarea:focus {
  outline: none;
}

input[type=checkbox].disabled {
  opacity: 0.7;
}

/** <Two rules required> !! Don't merge them
 *  http://stackoverflow.com/a/2610741/92315
 */
:-moz-placeholder {
  color: #999 !important;
}

::-webkit-input-placeholder {
  color: #999 !important;
}
/** </Two rules required> **/

select {
  padding: 0;
  white-space: nowrap;
}

optgroup, option {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  font-family: inherit;
  padding: 0;
  margin: 0;
  background: #fff;
}

option {
  padding-right: 0.6em;
}

optgroup {
  font-weight: bold;
  padding-left: 1em;
}

optgroup option {
  padding-left: 1em;
}

option.novalue {
  display:none;
}

option.checked {
  background: url(images/buttons/tick.png) no-repeat 12px;
  padding-left: 30px;
}

option[value=""] {
  font-style: italic;
}

form hr {
  border-bottom: 1px solid #ddd;
  margin: 2px;
}

fieldset,
fieldset legend {
  border: 1px solid #aaa;
  border-radius: 3px;
}

fieldset {
  background: #f3f3f3;
  background: rgba(220,220,220,0.3);
  margin-top: 0.5em;
  padding: 0.2em;
}

fieldset legend {
  font-weight: bold;
  background: #ddd;
  padding: 0.2em 1.2em;
  white-space: nowrap;
}

table.layout td.cancelled {
  background-color: #f88 !important;
}

/** On iOS, labels are not clickable, this may help (or not) **/
/*label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  display: inline-block;
}*/

.desktop label:hover {
  cursor: pointer;
}

/** Buttons **/
button,
a.button {
  font-size: 11px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
  display: inline-block;

  color: #000 !important;
  background: #eee url(images/buttons/button.png) center center repeat-x;

  border: 1px solid #999;
  border-radius: 3px;

  vertical-align: middle;
  height: 20px;
  padding: 1px;
  padding-right: 3px;
  margin: 1px;
  text-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
::-webkit-file-upload-button {
  font-size: 11px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
  display: inline-block;

  color: #000 !important;
  background: #eee url(images/buttons/button.png) center center repeat-x;

  border: 1px solid #999;
  border-radius: 3px;

  vertical-align: middle;
  height: 20px;
  padding: 1px 3px;
  margin: 1px;
  text-shadow: none;
  box-sizing: border-box;
}

button:before,
a.button:before,
button img {
  display: inline-block;
  line-height: 16px;
  margin-right: 1px;
  vertical-align: middle;
}

button::-moz-focus-inner,
a.button::-moz-focus-inner {
  border: none;
  padding: 0;
  margin: 0;
}

button:focus,
a.button:focus {
  outline: 1px dotted #000;
}
::-webkit-file-upload-button:focus {
  outline: 1px dotted #000;
}

button[type=submit],
form button:not([type]) {
  border-color: #000;
  font-weight: bold;
}

button.notext,
a.button.notext {
  font-size: 0 !important;
  color: rgba(0,0,0,0);
  overflow: hidden;
  width: 20px;
  padding: 1px;
}

button.rtl,
a.button.rtl {
  padding-left: 2px;
  padding-right: 1px;
  line-height: 18px;
}

button.rtl:before,
a.button.rtl:before {
  float: right;
  margin-right: 0;
  margin-left: 1px;
}

button:hover,
a.button:hover {
  background-image: url(images/buttons/button-over.png);
  border-color: #333;
}
::-webkit-file-upload-button:hover {
  background-image: url(images/buttons/button-over.png);
  border-color: #333;
}

a.button.disabled,
button[disabled],
input[disabled],
select[disabled],
textarea[disabled],

button[disabled="disabled"],
input[disabled="disabled"],
select[disabled="disabled"],
textarea[disabled="disabled"] { /* For IE */
  cursor: not-allowed;
  opacity: 0.5;
}

input[type=checkbox][disabled],
input[type=radio][disabled],
input[type=checkbox][disabled="disabled"],
input[type=radio][disabled="disabled"] { /* For IE */
  opacity: 1.0;
}

button[disabled]:hover,
a.button.disabled:hover,
button[disabled="disabled"]:hover { /* For IE */
  outline: none;
}

button.none {
  text-indent: 2px;
}

button.big,
a.button.big {
  font-size: 150%;
  height: 50px;
  margin: 4px 8px;
  padding: 0 2px;
  border-width: 2px;
  text-align: center;
  border-radius: 6px;
  white-space: normal;
}

button.big.notext,
a.button.big.notext {
  width: 26px;
  height: 40px;
  padding-top: 6px;
}

button.info:before, a.button.info:before {
  content: url(../../images/icons/info.png);
}

button.logout:before, a.button.logout:before {
  content: url(images/icons/logout.png);
}

button.thumb:before, a.button.thumb:before {
  content: url(images/buttons/thumb.png);
}

button.target:before, a.button.target:before {
  content: url(images/buttons/target.png);
}

button.rss:before, a.button.rss:before {
  content: url(images/buttons/rss.png);
}

button.copy:before, a.button.copy:before {
  content: url(images/buttons/copy.png);
}

button.bug:before, a.button.bug:before {
  content: url(images/buttons/bug.png);
}

button.cleanup:before, a.button.cleanup:before {
  content: url(images/buttons/cleanup.png);
}

button.agenda:before, a.button.agenda:before {
  content: url(images/buttons/agenda.png);
}

button.duplicate:before, a.button.duplicate:before {
  content: url(images/buttons/duplicate.png);
}

button.phone:before, a.button.phone:before {
  content: url(images/buttons/phone.png);
}

button.stats:before, a.button.stats:before {
  content: url(images/buttons/stats.png);
}

button.cut:before, a.button.cut:before {
  content: url(images/buttons/cut.png);
}

button.edit:before, a.button.edit:before {
  content: url(images/buttons/edit.png);
}

button.hslip:before, a.button.hslip:before {
  content: url(images/buttons/hslip.png);
}

button.vslip:before, a.button.vslip:before {
  content: url(images/buttons/vslip.png);
}

button.trash:before, a.button.trash:before {
  content: url(images/buttons/trash.png);
}

button.trash:hover, a.button.trash:hover {
  border-color: #f00;
}

button.submit:before, a.button.submit:before {
  content: url(images/buttons/save.png);
}

button.consultation:before, a.button.consultation:before {
  content: url(images/buttons/consultation.png);
}

button.consultation_create:before, a.button.consultation_create:before {
  content: url(images/buttons/consultation_create.png);
}

button.sejour_create:before, a.button.sejour_create:before {
  content: url(images/buttons/sejour_create.png);
}

button.accouchement_create:before, a.button.accouchement_create:before {
  content: url(images/buttons/accouchement_create.png);
}

button.grossesse:before, a.button.grossesse:before {
  content: url(images/icons/grossesse.png);
}

button.grossesse_create:before, a.button.grossesse_create:before {
  content: url(images/buttons/grossesse_create.png);
}

button.new:before, a.button.new:before {
  content: url(images/buttons/new.png);
}

button.print:before, a.button.print:before {
  content: url(images/buttons/print.png);
}

button.printPDF:before, a.button.printPDF:before {
  content: url(images/buttons/pdf.png);
}

button.pagelayout:before, a.button.pagelayout:before {
  content: url(images/buttons/pagelayout.png);
}

button.cancel:before, a.button.cancel:before {
  content: url(images/buttons/cancel.png);
}

button.cancel:hover, a.button.cancel:hover {
  border-color: #f00;
}

button.user:before, a.button.user:before {
  content: url(images/icons/myinfos.png);
}

button.close:before, a.button.close:before {
  content: url(images/buttons/cancel.png);
}

button.carriage_return:before, a.button.carriage_return:before {
  content: url(images/buttons/carriage_return.png);
}

button.mail:before, a.button.mail:before {
  content: url(images/buttons/mail.png);
}

button.modify:before, a.button.modify:before {
  content: url(images/buttons/save.png);
}

button.save:before, a.button.save:before {
  content: url(images/buttons/save.png);
}

button.search:before, a.button.search:before {
  content: url(images/buttons/search.png);
}

button.lookup:before, a.button.lookup:before {
  content: url(images/buttons/lookup.png);
}

button.mediuser_black:before, a.button.mediuser_black:before {
  content: url(../../images/icons/personnel.png);
}

button.lock:before, a.button.lock:before {
  content: url(images/buttons/lock.png);
}

button.unlock:before, a.button.unlock:before {
  content: url(images/buttons/unlock.png);
}

button.tick:before, a.button.tick:before {
  content: url(images/buttons/tick.png);
}

button.tick_cancel:before, a.button.tick_cancel:before {
  content: url(images/buttons/tick_cancel.png);
}

button.pdf:before, a.button.pdf:before {
  content: url(images/buttons/pdf.png);
}

button.archive:before, a.button.archive:before {
  content: url("images/buttons/archive.png");
}

button.down:before, a.button.down:before {
  content: url(images/buttons/down.png);
}

button.up:before, a.button.up:before {
  content: url(images/buttons/up.png);
}

button.left:before, a.button.left:before {
  content: url(images/buttons/left.png);
}

button.left-disabled:before, a.button.left-disabled:before {
  content: url(images/buttons/left-disabled.png);
}

button.right:before, a.button.right:before {
  content: url(images/buttons/right.png);
}

button.right-disabled:before, a.button.right-disabled:before {
  content: url(images/buttons/right-disabled.png);
}

button.rotate_left:before, a.button.rotate_left:before {
  content: url(images/buttons/rotate-left.png);
}

button.rotate_right:before, a.button.rotate_right:before {
  content: url(images/buttons/rotate-right.png);
}

button.change:before, a.button.change:before {
  content: url(images/buttons/change.png);
}

button.add:before, a.button.add:before {
  content: url(images/buttons/add.png);
}

button.remove:before, a.button.remove:before {
  content: url(images/buttons/remove.png);
}

button.stop:before, a.button.stop:before {
  content: url(images/buttons/stop.png);
}

button.warning:before, a.button.warning:before {
  content: url(images/buttons/warning.png);
}

button.send:before, a.button.send:before {
  content: url(images/buttons/send.png);
}

button.send-cancel:before, a.button.send-cancel:before {
  content: url(images/buttons/send-cancel.png);
}

button.send-again:before, a.button.send-again:before {
  content: url(images/buttons/send-again.png);
}

button.send-problem:before, a.button.send-problem:before {
  content: url(images/buttons/send-problem.png);
}

button.send-auto:before, a.button.send-auto:before {
  content: url(images/buttons/send-auto.png);
}

button.vcard:before, a.button.vcard:before {
  content: url(images/buttons/vcard.png);
}

button.merge:before, a.button.merge:before {
  content: url(images/buttons/merge.png);
}

button.barcode:before, a.button.barcode:before {
  content: url(images/buttons/barcode.png);
}

button.multiline:before, a.button.multiline:before {
  content: url(images/buttons/multiline.png);
}

button.singleline:before, a.button.singleline:before {
  content: url(images/buttons/singleline.png);
}

button.erase:before, a.button.erase:before {
  content: url(images/buttons/eraser.png);
}

button.new-lightning:before, a.button.new-lightning:before {
  content: url(images/buttons/new-lightning.png);
}

button.undo:before, a.button.undo:before {
  content: url(images/buttons/undo.png);
}

button.tag:before, a.button.tag:before {
  content: url(images/buttons/tag.png);
}

button.tag-edit:before, a.button.tag-edit:before {
  content: url(images/buttons/tag-edit.png);
}

button.tag-delete:before, a.button.tag-delete:before {
  content: url(images/buttons/tag-delete.png);
}

button.tag-add:before, a.button.tag-add:before {
  content: url(images/buttons/tag-add.png);
}

button.tag-arrow:before, a.button.tag-arrow:before {
  content: url(images/buttons/tag-arrow.png);
}

button.tag-warning:before, a.button.tag-warning:before {
  content: url(images/buttons/tag-warning.png);
}

button.formula:before, a.button.formula:before {
  content: url(images/buttons/formula.png);
}

button.sum:before, a.button.sum:before {
  content: url(images/buttons/sum.png);
}

button.loading:before, a.button.loading:before {
  content: url(images/icons/loading.gif) !important;
}

button.list:before, a.button.list:before {
  content: url(images/buttons/list.png);
}

button.history:before, a.button.history:before {
  content: url(images/buttons/history.gif);
}

button.brancard:before, a.button.brancard:before {
  content: url(images/buttons/brancard.png);
}

button.zoom-in:before, a.button.zoom-in:before {
  content: url(images/buttons/zoom_in.png);
}

button.zoom-out:before, a.button.zoom-out:before {
  content: url(images/buttons/zoom_out.png);
}

button.forms:before, a.button.forms:before {
  content: url(images/buttons/forms.png);
}

button.select-all:before, a.select-all:before {
  content: url(images/buttons/select-all.png);
}

button.clock:before, a.button.clock:before {
  content: url(images/buttons/planning.png);
}

button.door-in:before, a.button.door-in:before {
  content: url(images/buttons/door_in.png);
}

button.door-out:before, a.button.door-out:before {
  content: url(images/buttons/door_out.png);
}

button.bistouri:before, a.button.bistouri:before {
  content: url(images/buttons/bistouri.png);
}

button.fermeture-plaie:before, a.button.fermeture-plaie:before {
  content: url(images/buttons/fermeture-plaie.png);
}

button.intubation:before, a.button.intubation:before {
  content: url(images/buttons/intubation.png);
}

button.extubation:before, a.button.extubation:before {
  content: url(images/buttons/extubation.png);
}

button.injection:before, a.button.injection:before {
  content: url(images/buttons/injection.png);
}

button.download:before, a.button.download:before {
  content: url(images/buttons/download.png);
}

button.upload:before, a.button.upload:before {
  content: url(images/buttons/upload.png);
}

button.thumbnails:before, a.button.thumbnails:before {
  content: url(images/buttons/thumbnails.png);
}

button.help:before, a.button.help:before {
  content: url(images/buttons/help.png);
}

button.deficience:before, a.button.deficience:before {
  content: url(images/buttons/deficience.png);
}

button.modele_etiquette:before, a.modele_etiquette:before {
  content: url(images/buttons/modele_etiquette.png);
}

button.sourdine:before, a.sourdine:before {
  content: url(images/buttons/speaker_mute.png);
}

button.nosourdine:before, a.nosourdine:before {
  content: url(images/buttons/volume_lvl_3.png);
}

button.link:before, a.button.link:before {
  content: url(images/buttons/link.png);
}

button.unlink:before, a.button.unlink:before {
  content: url(images/buttons/unlink.png);
}

button.play:before, a.button.play:before {
  content: url(images/buttons/play.png);
}

button.pause:before, a.button.pause:before {
  content: url(images/buttons/pause.png);
}

button.media_stop:before, a.button.media_stop:before {
  content: url(images/buttons/media_stop.png);
}

button.comment:before, a.button.comment:before {
  content: url(images/buttons/comment.png);
}

button.calcul:before, a.button.calcul:before {
  content: url(images/buttons/calcul.png);
}

button.idex:before, a.button.idex:before {
  content: url(images/icons/external.png);
}

button.header_footer:before, a.button.header_footer:before {
  content: url(images/buttons/header_footer.png);
}

button.switch:before, a.button.switch:before {
  content: url(images/buttons/switch.png);
}

button.reboot:before, a.button.reboot:before {
  content: url(images/buttons/reboot.png);
}

button.drawing:before, a.button.drawing:before {
    content: url(images/buttons/drawing.png);
}

button.magic_wand:before, a.button.magic_wand:before {
  content: url(images/buttons/magic_wand.png);
}

/** dossier de soins **/
button.soins:before, a.button.soins:before {
  content: url(images/buttons/soins.png);
}

button.glob:before, a.button.glob:before {
  content: url(images/buttons/globe_blue.png);
}

button.report_magnify:before, a.button.report_magnify:before {
  content: url(images/buttons/report_magnify.png);
}

button.gantt:before, a.button.gantt:before {
  content: url(images/buttons/gantt.png);
}

button.back-forward:before, a.button.back-forward:before {
  content: url(images/buttons/back-forward.png);
}

button.imagerie:before, a.button.imagerie:before {
  content: url(images/buttons/imagerie.png);
}

button.dice:before, a.button.dice:before {
  content: url(images/buttons/dice.png);
}

button.checklist:before, a.button.checklist:before {
  content: url(images/buttons/checklist.png);
}

button.favoris:before, a.button.favoris:before {
  content: url(images/buttons/favoris.png);
}

button.import:before, a.button.import:before {
  content: url(images/buttons/import.png);
}

button.selected {
  border: 2px solid #000;
}

button.compact,
a.button.compact {
  margin: -1px !important;
}

button.labo:before, a.button.labo:before {
  content: url(../../images/icons/labo.png);
}

optgroup.group {
  text-align: center;
  font-variant: small-caps;
}

form label.notNull,
form label.canNull,
form label.notNullOK
/*,
form label.checkNull*/ {
  padding-right: 7px;
  font-weight: bold;
  background-position: center right;
  background-repeat: no-repeat;
}

form label.notNull {
  background-image: url(../mediboard/images/icons/notNull.png);
}

form label.canNull {
  background-image: url(../mediboard/images/icons/canNull.png);
}

form label.notNullOK {
  background-image: url(../mediboard/images/icons/notNullOK.png);
}

/*
form label.checkNull {
  background-image: url(../mediboard/images/icons/checkNull.png);
}
*/

form label.error,
table.form th.category label.error {
  color: #f00;
}

textarea[readonly],
textarea[readonly]:focus,
input[type=text][readonly],
input[type=text][readonly]:focus,
input[type=number][readonly],
input[type=number][readonly]:focus {
  border: 1px dotted #666;
  background: none;
  background: rgba(255,255,255,0.4);
}

.textarea-container textarea[readonly],
.textarea-container textarea[readonly]:focus {
  border: none;
}

input[type=text].date {
  width: 80px;
}

input[type=text].time {
  width: 50px;
}

input[type=text].dateTime {
  width: 110px;
}

div.autocomplete {
  position:absolute;
  width:250px;
  max-height:200px;
  overflow: auto;
  overflow-x: hidden;
  background-color:white;
  border:1px solid #999;
  margin-top: -2px;
  margin-bottom: 18px;
  padding: 0;
  z-index: 400;
  white-space: normal;
}

div.autocomplete ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

div.autocomplete ul em {
  text-decoration: underline;
  font-style: normal;
}

div.autocomplete ul li.selected {
  background-color: #fafaa4 !important;
  /*font-weight:bold;*/
}

div.autocomplete ul li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 2px;
  cursor: pointer;
  line-height: 100%;
  background-image: url(images/pictures/bg-gradient.png);
  background-position: center top;
  max-height: 55px;
  overflow: hidden;
}

/*div.autocomplete ul li:nth-of-type(2n+1) {
  background-color: #eee;
}*/

div.autocomplete ul li small {
  white-space: normal;
}

input.autocomplete {
  background-image: url(../../images/icons/throbber.gif);
  background-position: 100% 1px;
  background-repeat: no-repeat;
  padding-right: 17px;
}

input.autocomplete:focus {
  padding-right: 17px;
}

input.autocomplete.throbbing {
  background-position: 100% -19px;
}

input.search {
  background-image: url(../../images/icons/search.png);
  background-position: 100% 1px;
  background-repeat: no-repeat;
  padding-right: 17px;
}

div.dropdown {
  border:none;
  margin:0;
  padding:0;
  position:relative;
  display: -moz-inline-box;
  display: inline-block;
  padding-right: 17px;
}

div.dropdown.fixed-width,
div.dropdown.fixed-width input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

div.dropdown-trigger {
  width: 16px;
  padding:0;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  margin: 1px;
  cursor:pointer;
  background-repeat: repeat-x;
  background-position: center center;
  background-image: url(images/buttons/button.png);
  border: 1px solid #999;
  border-radius: 0 3px 3px 0;
}

.desktop div.dropdown-trigger:hover {
  background-image: url(images/buttons/button-over.png);
  border-color: #333;
}

div.dropdown-trigger div {
  position:absolute;
  right:0;
  top:0;
  left:0;
  bottom:0;
  background: url(../../images/buttons/down.gif) center center no-repeat;
  border: 1px solid #eee;
  border-radius: 0 3px 3px 0;
}

input.barcode {
  background-image: url(../../images/icons/barcode.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 19px;
}

.textarea-helped {
  position: relative;
}

table.tbl .textarea-helped a {
  display: inline;
}

.textarea-helped .toolbar {
  position: absolute;
  bottom: 1px;
  right: 1px;
  margin: 2px 1px;
  padding: 0;
  vertical-align: middle;
  text-align: right;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.textarea-helped .toolbar.left {
  right: auto;
  left: 1px;
}

.textarea-helped .toolbar.left .throbber,
.textarea-helped .toolbar.left .throbber-background {
  left: auto;
  right: -20px;
}

.textarea-helped .toolbar:hover {
  opacity: 1;
}

.textarea-helped .toolbar a:hover img {
  outline: 1px dotted #999;
}

.textarea-helped .toolbar a:focus {
  outline: none;
}

.textarea-helped .toolbar img {
  margin: 1px;
  padding: 1px;
}

.textarea-helped .sub-toolbar {
  position: absolute;
  top: 20px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -3px;
  padding: 2px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 3px;
}

.textarea-helped .sub-toolbar img {
  margin-bottom: 0;
}

.textarea-helped .toolbar a:hover .sub-toolbar img {
  outline: none;
}

.textarea-helped .toolbar a:hover .sub-toolbar img:hover {
  outline: 1px dotted #999;
}


.textarea-helped .throbber,
.textarea-helped .throbber-background {
  position: absolute;
  height: 13px;
  width: 13px;
  left: -20px;
  margin: 4px;
  background-image: url(../../images/icons/throbber.gif);
  background-position: 100% -20px;
  background-repeat: no-repeat;
}

.textarea-helped .throbber-background {
  background-position: 100% 0;
}

textarea#htmlarea {
  width: 99%;
  height: 100%;
}

.numericField {
  border: none !important;
  border-collapse: collapse;
  border-spacing: 0;
  display: -moz-inline-box;
  display: inline-block;
  position: static; /* To allow filter:opacity in IE */
  white-space: normal; /* To allow full width inputs in the forms module */
}

.numericField td {
  padding: 0!important;
  border: none!important;
}

/*.numericField .arrows {
  width: 1%;
}*/

.numericField .arrows div {
  /*outline: 1px solid #999;*/
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  margin: -1px;
  height: 9px;
  width: 1.3em;
  right: -2px;
  border: 1px solid #999;
}

.numericField .arrows div.up {
  border-radius: 3px 3px 0 0;
  background-image: url(../../images/buttons/up-small.gif);
  border-bottom: none;
  margin-bottom: 0;
}

.numericField .arrows div.down {
  border-radius: 0 0 3px 3px;
  background-image: url(../../images/buttons/down-small.gif);
}

.desktop .numericField .arrows div:hover {
  background-color: #FFF;
}

.numericField .fraction {
  color: #666;
  padding: 0 3px !important;
  line-height: 18px;
  background: none;
}

.numericField input {
  margin: 0;
}

.numericField.big-buttons button:before {
  line-height: 14px;
  vertical-align: top;
}

.numericField.big-buttons button.down:before {
  content: "-";
}

.numericField.big-buttons button.up:before {
  content: "+";
}

.numericField.big-buttons button.down {
  margin-right: -1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.numericField.big-buttons button.up {
  margin-left: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.numericField.big-buttons button {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  padding: 1px;
  font-size: 16px;
  font-weight: bold;
  width: 14px;
  height: 14px;
  margin: 0;
  text-align: center;
}

.grippie-h {
  background: #CCC url(../../images/buttons/drag-n.gif) center center no-repeat;
  height: 5px;
  margin: -1px;
  cursor: n-resize;
}

span.highlight {
  background-color: yellow;
}

.cursor-highlight {
  outline: 2px dotted red;
  z-index: 2000;
  position: relative;
}

.autocomplete span.highlight {
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

.ajax-upload {
  position: relative;
  width: 8em;
  height: 20px;
  overflow: hidden;
}

.ajax-upload .fakefile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.ajax-upload input[type="file"] {
  position: relative;
  text-align: right;
  opacity: 0;
  z-index: 20;
  right: 0;
}

select.helper {
  max-width: 10em;
}

.color-view {
  padding: 0 3px;
  margin: 0 3px;
  border: 1px solid #aaa;
}

.ipad textarea {
  min-height: 5em;
  resize: vertical;
}

/** Readonly mode **/
form.readonly .inputExtension,
form.readonly .dropdown-trigger,
form.readonly .numericField .arrows {
  display: none;
}

form.readonly .input.autocomplete,
form.readonly .input.dropdown {
  background-image: none;
  padding-right: 0;
}

form.readonly input,
form.readonly select,
form.readonly textarea {
  pointer-events: none;
}

form.readonly .button.remove, form.readonly button.remove,
form.readonly .button.add,    form.readonly button.add,
form.readonly .button.merge,  form.readonly button.merge,
form.readonly .button.trash,  form.readonly button.trash,
form.readonly .button.new,    form.readonly button.new,
form.readonly .button.save,   form.readonly button.save,
form.readonly .button.submit, form.readonly button.submit,
form.readonly .button.cancel, form.readonly button.cancel,
form.readonly .button.modify, form.readonly button.modify {
  display: none;
}
