body {
  font-family: Georgia, serifs;
  font-size: 12px;
  background: #fff;
  padding: 2px;
	padding-right: 6px;
}

textarea#htmlarea {
  width: 99%;
  height: 100%;
}

span.hilite {
  background: #f5f;
}

@media screen {
	#header,  #footer {
		margin: 10px;
		border: 2px dashed #ccc;
		padding: 3px;
	  opacity: 0.4;
	  overflow: hidden;
	}
	
	#footer {
	  display: none;
	}
	
	#header:hover, #footer:hover {
	  opacity: 1;
	}

	html {
		background: #eee;
	}
	
	body {
	  border: 1px solid #aaa;
	  margin: 10px;
	  padding: 2px;
	  padding-right: 6px;
	}

	table {
		border: 1px solid #888;
		border-collapse: collapse;
	}
	
	span.field,
  span.field * {
    background: #dde;
  }

  span.value,
  span.value * {
    background: #eee;
  }

  span.name {
    background: #ded;
  }

  span.choice {
    background: #eee;
  }
  
  hr.pagebreak {
    border: 1px dotted #aaa;
    border-width: 1px 0;
    margin: 2px -10px;
    background: #bbb;
    height: 5px;
  }
  
  img.barcode {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAABCAIAAABG0om7AAAABGdBTUEAALGPC%2FxhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuND6NzHYAAAAXSURBVBhXYziMBP4jAYgwRIB4NcgmAADkS0%2FP67r7igAAAABJRU5ErkJggg%3D%3D);
    margin: 0.2em;
  }
}

@media print {
	#header, #footer {
	  width: 100%;
		position: fixed;
	  overflow: hidden;
		border: 0px solid #888;
	}

	#header {
	  top: 0em;
	  border-bottom-width: 1px;
	}
	
	#footer {
	  bottom: 0em;
	  border-top-width: 1px;
	}
	
  hr.pagebreak {
    visibility: hidden;
    page-break-before:always;
  }
}