body {
  font-family: Georgia, serifs;
  font-size: 12px;
  background: #fff;
}

textarea#htmlarea {
  width: 99%;
  height: 100%;
}

span.hilite {
  background: #f5f;
}

table {
	margin: 2px;
	border: 1px solid #888;
	border-collapse: collapse;
}

@media screen {
	html {
		background: #eee;
	}
	
	body {
	  border: 1px solid #aaa;
	  margin: 10px;
	}

	span.field {
    background: #bbd;
  }

  span.value {
    background: #ddd;
  }

  span.name {
    background: #bdb;
  }

  span.choice {
    background: #ddd;
  }
  
  hr.pagebreak {
    border: 1px dotted #aaa;
    border-width: 1px 0;
    margin: 2px -10px;
    background: #bbb;
    height: 5px;
  }
}

@media print {
  hr.pagebreak {
    border-style: solid;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #fff;
    page-break-before:always;
  }
}
