.control {
  display: inline;
}

button img, 
a.button img {
  vertical-align: middle;
  margin-top: 0 2px;
}

/* the :not pseudo selector is not recognized, 
 * and the input's type is set to "submit" if
 * not set or unknown  */
form button[type="submit"] {
  border-color: #000;
  font-weight: bold;
}

a.button img,
button img {
  margin-left: 0;
}

.ua-msie-8 select {
  /* IE will cut off the options when a 
  width is specified on the select tag */
  width: auto !important;
}

#nav img {
  /* IE7 and below */
  *margin: 0;
}

/* A transparent pixel because IE doesn't consider "transparent" color as opaque for the mouse pointer */
.dent {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQAAAAA3bvkkAAAAAnRSTlMAAQGU%2Fa4AAAAKSURBVHjaY2oAAACGAIOk3dDiAAAAAElFTkSuQmCC);
}

/* Cross browser opacity */
  .opacity-0, 
tr.opacity-0 > td, 
tr.opacity-0 > th {
  -ms-filter: "alpha(opacity=0)";
}

  .opacity-10, 
tr.opacity-10 > td, 
tr.opacity-10 > th {
  -ms-filter: "alpha(opacity=10)";
}

  .opacity-20, 
tr.opacity-20 > td, 
tr.opacity-20 > th {
  -ms-filter: "alpha(opacity=20)";
}

  .opacity-30, 
tr.opacity-30 > td, 
tr.opacity-30 > th {
  -ms-filter: "alpha(opacity=30)";
}

  .opacity-40, 
tr.opacity-40 > td, 
tr.opacity-40 > th {
  -ms-filter: "alpha(opacity=40)";
}

  .opacity-50, 
tr.opacity-50 > td, 
tr.opacity-50 > th {
  -ms-filter: "alpha(opacity=50)";
}

  .opacity-60, 
tr.opacity-60 > td, 
tr.opacity-60 > th {
  -ms-filter: "alpha(opacity=60)";
}

  .opacity-70, 
tr.opacity-70 > td, 
tr.opacity-70 > th {
  -ms-filter: "alpha(opacity=70)";
}

  .opacity-80, 
tr.opacity-80 > td, 
tr.opacity-80 > th {
  -ms-filter: "alpha(opacity=80)";
}

  .opacity-90, 
tr.opacity-90 > td, 
tr.opacity-90 > th {
  -ms-filter: "alpha(opacity=90)";
}

  .opacity-100, 
tr.opacity-100 > td, 
tr.opacity-100 > th {
  -ms-filter: "alpha(opacity=100)";
}
