.control {
  display: inline;
}

button {
	padding: 1px 3px;
}

button, a.button {
  behavior: expression(processIE7Button(this));
  line-height: 1.0em;
}

button:before,
a.button:before {
  vertical-align: top;
}

button img, a.button img {
  vertical-align: middle;
  margin-top: 0 2px;
}

a.button img,
button img {
  margin-left: 0;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
  border: none;
  background: transparent;
}

.touchscreen button.notext,
.touchscreen button.notext:hover {
  font-size: 0;
  width: 24px;
  height: 24px;
}

select {
  /* IE will cut off the options when a 
  width is specified on the select tag */
  width: auto !important;
}

#nav img {
  /* IE7 and below */
  *margin: 0;
}
