.control {
  display: inline;
}

button {
	padding: 1px 3px;
}

button, a.button {
  behavior: expression(processIE7Button(this));
  line-height: 1.0em;
}

button:before,
a.button:before {
  vertical-align: top;
}

button img, a.button img {
  vertical-align: middle;
  margin-top: 0 2px;
}

a.button img,
button img {
  margin-left: 0;
}

.touchscreen button.notext,
.touchscreen button.notext:hover {
  font-size: 0;
  width: 24px;
  height: 24px;
}