/* $Id$ */

@import url(xhtml.css);
@import url(print.css);
@import url(screen.css);
@import url(tables.css);
@import url(forms.css);
@import url(messages.css);
@import url(tooltips.css);
@import url(ui.css);
@import url(dev.css);
@import url(vertical.css);
@import url(ie.css);

/** 
z-index ordering (foreground to background) :
 1500 div#console, #profiler-toolbar, #profiler-toggle
 1400 #waitingMsgText
 1300 #waitingMsgMask
 1200 #systemMsg

 1150 dropDownMenu (style aero-blue)
 1100 div.tooltip
  
 1002 div.modal .ajax-loading
 1000 .datepickerControl
  801 div.modal
  
  800 .ajax-loading
  
  400 div.autocomplete
  100 .planning .event:hover
  100 .planning .selected, .planning .selected:hover
  100 .dent-menu
  100 .bargraph .threshold
   20 .ajax-upload input[type="file"]
   10 .ajax-upload .fakefile
**/

@font-face {
  font-family: opendyslexic;
  src: url(fonts/open_dyslexic/eot/OpenDyslexic-Regular.eot?) format('eot'),
       url(fonts/open_dyslexic/woff/OpenDyslexic-Regular.woff) format('woff'),
       url(fonts/open_dyslexic/otf/OpenDyslexic-Regular.otf) format('opentype');
}

@font-face {
  font-family: opendyslexic;
  font-weight: bold;
  src: url(fonts/open_dyslexic/eot/OpenDyslexic-Bold.eot?) format('eot'),
       url(fonts/open_dyslexic/woff/OpenDyslexic-Bold.woff) format('woff'),
       url(fonts/open_dyslexic/otf/OpenDyslexic-Bold.otf) format('opentype');
}

@font-face {
  font-family: opendyslexic;
  font-weight: normal;
  font-style: italic;
  src: url(fonts/open_dyslexic/eot/OpenDyslexic-Italic.eot?) format('eot'),
       url(fonts/open_dyslexic/woff/OpenDyslexic-Italic.woff) format('woff'),
       url(fonts/open_dyslexic/otf/OpenDyslexic-Italic.otf) format('opentype');
}

@font-face {
  font-family: opendyslexic;
  font-weight: bold;
  font-style: italic;
  src: url(fonts/open_dyslexic/eot/OpenDyslexic-BoldItalic.eot?) format('eot'),
       url(fonts/open_dyslexic/woff/OpenDyslexic-BoldItalic.woff) format('woff'),
       url(fonts/open_dyslexic/otf/OpenDyslexic-BoldItalic.otf) format('opentype');
}

@media screen {
  body.dyslexic {
    font-family: opendyslexic, arial, helvetica, sans-serif;
  }
}

body.touchscreen {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout:none;
}

div.cancelled,
span.cancelled {
  color: #fff;
  background-color: #f88;
  text-shadow: 0 0 0 rgba(0, 0, 0, .0), 0 0 2px rgba(0, 0, 0, .7);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

li.cancelled {
  opacity: 0.4;
  background-color: #eee;
}

tr.script {
  display: none;
}

/** Must not apply it to every tag, or it will break textareas behavior */
td.text,
th.text,
legend.text,
div.text {
  white-space: normal !important;
  /*word-wrap: break-word;*/
}

td.compact,
th.compact,
div.compact,
span.compact {
  line-height: 1;
  font-size: 0.9em; 
  color: #666;
}

td.compact strong,
th.compact strong,
div.compact strong,
span.compact strong{
  line-height: 1;
  font-size: 0.9em; 
  color: #000;
}

a.selected{
  background: url(../../images/icons/td_selected.png) no-repeat bottom center;
  padding-bottom: 8px;    
}  

a.selectable{
  padding-bottom: 8px;  
}
a.selectable:hover{
  background: url(../../images/icons/td_selected.png) no-repeat bottom center;
  padding-bottom: 8px;    
}  

a.sortable{
  background: url(../../images/icons/a_sortable.png) no-repeat bottom center;
  padding-bottom: 8px;  
}

a.sortable:hover{
  background: url(../../images/icons/a_asc.png) no-repeat bottom center;
  padding-bottom: 8px;  
}

a.ASC{
  background: url(../../images/icons/a_asc.png) no-repeat bottom center;
  padding-bottom: 8px;
}

a.ASC:hover{
  background: url(../../images/icons/a_desc.png) no-repeat bottom center;
  padding-bottom: 8px;
}

a.DESC{
  background: url(../../images/icons/a_desc.png) no-repeat bottom center;
  padding-bottom: 8px;
}
a.DESC:hover{
  background: url(../../images/icons/a_asc.png) no-repeat bottom center;
  padding-bottom: 8px;
}

/* Drag'n'Drop */
.dropover {
  outline: 4px solid #f88;
}

.dropactive {
  outline: 4px solid #9ECFFF;
}

.ua-firefox .dropactive {
  outline: none;
  box-shadow: 0 0 0 4px #9ECFFF;
}

/* Should not be used */
div.dragged {
  background-color: #ffc;
  border: 1px solid black;
  padding: 2px 10px;
}

.draggable:hover {
  cursor: move;
  background-color: #fff;
  outline: 3px solid #8f8;
}

/* tabbed boxes */
td.tabox {
  background-color: #ccc;
  border: solid #ccc 2px;
}

span.hilite {
  background: #f5f;
}

/* Installation wizard */
.wizard {
  padding: 20px;
  width: 900px;
  margin: 40px auto; 
  border: 2px solid #666;
  background: #eee;
}

.wizard .toc {
  position: fixed;
  right: 20px;
  top: 20px;
  background: #fff;
  border: 2px solid #666;
  padding: 8px;
  opacity: .7;
  width: 180px;
  font-size: 1.1em;
}

.wizard .toc ol {
  margin: 0;
  padding-left: 20px;
  line-height: 1.2;
}

.wizard .toc img {
  width: 12px;
  float: none; 
  margin-right: 2px;
}

.wizard .toc a.logout {
  background: #ddd url(images/icons/logout.png) no-repeat 3px 3px;
  padding: 3px;
  padding-left: 22px;
  vertical-align: middle;
  line-height: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.wizard .toc a,
.wizard .toc strong {
  display: block;
  color: #000;
}

.wizard .navigation {
  text-align: center;
  margin: 20px;
}

.wizard iframe {
  display: block; 
  width: 100%; 
  background: #fff; 
  border: 1px solid #000;
}

div.generated {
  margin: 5px;
  text-align: center;
  font-size: 90%;
}

#slideshow {
  margin: 50px auto 0;
  width: 60%;
  font-size: 150%;
  text-align: center;
}

div.about div.text {
  height: 300px;
}

div.about div.nav {
  border-top: 1px solid #aaa;
}

.inputExtension {
  cursor: pointer;
}

#performance {
  position: fixed;
  bottom: 0;
  right: 20px;
  border: 1px solid #ddd;
  border-bottom: none;
  cursor: pointer;
  border-radius: 2px 2px 0 0;
  z-index: 5000;
  background: #eee;
  opacity: 0.7;
}

#performance:hover {
  opacity: 1.0;
}

#performance, 
#performance ul {
  list-style-type: none;
  padding: 0;
}

#performance strong {
  min-width: 12em;
  display: inline-block;
}

#performance strong.title {
  display: none;
}

#performance > li {
  display: inline-block;
  width: 10em;
  vertical-align: middle;
  background: #fff;
  padding: 0px;
  margin: 0;
  margin-right: -2px;
  height: 20px;
  padding-left: 4px;
  white-space: nowrap;
  position: relative;
}

#performance > li:before {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  width: 16px;
  position: relative;
  top: 2px;
  content: "";
  background-size: 16px 16px;
}

#performance > li.performance-time:before {
  background-image: url(../../images/icons/hourglass.png);
}

#performance > li.performance-memory:before {
  background-image: url(../../images/icons/memory.png);
}

#performance > li.performance-objects:before {
  background-image: url(../../images/icons/database_load.png);
}

#performance > li.performance-autoload:before {
  background-image: url(../../images/icons/autoload.png);
}

#performance > li.performance-function:before {
  background-image: url(../../images/icons/functions.png);
}

#performance > li.performance-ccam:before {
  background-image: url(../../modules/dPccam/images/icon.png);
}

#performance > li.performance-network:before {
  background-image: url(../../images/icons/network.png);
}

#performance > li.performance-reloadcache:before {
  background-image: url(../mediboard/images/buttons/change.png);
}

#performance > li.performance-pagesize:before {
  background-image: url(../../images/icons/kilogram_weight.png);
}

#performance > li.performance-l10n:before {
  background-image: url(../../images/icons/flag-fr.png);
}

#performance > li.close {
  width: 1em;
  color: #666;
}

#performance > li.export {
  width: 2em;
}

#performance > li.export:before {
  background-image: url(images/buttons/submit.png);
}

#performance > li.warning {
  background-color: rgba(255,0,0,0.6)!important;
  font-weight: bold;
}

#performance > li.close:before {
  content: "x";
}

#performance > li > ul {
  display: none;
  background: #eee;
}

#performance > li > ul > li {
  padding: 0px 2px;
}

#performance > li:hover {
  background: #eee;
}

#performance > li:hover > ul {
  border: 1px solid #ddd;
  border-bottom: none;
  display: block;
  position: absolute;
  bottom: 21px;
  left: 1px;
  min-width: 10em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#performance span.performance-count {
  color: #009;
}

#performance .performance-bar {
  display: inline-block;
  width: 40px;
  background: #ddd;
}

#performance .performance-bar div {
  background: orange; 
  height: 8px;
}

option.validation {
  height: 16px;
  background-image: url(images/buttons/tick.png);
  background-repeat: no-repeat;
  background-position: center right;
}

option.modification {
  height: 16px;
  background-image: url(../../images/icons/warning.png);
  background-repeat: no-repeat;
  background-position: center right;
}

div.sejour {
   font-weight: bold;
}

table.tbl th.element{
  background-color: #ddf;
  color: #000;
}

table.tbl th.element a{
  color: #000;
}

.div_signature {
  position: absolute;
  right: 25px;
}

.div_signature button {
  margin-top: -3px;
}

div.arretee,
span.hatching,
table.tbl th.arretee, table.tbl th.hatching, 
table.tbl td.arretee, table.tbl td.hatching,
table.tbl tr.hatching th, 
table.tbl tr.hatching td,
table.planningBloc tr.hatching th, 
table.planningBloc tr.hatching td,
table.form tr.hatching th,
table.form tr.hatching td {
  background-image: url(images/icons/ray.gif);
}

/**
 * Geshi xml
 */
.re0 {
  color:#000066;  
} 

.re1, .re2 {
  color:#000000;
  font-weight: bold; 
}

.st0 {
  color:#FF0000; 
}

.sc3 {
  color:#009900;
}

.de1 {
  font-family: "lucida console", "courier new", courier, monospace;
  font-size: 1em; 
  line-height: 1.2em; 
}

pre.geshi ol {
  padding-left: 3em;
}

strong.realises {
  color: #080;
}

strong.annules {
  color: #800;
}

strong.planifies {
  color: #888;
}

strong.csarr {
  color: #080;
}

strong.cdarr {
  color: #800;
}

td.tick {
  background: url(images/buttons/tick.png) no-repeat 6px;
}

td.loading {
  background: url(images/icons/loading.gif) no-repeat 6px;
}

/* Cross browser opacity */
.opacity-0 {
  opacity: 0.0;
}
.opacity-10 {
  opacity: 0.1;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-70 {
  opacity: 0.7;
}
.opacity-80 {
  opacity: 0.8;
}
.opacity-90 {
  opacity: 0.9;
}
.opacity-100 {
  opacity: 1.0;
}

/* Firefox doesn't print elements with opacity */
@media print {
  .ua-firefox .opacity-10 {
    opacity: 1.0;
  }
  .ua-firefox .opacity-20 {
    opacity: 1.0;
  }
  .ua-firefox .opacity-30 {
    opacity: 1.0;
  }
  .ua-firefox .opacity-40 {
    opacity: 1.0;
  }
  .ua-firefox .opacity-50 {
    opacity: 1.0;
  }
  .ua-firefox .opacity-60 {
    opacity: 1.0;
  }
  .ua-firefox .opacity-70 {
    opacity: 1.0;
  }
  .ua-firefox .opacity-80 {
    opacity: 1.0;
  }
  .ua-firefox .opacity-90 {
    opacity: 1.0;
  }
}

td.desistee {
  background: #faa !important;
}

td.waiting {
  background: #fda !important;
}

td.remplacement_ok {
  background: #bfb !important;
}

span.circled {
  display: inline-block;
  border: 1px solid #abe;
  border-radius: 3px;
  padding: 1px;
  margin: 1px;
  vertical-align: middle;
}

a.inline-url {
  display: inline !important;
}

.release-info {
  color: #999;
  font-size: 0.8em;
}

.deprecated-browser-warning {
  background-color: #FFA65F;
  padding: 0.5em;
  border-bottom: 1px solid #333;
  font-size: 1.4em;
}