/* $Id$ */

/* XHTML elements */

html, body {
/*  height: 100%;*/
  width: 100%;
}

body {
  font-family: tahoma, verdana, arial, sans-serif;
  font-size: 11px;  
  background: #ddf;
  margin: 0px;
}

@media print {
  body { 
    background: transparent;
  }
  .not-printable {
    display: none;
  }
}

iframe {
  border: none;
}

pre {
  border: 1px solid #aaa;
  line-height: 10px;
  padding: 2px 10px;
  font-family: "lucida console", "courier new", courier, monospace;
  font-size: 10px;
  margin: 2px 10px;
  max-height: 250px;
  overflow: auto;
}

table {
  font-family: inherit;
  font-size: 1em;
}

th {
  text-align: center;
  vertical-align: top;
}

td p, th p {
  white-space: normal;
  margin: 0;
}

th.title.modify {
  color: #f00;
}
th.title.urgence {
  background-color: #00a;
  color: #fff;
}
th.title.urgence.modify {
  background-color: #00a;
  color: #f00;
}
th.category.modify {
  color: #f00;
}

table.form td.cancelled,
table.form tr.selected td.cancelled,
table.tbl td.cancelled,
table.tbl tr:hover td.cancelled,
table.tbl tr.selected td.cancelled,
table.tbl tbody.hoverable td.cancelled,
th.cancelled,
th.category.cancelled,
table.form th.category.cancelled {
  color: #fff;
  background-color: #f00;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

li.cancelled {
  opacity: 0.4;
  -moz-opacity: 0.4;
  background-color: #eee;
}

tr.script {
  display: none;
}

img {
  border: none;
}

ul {
  margin: 0;
  padding-left: 20px;
}

dl {
  margin-top: 0px; 
  padding-left: 1px;
}

dt {
  margin-top: 5px;
  font-weight: bold;
}

dd {
  margin-bottom: 0px; 
  margin-left: 20px;
}

a:link {
  color: #555;
  text-decoration: none;
}

a:visited {
  color: #555;
  text-decoration: none;
}

a:active {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #555;
  text-decoration: underline;
}

legend {
  padding: 1em;  
}

h1 {
  font-size: 18px;
  font-weight: normal;
  color: #444;
  margin: 10px 0px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  color: #444;
  margin: 5px 10px;
}

h2.module {
  background-position: left center;
  background-repeat: no-repeat;
  padding: 10px 0;
  padding-left: 55px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  color: #666;
  margin: 5px 20px;
}

form {
  display: inline;
  padding: 0;
  margin: 0;
}

textarea {
  font-family: inherit;
  font-size: 1em;
  border: 1px black solid;
  padding-left: 2px;
  width: 99%;
}

div div.text {
  white-space: normal;
}

.control {
  border: none;
  background: transparent;
  padding: 0;
  position: relative;
  display: inline; /* IE */
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.control .trigger {
  cursor: pointer;
  margin: 1px;
}

span.smarty-include {
  background: #444;
  position: absolute;
  color: #fff;
  opacity: 0.7;
  text-indent: 8px;    
  width: 8px;
  height: 8px;
  overflow: hidden;
  font-family: "lucida console", "courier new", courier, monospace;
  border: 1px solid #fff;
}

span.smarty-include.ajax {
  background: #494;
}

span.smarty-include:hover {
	opacity: 1;
	width: auto;
	height: auto;
	padding: 5px 10px;
}

button,
a.button {
  color: #000;
  border: 1px outset #444;
  font-family: inherit;
  font-size: 11px;
  background-color: #ddd;
  margin: 0px 2px;
  padding: 2px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: left bottom;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

a.button {
  display: inline-block;
  height: 14px;
  text-decoration: none;
}

button:hover, 
a.button:hover {
  background-color: #bbb;
  outline: 1px solid #666;
}

a.selected{
  background: url(../../images/icons/td_selected.png) no-repeat bottom center;
  padding-bottom: 8px;		
}	

a.selectable{
  padding-bottom: 8px;	
}
a.selectable:hover{
  background: url(../../images/icons/td_selected.png) no-repeat bottom center;
  padding-bottom: 8px;		
}	

a.sortable{
  background: url(../../images/icons/a_sortable.png) no-repeat bottom center;
  padding-bottom: 8px;	
}

a.sortable:hover{
  background: url(../../images/icons/a_asc.png) no-repeat bottom center;
  padding-bottom: 8px;	
}

a.ASC{
  background: url(../../images/icons/a_asc.png) no-repeat bottom center;
  padding-bottom: 8px;
}

a.ASC:hover{
  background: url(../../images/icons/a_desc.png) no-repeat bottom center;
  padding-bottom: 8px;
}

a.DESC{
  background: url(../../images/icons/a_desc.png) no-repeat bottom center;
  padding-bottom: 8px;
}
a.DESC:hover{
  background: url(../../images/icons/a_asc.png) no-repeat bottom center;
  padding-bottom: 8px;
}

button.edit, a.button.edit {
  background-image: url(images/buttons/edit.png);
  padding-left: 18px;
}

button.hslip, a.button.hslip {
  background-image: url(images/buttons/hslip.png);
  padding-left: 18px;
}

button.trash, a.button.trash {
  background-image: url(images/buttons/trash.png);
  outline-color: #f66;
  padding-left: 18px; 
}

button.submit, a.button.submit {
  background-image: url(images/buttons/save.png);
  padding-left: 18px;
}
button.new, a.button.new {
  background-image: url(images/buttons/new.png);
  padding-left: 18px;
}
button.print, a.button.print {
  background-image: url(images/buttons/print.png);
  padding-left: 18px;
}
button.cancel, a.button.cancel {
  background-image: url(images/buttons/cancel.png);
  padding-left: 18px;
}

button.modify, a.button.modify {
  background-image: url(images/buttons/save.png);
  padding-left: 18px;
}

button.search, a.button.search {
  background-image: url(images/buttons/search.png);
  padding-left: 18px;
}

button.lock, a.button.lock {
  background-image: url(images/buttons/lock.png);
  padding-left: 18px;
}

button.tick, a.button.tick {
  background-image: url(images/buttons/tick.png);
  padding-left: 18px;
}

button.down, a.button.down {
  background-image: url(images/buttons/down.png);
  padding-left: 18px;
}

button.up, a.button.up {
  background-image: url(images/buttons/up.png);
  padding-left: 18px;
}

button.change, a.button.change {
  background-image: url(images/buttons/change.png);
  padding-left: 18px;
}

button.add, a.button.add {
  background-image: url(images/buttons/add.png);
  padding-left: 18px;
}

button.remove, a.button.remove {
  background-image: url(images/buttons/remove.png);
  padding-left: 18px;
}

button.stop, a.button.stop {
  background-image: url(images/buttons/stop.png);
  padding-left: 18px;
}

button.send, a.button.send {
  background-image: url(images/buttons/send.png);
  padding-left: 18px;
}

button.send-cancel, a.button.send-cancel {
  background-image: url(images/buttons/send-cancel.png);
  padding-left: 18px;
}

button.send-again, a.button.send-again {
  background-image: url(images/buttons/send-again.png);
  padding-left: 18px;
}

button.send-problem, a.button.send-problem {
  background-image: url(images/buttons/send-problem.png);
  padding-left: 18px;
}

button.send-auto, a.button.send-auto {
  background-image: url(images/buttons/send-auto.png);
  padding-left: 18px;
}

button.notext,
a.button.notext {
  font-size: 0;
  overflow: hidden;
  color: transparent;
}

button.notext {
  padding-right: 0px;
  padding-left: 10px;
}

a.button.notext {
  padding: 8px 0;
  padding-left: 16px;
}

button.intermax-result {
	opacity: .4;
}

input, select, textarea, button {
  margin: 1px;
}

.control {
  margin: 1px !important;
}

input, select, textarea {
  padding: 1px;
  padding-top: 2px;
  border: 1px black solid;
  font-size: 11px;
  background-color: #efe;
}

input:focus, select:focus, textarea:focus {
  background-color: #fff;
}

input[type=submit],
input[type=reset],
input[type=button] {
  background: #ddd;
  margin: 0 10px;
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  background: #bbb;
}

select {
  padding: 0;
}

optgroup, option {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  padding: 0 2px;
  margin: 0;
  background: #fff;
}

optgroup {
  font-weight: bold;
}

optgroup option {
  padding-left: 1em;
}

option.novalue {
  display:none;
}

option.checked {
	background: url(images/buttons/tick.png) no-repeat 12px;
	padding-left: 30px;	
}

option[value=""] {
  font-style: italic;
}

label:hover {
  border-bottom: 1px dotted #888;
  cursor: help;
}

/**
 * Debug console
 */

div#console {
  font-family: "lucida console", "courier new", courier, monospace;
  margin: 5px;
  max-height: 300px;
  width: 50%;
  overflow: auto;
  background: #444;
  color: #aaf;
  opacity: .9;
  position: fixed;
  bottom: 0px;
  border: 1px dotted #aaf;
  padding: 3px 20px;
}

div#console div {
  background: transparent;
  padding: 0 2px;
}

div#console div#console-title {
  font-weight: bold;
  text-align: center;
}

div#console div#console-hide {
  background: url(../../images/icons/cancel.png) no-repeat;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  position: fixed;
}

div#console div.label {
  font-size: 8pt;
}

div#console div.key {
  color: #afa;
  font-size: 8pt;
  float: left;
}

div#console div.error {
  color: #faa;
  font-size: 8pt;
}

div#console div.value {
  color: #fff;
  font-size: 8pt;
}

/* classes Mediboard */

.mediuser {
  border-left: 4px solid transparent; 
  padding-left: 4px; 
  margin-left: 0px;
}

.categorieConsult { 
  padding-left: 20px;
  height: 18px; 
  margin-left: 0px;
}

optgroup.group {
  text-align: center;
  font-variant: small-caps;
}

/* Title block */

table.titleblock td {
  white-space: nowrap;
}

table.titleblock td.titlecell {
  font-family: Georgia, serif;
  font-size: 20px; 
  color: #620;
  width: 100%;
  padding-bottom: 10px;
}

/* Tab view table */

table.tabview {
  border-spacing: 0px;
  border-collapse: collapse; /* Hack for IE */
  empty-cells: show;
  width: 100%;
}

table.tabview td {
  padding: 0px;
}

table.tabmenu {
  margin-left: 20px;
  border-spacing: 0px;
}

table.tabmenu td {
  height: 28px;	
  line-height: 90%;
  background: url(./images/icons/tabBg.png) repeat-x bottom;
}

table.tabmenu td.left,
table.tabmenu td.right {
  width: 17px;
}

table.tabmenu td.left {
  background: url(./images/icons/tabLeft.png) no-repeat bottom right;
}

table.tabmenu td.right {
  background: url(./images/icons/tabRight.png) no-repeat bottom left;
}

table.tabmenu td.selected {
  background: url(./images/icons/tabSelectedBg.png) repeat-x;
}

table.tabmenu td.selected.left {
  background: url(./images/icons/tabSelectedLeft.png) no-repeat bottom right;
}

table.tabmenu td.selected.right {
  background: url(./images/icons/tabSelectedRight.png) no-repeat bottom left;
}

/* Pane table */

table.main {
  width: 100%;
  border-spacing: 4px;
}

table.main td {
  vertical-align: top;
}

table.main td.button {
  text-align: center;
}

table.main td.text {
  white-space: normal;
}

table.main tbody.viewported td.viewport {
  border: 1px solid #000;
}

table.main td.halfPane,
table.main th.halfPane {
  width: 50%;
}

td.greedyPane,
th.greedyPane {
  width: 100%;
}

th.title {
  font-size: 14px;
  font-weight: bold;  
  text-align: center;
  background: #bbb;
  border: #aaa 1px solid;
}

/* Standard table */

table.tbl {
  width: 100%;
  border: 0px;
  border-spacing: 1px;
  background-color: #777;
}

table.tbl a {
  display: block;
  margin: 0 1px;
}

table.tbl a.button {
  display: inline;
}

a.text {
	white-space: normal;
}

a.actionPat {
  display: inline;
  float: right;
  margin: 0 1px;
}

table.tbl a.action {
  display: inline;
}

table.tbl th a {
  color: #fff;
}

table.tbl th {
  background-color: #888;
  padding: 2px;
  color: #fff;
  border: outset #ccc 1px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

table.tbl th.title {
  font-size: 14px;
  font-weight: bold;  
  text-align: center;
  background: #bbb;
  border: #aaa 1px outset;
}

table.tbl td,
div.tree-header {
  background-color: #fff;
  padding: 2px;
  white-space: nowrap;
  vertical-align: middle;
}

table.tbl td.error,
table.tbl tr:hover td.error,
table.tbl tbody:hover td.error,
span.error {
  background-color: #f00;
}

table.tbl td.big-error,
span.big-error {
  background-image: url(images/icons/error.png);
  background-repeat: no-repeat;
  background-position: left;
  background-color: #fee;
  padding-left: 55px;
}

table.tbl td.warning,
table.tbl tr:hover td.warning,
table.tbl tbody:hover td.warning,
span.warning {
  background-color: #fc0;
}

table.tbl td.big-warning,
span.big-warning {
  background-image: url(images/icons/warning.png);
  background-repeat: no-repeat;
  background-position: left;
  background-color: #ffd;
  padding-left: 55px;
}

table.tbl td.ok,
table.tbl tr:hover td.ok,
table.tbl tbody:hover td.ok,
span.ok {
  background-color: #afa;
}

table.tbl td.checked {
	background-image : url(images/buttons/tick.png);
	background-repeat: no-repeat;
	background-position: 4px;
	padding-left: 20px;
}

table.tbl td.big-info,
span.big-info {
  background-image: url(images/icons/info.png);
  background-repeat: no-repeat;
  background-position: left;
  background-color: #eef;
  padding-left: 55px;
}

table.tbl tr.selected td,
div.selected {
  background-color: #ffc;
}

div.dragged {
  background-color: #ffc;
  border: 1px solid black;
  padding: 2px 10px;
}

div.draggable {
  cursor: move;
}

tbody.hoverable:hover tr td,
table.tbl tr:hover td,
div.tree-header:hover {
  background-color: #f8f8f8;
}

table.tbl th.text {
  white-space: normal;
}

table.tbl td.text {
  white-space: normal;
}

table.tbl td.button {
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  line-height: 140%;
}

table tr.unequal td, table tr.unequal th {
  background-color: #FFA88C;
}

div.previewfile{
  white-space: normal;
  text-align:left;
}

div.previewfileMinus{
  font-size: 70%;
  max-width:450px;
  max-height:450px;
  overflow:auto;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #ddf;
  color: #000;
}

table.tbl tr.clear td,
table.tbl tr.clear th {
  background-color: transparent;
  border: none;
}

/* Form tables */
table.form {
  width: 100%;
  border-spacing: 1px;
}

table.form th {
  color: #000;
  white-space: nowrap;
  background-color: #eee;
  vertical-align: middle;
  text-align: right;
  font-weight: normal;
  padding: 2px 4px;
  border: none;
}

table.form th.title {
  font-size: 14px;
  font-weight: bold;  
  text-align: center;
  background-color: #bbb;
  border: #aaa 1px solid;
}

table.form th.category {
  font-weight: bold;  
  text-align: center;
  background-color: #aaa;
  border: #aaa 1px solid;
  vertical-align: middle;
}

table.form th.category label {
  font-weight: bold;  
  text-align: center;
  background-color: transparent;
  vertical-align: middle;
}

label.notNull {
  padding-right: 5px;
  background: url(./images/icons/redbox.jpg) no-repeat center right;
  font-weight: bold;
}

label.canNull {
  padding-right: 5px;
  background: url(./images/icons/orangebox.jpg) no-repeat center right;
  font-weight: bold;
}

label.notNullOK {
  padding-right: 5px;
  font-weight: bold;
}

label.error,
table.form th.category label.error {
  color: #f00;
}

table.form th.text {
  white-space: normal;
  text-align: center;
}

table.form td {
  white-space: nowrap;
  vertical-align: top;
  background: #eee;
  text-align: left;
  padding: 1px 4px;
}

table.form td.dark {
  background-color: #ddd;
}

table.form td.light {
  background-color: #fff;
}

table.form td.compte_rendu {
  background: #ddd;
}

table.form td.text,
table.form td.info {
  white-space: normal;
}

table.form td.button {
  text-align: center;
  vertical-align: middle;
}

div.dateTime,
div.time,
div.date {
  border: 1px dotted;
  padding: 1px;
  margin: 1px;
  min-height: 15px;
  /*display: inline;*/
  float: left;
}

input[readonly],
input[readonly]:focus {
  border: 1px dotted #333;
  background: none;
}

div.date,
input[readonly].date {
  width: 90px;
}

div.time,
input[readonly].time {
  width: 60px;
}

div.dateTime,
input[readonly].dateTime {
  width: 130px;
}

div.autocomplete {
  position:absolute;
  width:250px;
  max-height:200px;
  overflow: auto;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
  z-index: 30;
}

div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}

div.autocomplete ul em {
  text-decoration: underline;
  font-style: normal;
}

div.autocomplete ul li.selected { 
	background-color: #fafaa4;
	/*font-weight:bold;*/
}

div.autocomplete ul li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding:2px;  
  cursor:pointer;
}

div.autocomplete ul li small {
  white-space: normal;
}

input.autocomplete {
  background-image: url(../../images/icons/throbber.gif);
  background-position: 100% 2px;
  background-repeat: no-repeat;
  padding-right: 17px;
}

input.autocomplete:focus {
  padding-right: 17px;
}

input.autocomplete.throbbing {
  background-position: 100% -19px;
}

/* tabbed boxes */
td.tabox {
  background-color: #ccc;
  border: solid #ccc 2px;
}

/* Specialisation par media */

@media print {
  table.tbl {
    font-size: 100%;
  }
  h1.newpage {
    page-break-before:always;
    display:none;
  }
}

/* Message styles */

table.dialog #systemMsg,
#leftMenu #systemMsg {
	max-height: 50%;
	max-width: 50%;
	overflow: auto;
  position: fixed;
  top: 5px;
  right: 5px;
  background: #fff;
  border: 1px solid #666;
  padding: 5px;
  right: 5px;
}

div#systemMsg {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

div.warning, div.error, div.message, div.loading {
  min-height: 16px;
  background: no-repeat center left;
  padding: 2px;
  padding-left: 20px;
}
div.warning {
  color: #666;
  background-image: url(../../images/icons/warning.png);
}

div.error {
  color: #f00;
  background-image: url(../../images/icons/cancel.png);
}

div.message {
  color: #008;
  background-image: url(../../images/icons/check.png);
}

div.loading {
  background-image: url(images/icons/loading.gif);
  white-space: nowrap;
}

.ajax-loading {
  background: #666 url(images/icons/ajax-loading.gif) no-repeat center;
  border: none;
}

div.small-success ,
div.small-info ,
div.small-warning,
div.small-error,
div.small-mail {
	text-align: left;
  margin: 10px 15px;
  min-height: 15px;
  background-repeat: no-repeat;
  background-position: 5px center;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  padding-left: 30px;
}

.small-mail {
  background-image: url(images/icons/small-mail.png);
 	background-color: #ffe;
  border-color: #dd0;
}
.small-success {
  background-image: url(images/icons/small-success.png);
 	background-color: #efe;
  border-color: #5a5;
}

.small-info {
  background-image: url(images/icons/small-info.png);
 	background-color: #eef;
  border-color: #55a;
}

.small-warning {
  background-image: url(images/icons/small-warning.png);
  background-color: #ffd;
  border-color: #da0;
}

.small-error {
  background-image: url(images/icons/small-error.png);
 	background-color: #fee;
  border-color: #a55;
}

div.big-success,
div.big-info,
div.big-warning,
div.big-error {
	text-align: left;
	margin: 10px 50px;
  min-height: 50px;
  background-repeat: no-repeat;
  background-position: 5px center;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  padding-left: 60px;
}

.big-warning {
  background-image: url(images/icons/warning.png);
  background-color: #ffd;
  border-color: #da0;
}

.big-success {
  background-image: url(images/icons/success.png);
 	background-color: #efe;
  border-color: #5a5;
}

.big-info {
  background-image: url(images/icons/info.png);
 	background-color: #eef;
  border-color: #55a;
}

.big-error {
  background-image: url(images/icons/error.png);
 	background-color: #fee;
  border-color: #a55;
}

#goUp {
	background: #Ccc url(./images/icons/action_up.png) no-repeat center;
  opacity: 0.5;	
	border: 1px solid #666;	
	cursor: pointer;
	position: fixed;
	width: 18px;
	height: 18px;
	right: 5px;
	bottom: 5px;
	z-index: 1000;
	display: none;
}

#goUp:hover {
  background-color: #fff;
  opacity: 1;	
}

@media print {
  div.warning,
  div.error,
  div.message {
    display: none;
  }
  
  div#goUp {
  	display: none;
  }

  div#performance {
  	display: none;
  }
}

/** Tooltips */
.tooltip-trigger {
  cursor: pointer;
}

div.tooltip {
  padding: 0px;
  margin-left: 20px;
  position: absolute;
  z-index: 30;
}

div.tooltip table.decoration {
  border-spacing: 0px;
  border: none;
}

div.tooltip table.decoration td.deco {
	border: 0px;
	opacity: .7;
}

div.tooltip table.decoration td.top-right,
div.tooltip table.decoration td.top,
div.tooltip table.decoration td.top-left,
div.tooltip table.decoration td.left,
div.tooltip table.decoration td.bottom-left {
  background-color: transparent;
	opacity: 1;
}

div.tooltip table.decoration td.bottom {
  width: 16px;
  height: 16px;
  background: url(images/pictures/bottom.png) top left no-repeat;
}

div.tooltip table.decoration td.bottom-right {
  width: 16px;
  height: 16px;
  background: url(images/pictures/bottom-right.png) top left no-repeat;
}

div.tooltip table.decoration td.right {
  width: 16px;
  height: 16px;
  background: url(images/pictures/right.png) top left no-repeat;
}

div.tooltip table.decoration td.content {
  white-space: nowrap;
  background: #fff;
  border: 2px solid #777;
	padding: 5px;
}

div.postit {
  padding: 0px;
  margin-left: 20px;
  position: absolute;
}

div.postit table.decoration {
  border-spacing: 0px;
  border: none;
}

div.postit table.decoration td {
  border: 0px solid #883;
}

div.postit table.decoration td.deco {
	opacity: .7;
}

div.postit table.decoration td.top-right,
div.postit table.decoration td.top-left,
div.postit table.decoration td.bottom-left {
  background-color: transparent;
	opacity: 1;
}

div.postit table.decoration td.left {
  background-color: #ff6;
  border-left-width: 1px;
  border-bottom-width: 1px;
	opacity: 1;
}

div.postit table.decoration td.top {
  background: #ff6;
	opacity: 1;
  border-top-width: 1px;
  border-right-width: 1px;
}

div.postit table.decoration td.top-left {
	width: 17px;
	height: 15px;
	background: url(images/pictures/note-top-left.png) top left no-repeat;
	opacity: 1;
}

div.postit table.decoration td.bottom {
  width: 16px;
  height: 16px;
  background: url(images/pictures/bottom.png) top left no-repeat;
}

div.postit table.decoration td.bottom-right {
  width: 16px;
  height: 16px;
  background: url(images/pictures/bottom-right.png) top left no-repeat;
}

div.postit table.decoration td.right {
  width: 16px;
  height: 16px;
  background: url(images/pictures/right.png) top left no-repeat;
}

div.postit table.decoration td.content {
  border-right-width: 1px;
  border-bottom-width: 1px;
  background-color: #ff6;
  max-height: 40px;
  overflow: scroll;
  padding-right: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

table.note {
  background: transparent;
  border-spacing: 0px;
  padding: 0px;
  font-size: 10px;
  color: #000;
  font-weight: normal;
}

table.note th,
table.note td {
  background: transparent;
  text-align: left;
}

table.note th {
  font-weight: bold;
}

table.note th.high {
  background-color: #faa;
}

table.note th.low {
  background-color: #afa;
}


/** Login page */
#login {
  padding-top: 40px; 
}

#login table {
  border: solid #8c8 3px;
  width: 600px;
  background: #eef;
  margin: auto;
  padding: 5px;
  border-collapse: separate;
}

#login table td.logo {
  width: 33%;
  text-align: center;
  font-size: 9px;
  white-space: normal;
}

#login input, #login label{
	font-size: 1.4em;
}

#login button {
  font-size: 1.3em;
	height: 1.5em;
	background-position: left 110%;
}


/* Global header */
#header {
  width: 100%;
  border-spacing: 0px;
  border: none;
}

#header td {
  padding: 0px;
}

table.Offline td.button {
  text-align: center;
  vertical-align: middle;
}

table.Offline select,
table.Offline option,
table.Offline input,
table.Offline button  {
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  margin : 2px 2px;
}


/* Navigation */
#menubar table {
  border: 1px solid #999;
  background-color: #ccc;
  color: #fff;
  text-align: left;
  width: 100%;
}

#nav {
  vertical-align: middle;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav li {
  display: inline;
  float: left;
}

#nav a {
  display: block;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 10pt;
  padding: 3px 4px;
}

#nav a:hover {
  text-decoration: none;
  background: #ddd;
  padding: 2px 3px;
  border: 1px outset #ddd;
}

#nav a:active {
  background: #ddd;
  padding: 2px 3px;
  border: 1px inset #ddd;
}

#nav li.selected a {
  text-decoration: none;
  background: #aaa;
  padding: 2px 3px;
  border: 1px inset #888;
}

#nav img {
  display: block;
  margin: auto;
  width: 48px;
}

  /* ---- Begin Patch for damned IE that never works ---- */
  
  #nav li a {
    width: 1em;
    white-space: nowrap;
  }
  
  #nav li>a {
    width: auto;
  }
  
  /* ---- End patch ---- */

/* Creation */

#new {
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;  
}

/* User */

#user table {
  border-spacing: 0px;
  border: 2px;
  width: 100%;
  border-bottom: 1px dashed black;
}

#user td {
  padding: 0 3px;
}

#userWelcome {
  width: 100%;
}

#userMenu {
  white-space: nowrap;
}

/* Main -- table -- pane */
#main {
  clear: both;
  width: 100%;
  border-spacing: 0px
}

#mainPane {
  vertical-align: top;
}

textarea#htmlarea {
  width: 99%;
  height: 100%;
}

span.hilite {
  background: #f5f;
}

/* Touchscreen mode */
.touchscreen select,
.touchscreen option,
.touchscreen optgroup {
  padding: 0;
  font-size: 16px;
  vertical-align: middle;
}

.touchscreen select {
  margin-bottom: 1px;
}

.touchscreen input:focus,
.touchscreen select:focus,
.touchscreen option:focus,
.touchscreen optgroup:focus {
  border-style: solid;
  border-width: 1px;
}

.touchscreen option,
.touchscreen optgroup {
  padding-left: 3px;
}

.touchscreen input,
.touchscreen button,
.touchscreen a.button {
  font-size: 16px;
  height: 24px;
  font-weight: normal;
  vertical-align: middle;
}

.touchscreen a.button {
  padding: 3px;
  padding-left: 1px;
  padding-bottom: 1px;
}

.touchscreen input[type=text] {
  padding: 2px;
  padding-bottom: 0px;
  padding-left: 1px;
  height: 20px;
  font-size: 15px;
}

.touchscreen button, 
.touchscreen button:hover,
.touchscreen a.button,
.touchscreen a:hover.button {
  padding-left: 22px;
  padding-right: 3px;
  background-position: 3px center;
  background-color: #A9C8CD;
  background-repeat: no-repeat;
}

.touchscreen label,
.touchscreen td.date div.date {
  padding: 4px;
}

.touchscreen td.date div.date {
  font-size: 12px;
}

.touchscreen optgroup option {
  padding-left: 16px;
}

.touchscreen .control .trigger {
  width: 22px;
  height: 22px;
}

.touchscreen button.notext,
.touchscreen button.notext:hover,
.touchscreen a.button.notext,
.touchscreen a:hover.button.notext {
  font-size: 0;
  padding: 8px;
  background-position: 3px center;
  background-color: #A9C8CD;
  background-repeat: no-repeat;
}

.touchscreen a.button.notext,
.touchscreen a:hover.button.notext {
  padding: 11px;
}

.touchscreen .control .trigger {
  margin: 1px;
  top: 3px;
}

.touchscreen .control button,
.touchscreen .control input {
  top: -4px;
}

.touchscreen ul.control_tabs li a, 
.touchscreen ul.control_tabs_vertical li a {
  font-size: 15px;
}

.touchscreen .numericField .arrows div {
  width: 2em;
}

.touchscreen .numericField input {
  padding-right: 2em;
}

/* contacts table */
table.contacts {
	background-color: #888;
}

table.contacts td {
	background-color: #def;
}

table.contacts td.hilite {
	background-color: #fff;
}

table.fullCode {
  width: 100%;
  background: #f99;
}

table.fullCode tr td.pane {
  vertical-align: top;
  width: 50%;
  background: #fdd;
  padding: 5px;
}

table.fullCode tr td.pane table {
  width: 100%;
}

table.findCode {
  width: 100%;
  background: #99f;
}

table.findCode th {
  text-align: left;
}

table.findCode td {
  vertical-align: top;
  width: 25%;
  background: #ddf;
  padding: 5px;
}

table.bookCode {
  width: 100%;
  background: #f9f;
}

table.bookCode th {
  text-align: left;
}

table.bookCode td {
  vertical-align: top;
  width: 25%;
  background: #fdf;
  padding: 5px;
}

table.selectCode {
  width: 100%;
  background: #f9f;
}

table.selectCode th {
  text-align: left;
}

table.selectCode td {
  vertical-align: top;
  width: 33%;
  background: #fdf;
  padding: 5px;
}


/* The admission table based on the form one */
#admission {
  width: 100%;
  border-spacing: 6px;
  font-family: georgia, serif;
  color: #006;
}

#admission th {
  white-space: nowrap;
  background: transparent;
  vertical-align: top;
  text-align: right;
  font-weight: bold;
}

#admission th.title {
  font-weight: bold;  
  text-align: center;
  background: #68f;
  border: #aaa 3px outset;
  padding: 2px;
  font-size: 16pt;
  color: #006;
}

#admission th.category {
  font-weight: bold;  
  text-align: center;
  background: #abf;
  padding: 2px;
  border: #aaa 3px outset;
  font-size: 12pt;
}

#admission td {
  white-space: normal;
  vertical-align: top;
  background: transparent;
  text-align: left;
  padding: 1px 4px;
  font-size: 10pt;
}

#admission td.halfPane {
  white-space: normal;
  vertical-align: top;
  width: 50%;
  background: transparent;
  text-align: left;
  padding: 1px 4px;
}

#admission td.info {
  white-space: normal;
  font-style: italic;
  padding: 10px;
  margin: 5px;
  border: #aaa 2px dotted;
}


/* control tabs */
hr.control_tabs {
  clear: both;
  border: none;
  border-top: 1px solid #458;
}
  
ul.control_tabs,
ul.control_tabs_vertical {
  list-style: none;
  clear: both;
  padding: 3px 6px;
}
  
ul.full_width li {
	width: 100%;
}

ul.control_tabs li, 
ul.control_tabs_vertical li {
  float: left;
  margin: 0px 2px;
  text-align: center;
}

ul.control_tabs li.linebreak, 
ul.control_tabs_vertical li.linebreak {
	clear: both;
}

ul.control_tabs li a, 
ul.control_tabs_vertical li a {
  display: block;
  border: 1px solid #458;
  -moz-border-radius: 4px 4px 0 0;
  background-color: #6688CC;
  font-size: 1.1em;
  padding: 3px 8px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: -1px;
}

ul.control_tabs li a:focus, 
ul.control_tabs_vertical li a:focus {
  outline: 0;
}

ul.control_tabs li a:hover, 
ul.control_tabs_vertical li a:hover {
  background-color: #98B5DF;
  text-decoration: none;
}

ul.control_tabs li a.active, 
ul.control_tabs_vertical li a.active {
  background-color: #FFF;
  color: #000;
  border-bottom: 1px solid #fff;
}

ul.control_tabs li a.empty, 
ul.control_tabs_vertical li a.empty {
  background-color: #bbb;
}

ul.control_tabs li a.empty:hover, 
ul.control_tabs_vertical li a.empty:hover {
  background-color: #ccc;
}

ul.control_tabs li a.empty.active, 
ul.control_tabs_vertical li a.empty.active {
  background-color: #eee;
}

ul.control_tabs li a.wrong, 
ul.control_tabs_vertical li a.wrong {
  background-color: #fb0;
}

ul.control_tabs li a.wrong:hover, 
ul.control_tabs_vertical li a.wrong:hover {
  background-color: #fd4;
}

ul.control_tabs li a.wrong.active, 
ul.control_tabs_vertical li a.wrong.active {
  background-color: #ffa;
  color: #000000;
}

ul.control_tabs .separator, 
ul.control_tabs_vertical .separator {
  padding: 0 10px; 
  display: block;
  visibility: hidden;
}


ul.control_tabs_vertical {
  float: left;
}

ul.control_tabs_vertical {
  padding: 0;
}

ul.control_tabs_vertical li {
  float: none;
  text-align: right;
}

ul.control_tabs_vertical li a {
  -moz-border-radius: 4px 0 0 4px;
  padding: 3px 8px;
  margin-bottom: 2px;
}

ul.control_tabs_vertical li a.active {
  background-color: #FFF;
  color: #000;
  border-bottom: 1px solid #458;
}


/* Chambres */
table.chambrecollapse,
table.chambreexpand {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 1px 0;
}

table.chambrecollapse em,
table.chambreexpand em {
  font-weight: bold;
}

table.chambrecollapse td,
table.chambrecollapse th,
table.chambreexpand td,
table.chambreexpand th {
  border: 1px outset #050;
}

table.chambrecollapse td.action,
table.chambreexpand td.action {
  width: 20px;
  text-align: center;
  vertical-align: middle;
}

table.chambrecollapse th.chambre {
  padding: 2px;
  padding-left: 10px;
  background: #aaa url(../../images/icons/collapse.gif) no-repeat center left;
}

table.chambreexpand th.chambre {
  padding: 2px;
  padding-left: 10px;
  background: #aaa url(../../images/icons/expand.gif) no-repeat center left;
}

th.chambre img {
  float: right;
  margin: 0 1px;
}

table.chambrecollapse tr.litdispo td,
table.chambreexpand tr.litdispo td {
  background: #dfd;
}

table.chambrecollapse tr.lit td,
table.chambreexpand tr.lit td {
  background: #ccc;
  color: #000;
}

table.chambrecollapse tr.litselected td,
table.chambreexpand tr.litselected td {
  background: #f00;
}

table.chambrecollapse tr.patient td,
table.chambreexpand tr.patient td {
  background: #eee;
  color: #000;
}

table.chambrecollapse tr.patient img,
table.chambreexpand tr.patient img {
  float: left;
  margin-right: 2px;
}

table.chambrecollapse tr.lit,
table.chambrecollapse tr.litdispo,
table.chambrecollapse tr.dates {
  display: none;
}

table.chambreexpand td.dates {
  white-space: normal;
  color: red;
}

table.chambreexpand tr.dates {
}

/* Operations */

table.operationcollapse,
table.operationexpand,
table.sejourcollapse,
table.sejourexpand {
  width: 100%;
  background: #fff;
  border-spacing: 0px;
  border-collapse: collapse;
}

table.operationcollapse td,
table.operationexpand td,
table.sejourcollapse td,
table.sejourexpand td {
  border: 1px solid #555;
  padding: 0 2px;
  color: #000;
}

table.operationcollapse em,
table.operationexpand em,
table.sejourcollapse em,
table.sejourexpand em {
  font-weight: bold;
}

table.operationcollapse td.selectoperation,
table.operationexpand td.selectsejour,
table.sejourcollapse td.selectsejour,
table.sejourexpand td.selectsejour {
  background: #ddf;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

table.operationcollapse td.patient,
table.sejourcollapse td.patient {
  white-space: normal;
  padding-left: 17px;
  background: #ddf url(../../images/icons/collapse.gif) no-repeat center left;
}

table.operationexpand td.patient,
table.sejournexpand td.patient {
  padding-left: 17px;
  background: #ddf url(../../images/icons/expand.gif) no-repeat center left;
}

table.operationexpand td.date,
table.sejourexpand td.date {
}

table.operationcollapse td.date,
table.sejourcollapse td.date {
  display: none;
}

table#planningBloc {
  width: 100%;
  border-spacing: 1px;
}

table#planningBloc th {
  background-color: #888;
  padding: 2px;
  color: #fff;
  border: outset #ccc 1px;
  font-weight: normal;
  white-space: nowrap;
}

table#planningBloc th a {
  color: #fff;
}

table#planningBloc th.heure {
  text-align: left;
  width: 6%;
}

table#planningBloc td.salle {
  background-color: #eee;
  text-align: center;
}

table#planningBloc td {
  vertical-align: middle;
  background-color: #888;
}
table#planningBloc td.empty {
  background: #eee;
  width: 1.5%;
}

table#planningBloc td.firsthour {
  background: #ddd;
}

/** dPpatients */
table#weeklyPlanning {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 0.9em;
  line-height: 115%;
}

table#weeklyPlanning td {
  text-align: center; 
  vertical-align: middle;
  white-space: normal;
  border-left: 1px solid #ccc;
  padding: 1px;
}

table#weeklyPlanning th {
  padding: 4px;
}

table#weeklyPlanning th[scope=row] {
  border-top: 1px solid #ccc;
  vertical-align: middle;
}

table#weeklyPlanning th[scope=col] {
  border-left: 1px solid #ccc;
}

table#weeklyPlanning td.selectedPlage {
  background: #ddd;
  outline: 2px solid #444;
}

table#weeklyPlanning td.nonEmpty {
  background: #ccc; 
  border: 1px solid #999 !important;
}

table#weeklyPlanning td.nonEmptyConsult {
  background: #ccc url(images/pictures/plageConsult.png) repeat-y left;
  border: #9f9 1px solid;
}

table#weeklyPlanning td.nonEmptyOp {
  background: #ccc url(images/pictures/plageOp.png) repeat-y left;
  border: #99f 1px solid;
}

table#weeklyPlanning td.selectedConsult {
  background: #ddd;
  border: #9f9 1px solid;
}

table#weeklyPlanning td.selectedOp {
  background: #ddd;
  border: #99f 1px solid;
}

table#weeklyPlanning td.empty {
  background: #eee;
}

table#weeklyPlanning td.hour_start {
  border-top: 1px solid #ccc;
}

table#weeklyPlanning th.today {
  background-color: #ffd;
}

div.progressBar {
  font-size: 0.9em;
  background: #fff;
  margin: 0 auto;
  height: 11px;
  width: 90%;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  color: #000;
  min-width: 4em;
}

div.progressBar div {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

div.progressBar div.bar {
  height: 100%;
  background-repeat: repeat;
}

div.progressBar div.text {
  text-align: center;
  white-space: nowrap;
}

div.progressBar div.empty {
  background-image: url(./images/icons/pempty.png);
}

div.progressBar div.normal {
  background-image: url(./images/icons/pnormal.png);
}

div.progressBar div.booked {
  background-image: url(./images/icons/pbooked.png);
}

div.progressBar div.full {
  background-image: url(./images/icons/pfull.png);
}

tr.groupexpand td,
tr.groupcollapse td {
  background-color: #ddf;
}

tr.groupexpand td,
tr.groupcollapse td,
tr.groupexpand th,
tr.groupcollapse th {
  padding-left: 25px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center left;
}

tr.groupcollapse td,
tr.groupcollapse th {
  background-image: url(../../images/icons/collapse.gif);
}

tr.groupexpand td,
tr.groupexpand th {
  background-image: url(../../images/icons/expand.gif);
}

tr.triggerShow td,
tr.triggerHide td {
  background-color: #ddf;
}

tr.triggerShow td,
td.triggerShow,
tr.triggerHide td,
td.triggerHide,
tr.triggerShow th,
tr.triggerHide th,
div.triggerShow,
div.triggerHide {
  padding-left: 25px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center left;
}

tr.triggerHide td,
tr.triggerHide th,
td.triggerHide,
div.triggerHide {
  background-image: url(../../images/icons/expand.gif);
}

tr.triggerShow td,
tr.triggerShow th,
td.triggerShow,
div.triggerShow {
  background-image: url(../../images/icons/collapse.gif);
}

tr.show {
  display: table-row;
}

td.show {
  display: table-cell;
}

.hidden {
  display: none;
}

div.tree-content {
  margin: 0; 
  padding-left: 25px;
}

div.tree-trigger {
  overflow: hidden;
  width: 0px;
  float: left;
}

div.tree-header {
  border: 1px solid #777;
  margin-top: -1px;
  padding-top: 4px;
  font-weight: normal;
}

table.affectations {
	width: 100%;
}

table.affectations td.fullService {
	border: 1px solid #aaa;
  background-color: #fff;
}

table#weber td {
  text-align: center;
}

table#weber tr.values, 
table#weber tr.vocales {
  display: none;
}

table#weber tr.moyenne td {
  background-color: #ddd;
}

table#weber tr.moyenne td.aerien {
  background-color: #aaf;
  font-weight: bold;
}

table#weber tr.moyenne td.osseux {
  background-color: #faa;
  font-weight: bold;
}

table#weber td {
  text-align: center;
}

@media print {
  table#weber table#allvalues,
  table#weber td.radiointeractive {
    display: none;
  }
}

/* Liste de choix dans les comptes rendus */

td.listeChoixCR select {
	margin: 1px;
	float: left;
  width: 150px;	
}

/* Installation wizard */

div.wizard {
  padding: 40px; 
  margin: 80px; 
  background: #eee; 
  border: 2px solid #8c8; 
}

div.wizard div.toc {
  position: fixed;
  right: 15px;
  top: 15px;
  background: #fff;
  border: 2px solid #000;
  margin: 5px;
  padding: 10px;
  opacity: .7;
}

div.wizard div.toc ol {
  margin: 0px;
  padding-left: 20px
}

div.wizard div.toc a {
  display: block;
  color: #000;
}

div.wizard-navigation {
  text-align: center;
  margin: 20px;
}

div.wizard-navigation a {
  text-decoration: none;
  border: 1px black solid;
  font-weight: bold;
  font-size: 12px;
  background: #ddd;
  margin: 0 2px;
  padding: 2px 5px;
}

div.wizard-navigation a:hover {
  background: #bbb;
}

div.generated {
  margin: 5px;
  text-align: center;
  font-size: 90%;
}

div.about {
	margin-top: 100px;
	height: 200px;
	position: absolute;
	text-align: center;
	width: 50%;
}

div.about div.text {
	height: 100%;
	text-align: center;
	width: 100%;
}

div.about div.nav {
	text-align: center;
	width: 100%;
}

.datepickerControl {
	border:				1px solid #999999;
	border-radius: 6px;
	border-radius-topleft: 0;
	-moz-border-radius: 6px;
	-moz-border-radius-topleft: 0;
	-webkit-border-radius: 6px;
	-webkit-border-top-left-radius: 0;
	background-color:	#EEEEEE;
	padding:			5px;
  margin-top: -1px;
	cursor: default;
}

.datepickerControl.inline {
	border:				none;
  padding: 0;
	background-color:	transparent;
  width: auto;
}

.datepickerControl td {
	text-align:			center;
	padding:			1px;
}

.datepickerControl tr.monthLabel td {
	background-color:	#FFFFFF;
	border:				1px solid #999999;
	font-weight:		bold;
}

.datepickerControl tr.navigation td {
	cursor:				pointer;
}

.datepickerControl tr.navigation td:hover {
	text-decoration:	underline;
}

.datepickerControl tr.dayLabel td,
.datepickerControl td.weeknumber {
	border:				1px solid #003366;
	background-color:	#003366;
	color:				white;
	font-weight:		bold;
}

.datepickerControl td.day, 
.datepickerControl td.dayothermonth {
	cursor:				pointer;
	background-color:	#FFFFFF;
	border:				1px solid #EEEEEE;
	width:				2em;
}

/* We should use a class "othermonth" in addition to "day" instead of "dayothermonth" */
.datepickerControl td.dayothermonth { 
	color:				#999999;
	font-style:			italic;
}

.datepickerControl td.day:hover,
.datepickerControl td.hour:hover,
.datepickerControl td.minute:hover {
	background-color:	#EBE4C0;
	border:					outset 1px #666666;
}

.datepickerControl td.weekend {
	background-color:	#CCCCCC;
	font-style:			italic;
}

.datepickerControl td.today {
	outline:	2px solid #EBC2C0;
}

/* Disabled days */
.datepickerControl td.day.disabled,
.datepickerControl td.dayothermonth.disabled {
	color: #999999;
	background-color: #EEEEEE;
	cursor: default;
}

.datepickerControl td.day.disabled:hover,
.datepickerControl td.dayothermonth.disabled:hover {
	background-color:	#EEEEEE;
	border:				1px solid #EEEEEE;
}

/* Spotted days */
.datepickerControl td.day.spot,
.datepickerControl td.dayothermonth.spot {
	color:		red;
	font-weight: bold;
}

/* Active days */
.datepickerControl td.day.active,
.datepickerControl td.dayothermonth.active,
.datepickerControl td.day.active:hover,
.datepickerControl td.dayothermonth.active:hover {
	border-bottom: green 1px solid;
}

/* Hours and minutes */
.datepickerControl td.hour,
.datepickerControl td.minute {
	cursor:				pointer;
	background-color:	#FFFFFF;
	border:				1px solid #EEEEEE;
	width:				2em;
}

.datepickerControl td input,
.datepickerControl td button {
	padding:			0;
	border:				1px solid #999999;
	text-align:			center;
}

.datepickerControl td.ampm {
	cursor:				pointer;
	background-color:	#CCCCCC;
	border:				1px solid #EEEEEE;
	width:				2em;
}

.datepickerControl input.current,
.datepickerControl td.current,
.datepickerControl td.current:hover {
	background-color:	#EBC2C0;
}

.datepickerControl td.current {
	font-weight:		bold;
}

.datepickerControl div.dropdown {
	border:				1px solid #999999;
	background-color:	#EEEEEE;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  text-align: left;
  z-index: 999;
}

.datepickerControl div.dropdown a {
  display: block;
  margin: 0;
  padding: 1px 2px;
  text-decoration: none;
}

.datepickerControl div.dropdown a.current {
	background-color:	#CCCCCC;
}

.datepickerControl div.dropdown a:hover {
	outline: 2px solid #666666;
}

.inputExtension {
	cursor: pointer;
}

.chargementMask{
  width: 100%;
  position: absolute;
  background-color:#000 ;
  z-index: 100;
}

.chargementText{
  width: 20%;
  min-width: 150px;
  position: fixed;
  z-index: 101;
  font-size: 1.2em;
  background-color:#fff;
  color:#000;
  border: 1px solid #666;
  padding: 20px 5px;
  text-align: center;
}

.chargementText .loading{
  display: inline;
}

div#performance {
  opacity: 0.6;
  line-height: 110%;  
  font-size: 9px;
  margin: 10px; 
  text-align: center;
}

option.validation {
  height: 16px;
  background-image: url(images/buttons/tick.png);
  background-repeat: no-repeat;
  background-position: center right;
}
option.modification {
  height: 16px;
  background-image: url(../../images/icons/warning.png);
  background-repeat: no-repeat;
  background-position: center right;
}

div.idsante400 {
	height: 16px;
    width: 18px;
  	float: right;
	padding: 0 4px;
}

table#diagramme {
	height: 100%;
  width: 100%;
  font-size: 12px;
}

table#diagramme td.only {
	border: 2px solid #050440;
	color : #050440;
}

table#diagramme td.done {
	background-color:#f3f5f7;
	text-align: center;
}

table#diagramme td.current {
	background-color:#aabcee;
	text-align: center;
}

table#diagramme td.expect {
	text-align: center;
	background-color:#aaaaaa;
}

table#diagramme td.ray {
	background-image: url(./images/icons/ray.gif); 
	background-repeat: repeat;
}

table#diagramme td.arrowdown {
	height: 40px;
	background-image: url(./images/icons/downarrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

table#diagramme td.arrowup {
	height: 40px;
	background-image: url(./images/icons/uparrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

table#diagramme td.arrowright {
	height: 40px;
	width: 100px;
	background-image: url(./images/icons/loopnone.png);
  background-repeat: no-repeat;
  background-position: center;
}

table#diagramme td.space {
	width: 100px;
}

div.sejour {
 	font-weight: bold;
}

span.listeCurrent a {
 	color:red ;
}

table.tbl td.highlight,
td.highlight {
  background-color: #ff5;
}

div.effectue{
  text-decoration: line-through;	
}

table.tbl td.ccmu-1{
  background-color: #0F0;
}

table.tbl td.ccmu-2{
  background-color: #9F0;
}

table.tbl td.ccmu-3{
  background-color: #FF0;
}

table.tbl td.ccmu-4{
  background-color: #FFCD00;
}

table.tbl td.ccmu-5{ 
  background-color: #F60;
}

table.tbl td.ccmu-D{
  background-color: #F00;
}

table.tbl td.ccmu-P{
  background-color: #0F0;
}

.bargraph {
  overflow: hidden;
  height: 1em; 
  min-width: 2em;
}


.legend .value {
   font-weight: bold;
   border: none;
   padding: 2px;
   width: 12em;
}

.legend .color {
   height: 6px; 
   width: 6px; 
   float: left;
   margin: 3px;
   margin-bottom: 0;
   border: 1px solid #333333;
}

.bargraph .threshold {
  height: 55%;
  opacity: .3;
  margin-top: 1px;
  z-index: 0;
}

.bargraph .value div, .bargraph .threshold div {
  height: 100%;
}

.bargraph .threshold div {
  float:left; 
}

.critical {
  background: #F00;
  border-color: #F00;
}

.min {
  background: #FC3;
  border-color: #FC3;
}

.optimum {
  background: #1D6;
  border-color: #1D6;
}

.max {
  background: #06F;
  border-color: #06F;
}

.bargraph > .value {
  height: 40%;
  border-width: 1px;
  border-style: solid;
  background: none;
}

.numericField {
  border: none !important;
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
}

.numericField .arrows {
  position: relative;
}

.numericField .arrows div {
  /*outline: 1px solid #999;*/
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: absolute;
  height: 8px;
  width: 1.2em;
  right: -2px;
  border: 1px solid #999;
}

.numericField .arrows div.up {
  -moz-border-radius: 3px 3px 0 0;
  top: -1px;
  background-image: url(../../images/buttons/up.gif);
}

.numericField .arrows div.down {
  -moz-border-radius: 0 0 3px 3px;
  bottom: -1px;
  background-image: url(../../images/buttons/down.gif);
}

.numericField .arrows div:hover {
  background-color: #FFF;
  border-color: #666;
  z-index:100;
}

.numericField input {
  margin: 0;
  padding-right: 1em;
}

table.main td.step {
	background: url(images/pictures/background.png) left bottom;
	width: 10%; 
	font-size: 12px; 
	font-weight: bold; 
	text-align: center;
	vertical-align: middle;
	border: 1px dotted #55A;
}

table.main td.step.selected {
	border: 2px solid;
	font-size: 170%
}

.grippie-h {
  border: 1px solid #999;
  background: #CCC url(../../images/buttons/drag-n.gif) center center no-repeat;
  height: 7px;
  margin: 0;
  border-top: 0;
  cursor: n-resize;
  margin-left: 1px;
}

.schema-dentaire {
  margin: auto;
  border: 1px dotted #666;
}

.dent {
  -moz-border-radius: 22px;
  border-radius: 22px;
  position: absolute;
  cursor: pointer;
}

.hover {
  border: 2px solid #F00;
}

.focus {
  border: 1px solid #F00;
}

.bridge {
  background: #6699FF;
}

.pivot {
  background: #FF6600;
}

.mobile {
  background: #33CC00;
}

.appareil {
  background: #FF66FF;
}

.dent-menu {
  position: absolute;
  z-index: 8;
  border: 1px solid #999;
  background: #fff;
}

.dent-menu a {
  display: block;
  cursor: pointer;
  padding: 3px;
  color: #000;
  clear: both;
}

.dent-menu a:hover {
  text-decoration: none;
  color: #666;
}

.dent-menu a.cancel {
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  background: #999;
  color: #fff;
}

.dent-legend, .dent-buttons {
  position: absolute;
	top: 0px;
  margin: 0.5em;
}

.dent-legend {
  right: 0px;
}

.dent-buttons {
  left: 0px;
}

.dent-legend a {
  padding: 2px;
  margin: 2px;
}

.dent-legend a.none {
  background-color: #fff;
}

.dent-legend a.active {
  outline: 2px solid #f00;
}

.mallampati-selected {
  background: #B2CCFF;
}

table.tbl th.element{
  background-color: #ddf;
  color: #000;
}

table.tbl th.element a{
  color: #000;
}


.div_signature {
  position: absolute;
  right: 25px;
}

.div_signature button {
	margin-top: -3px;
}

table.tbl th.arretee, table.tbl td.arretee{		
	background-image: url(images/icons/ray.gif);
}

table.tbl th.traitement, table.tbl td.traitement {
  background-color: #bdb;
}

/* Select tree */
ul.select-tree {
  padding: 0;
  text-align: left;
  color: #000;
  font-weight: normal;
  font-size: 1.0em;
}

ul.select-tree ul {
  padding: 0;
}

ul.select-tree li {
  list-style-type: none;
  border: 1px solid #999;
  margin-top: -1px;
  padding: 1px;
  padding-left: 3px;
  background: #fff;
  cursor: pointer;
  margin-left: 0;
}

ul.select-tree li:hover {
  background: #ccc;
}

ul.select-tree li.selected {
  background: #666;
  color: #fff;
}

ul.select-tree li.focused {
  background: #ccc;
}

ul.select-tree li.drop {
  background-image: url(../../images/icons/a_right.png);
  background-position: center right;
  background-repeat: no-repeat;
}

ul.select-tree .highlight {
  background: #ddd;
}

.administration {
	border: 1px dotted #aaa;
	min-height: 15px;
  cursor: pointer;
  font-weight: bold;
}

.a_administrer {
  background-color: #bbf;
}

.administration_partielle {
  background-color: #ff0;	
}

.administre {
  background-color: #cfc
}

.non_administre {
	background-color: #f88;
}

.administration_annulee {
	background-color: #F00;
}

.transmission, table.tbl th.transmission {
  border: 2px solid #900;
}

.transmission_possible, a.transmission_possible {
  text-decoration: underline;
}

.planification {
  border: 2px solid #EA0;
}

.preview {
	border: 1px solid #aaa;
	background: #fff;
}

.administration-selected {
  border: 2px solid #000;
}


/** Flotr */
.flotr-datagrid-container {
  border: 1px solid #999;
  border-bottom: none;
  background: #fff;
}
.flotr-datagrid-toolbar {
  padding: 1px;
  border-bottom: 1px solid #ccc;
  background: #f9f9f9;
}
.flotr-datagrid {
  border-collapse: collapse;
  border-spacing: 0;
}
.flotr-datagrid td, .flotr-datagrid th {
  border: 1px solid #ccc;
  padding: 1px 3px;
  min-width: 2em;
}
.flotr-datagrid tr:hover {
  background: #f3f3f3;
}
.flotr-datagrid tr:hover th {
  background: #999;
  color: #fff;
}
.flotr-datagrid th {
  text-align: left;
  background: #e3e3e3;
  border: 2px outset #fff;
}
.flotr-datagrid td:hover {
  background: #ccc;
}
.flotr-datagrid .first-row th {
  text-align: center;
}
.flotr-canvas {
  margin-bottom: -3px;
  padding-bottom: 1px;
}
.flotr-tabs-group {
  border-top: 1px solid #999;
}
.flotr-tab {
  border: 1px solid #666;
  border-top: none;
  margin: 0 3px;
  padding: 1px 4px;
  cursor: pointer;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-radius: 0 0 4px 4px;
  opacity: 0.5;
  -moz-opacity: 0.5;
}
.flotr-tab.selected {
  background: #ddd;
  opacity: 1;
  -moz-opacity: 1;
}
.flotr-tab:hover {
  background: #ccc;
}

table.tbl td.soin-selected div{
  background: #666;
}

ul li a.chapitre_non_signe{
  background-color: #FFED68;
  color: #000;
}

ul li a.chapitre_non_signe:hover{
  background-color: #FFED68;
  color: #000;
}


ul li a.chapitre_non_signe.active{
  background-color: #FFF2AA;
  color: #000;
}

ul li a.chapitre_signe{
  background-color: #54FF54;
  color: #000;
}

ul li a.chapitre_signe:hover{
  background-color: #54FF54;
  color: #000;
}


ul li a.chapitre_signe.active{
  background-color: #C5FFC1;
  color: #000;
}

table.active {
  outline: 2px solid #6688CC;
}

#control_overlay {
	background-color: #000;
}

.modal {
	min-width: 200px;
	padding: 0.3em;
	border: 1px solid #999;
  border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #eee;
}

.modal h1 {
  text-align: center;
  font-size: inherit;
  background: #ccc; 
  radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  font-weight: bold; 
  margin: 0; 
  padding: 5px 1em; 
  white-space: nowrap;
}

.modal div {
  padding: 0.5em;
  text-align: center;
}

/**
 * Geshi xml
 */
.re0 {
  color:#000066;	
} 

.re1, .re2 {
  color:#000000;
  font-weight: bold; 
}

.st0 {
  color:#FF0000; 
}

.sc3 {
  color:#009900;
}

.de1 {
  font-family: "lucida console", "courier new", courier, monospace; 
  font-size: 1em; 
  line-height: 1.2em; 
}

.pagination {
  text-align: center; 
  font-weight: bold; 
  margin: 2px; 
}

.pagination .page {
  display: inline-block; 
  border: 1px solid #999; 
  padding: 1px 3px;
  margin: 1px;
}

.pagination .page.active {
  border: 1px solid #ccc; 
  color: #ccc;
}

.septique{
  color: #3A3;
}

.patient-not-arrived {
  color: #A33;
}

table.tbl td.trans-data {
  background-image: url(../../images/icons/trans_data.png);
  background-repeat: no-repeat;
  background-position: left center;
}

table.tbl td.trans-action {
  background-image: url(../../images/icons/trans_action.png);
  background-repeat: no-repeat;
  background-position: left center;
}

table.tbl td.trans-result {
  background-image: url(../../images/icons/trans_result.png);
  background-repeat: no-repeat;
  background-position: left center;
}

table.tbl td.trans-data p, table.tbl td.trans-action p, table.tbl td.trans-result p{
	margin-left: 50px;
}