/* $Id$ */

@import url(xhtml.css);
@import url(print.css);
@import url(tables.css);
@import url(forms.css);
@import url(messages.css);
@import url(tooltips.css);
@import url(ui.css);
@import url(dev.css);

div.cancelled {
  color: #fff;
  background-color: #f00;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

li.cancelled {
  opacity: 0.4;
  -moz-opacity: 0.4;
  background-color: #eee;
}

tr.script {
  display: none;
}

/** Must not apply it to every tag, or it will break textareas behavior */
td.text,
th.text,
div.text {
  white-space: normal !important;
}

a.selected{
  background: url(../../images/icons/td_selected.png) no-repeat bottom center;
  padding-bottom: 8px;		
}	

a.selectable{
  padding-bottom: 8px;	
}
a.selectable:hover{
  background: url(../../images/icons/td_selected.png) no-repeat bottom center;
  padding-bottom: 8px;		
}	

a.sortable{
  background: url(../../images/icons/a_sortable.png) no-repeat bottom center;
  padding-bottom: 8px;	
}

a.sortable:hover{
  background: url(../../images/icons/a_asc.png) no-repeat bottom center;
  padding-bottom: 8px;	
}

a.ASC{
  background: url(../../images/icons/a_asc.png) no-repeat bottom center;
  padding-bottom: 8px;
}

a.ASC:hover{
  background: url(../../images/icons/a_desc.png) no-repeat bottom center;
  padding-bottom: 8px;
}

a.DESC{
  background: url(../../images/icons/a_desc.png) no-repeat bottom center;
  padding-bottom: 8px;
}
a.DESC:hover{
  background: url(../../images/icons/a_asc.png) no-repeat bottom center;
  padding-bottom: 8px;
}

/* classes Mediboard */

.mediuser {
  border-left: 4px solid transparent; 
  padding-left: 4px; 
  margin-left: 0px;
}

.categorieConsult { 
  padding-left: 20px;
  height: 18px; 
  margin-left: 0px;
}

/* Drag'n'Drop */ 
.dropover {
  outline: 4px solid #f88;
}

/* Should not be used */
div.dragged {
  background-color: #ffc;
  border: 1px solid black;
  padding: 2px 10px;
}

.draggable:hover {
  cursor: move;
	background-color: #fff;
  outline: 4px solid #8f8;
}

/* tabbed boxes */
td.tabox {
  background-color: #ccc;
  border: solid #ccc 2px;
}

span.hilite {
  background: #f5f;
}

table.fullCode {
  width: 100%;
  background: #f99;
}

table.fullCode tr td.pane {
  vertical-align: top;
  width: 50%;
  background: #fdd;
  padding: 5px;
}

table.fullCode tr td.pane table {
  width: 100%;
}

table.findCode {
  width: 100%;
  background: #99f;
}

table.findCode th {
  text-align: left;
}

table.findCode td {
  vertical-align: top;
  width: 25%;
  background: #ddf;
  padding: 5px;
}

table.bookCode {
  width: 100%;
  background: #f9f;
}

table.bookCode th {
  text-align: left;
}

table.bookCode td {
  vertical-align: top;
  width: 25%;
  background: #fdf;
  padding: 5px;
}

table.selectCode {
  width: 100%;
  background: #f9f;
}

table.selectCode th {
  text-align: left;
}

table.selectCode td {
  vertical-align: top;
  width: 33%;
  background: #fdf;
  padding: 5px;
}

/* Chambres */
table.chambrecollapse,
table.chambreexpand {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 1px 0;
}

table.chambrecollapse td,
table.chambrecollapse th,
table.chambreexpand td,
table.chambreexpand th {
  border: 1px outset #050;
}

table.chambrecollapse td.action,
table.chambreexpand td.action {
  width: 20px;
  text-align: center;
  vertical-align: middle;
}

table.chambrecollapse th.chambre {
  padding: 2px;
  padding-left: 10px;
  background: #aaa url(../../images/icons/collapse.gif) no-repeat center left;
  color: #fff;
}

table.chambreexpand th.chambre {
  padding: 2px;
  padding-left: 10px;
  background: #aaa url(../../images/icons/expand.gif) no-repeat center left;
  color: #400;
}

th.chambre img {
  float: right;
  margin: 0 1px;
}

table.chambrecollapse tr.litdispo td,
table.chambreexpand tr.litdispo td {
  background: #dfd;
}

table.chambrecollapse tr.lit td,
table.chambreexpand tr.lit td {
  background: #ccc;
  color: #000;
}

table.chambrecollapse tr.patient td,
table.chambreexpand tr.patient td {
  background: #eee;
  color: #000;
}

table.chambrecollapse tr.patient img,
table.chambreexpand tr.patient img {
  float: left;
  margin-right: 2px;
}

table.chambrecollapse tr.lit,
table.chambrecollapse tr.litdispo,
table.chambrecollapse tr.dates {
  display: none;
}

table.chambreexpand td.dates {
  white-space: normal;
  color: red;
}

table.chambreexpand tr.dates {
}

/* Operations */

table.operationcollapse,
table.operationexpand,
table.sejourcollapse,
table.sejourexpand {
  width: 100%;
  background: #fff;
  border-spacing: 0px;
  border-collapse: collapse;
}

table.operationcollapse td,
table.operationexpand td,
table.sejourcollapse td,
table.sejourexpand td {
  border: 1px solid #555;
  padding: 0 2px;
  color: #000;
}

table.operationcollapse em,
table.operationexpand em,
table.sejourcollapse em,
table.sejourexpand em {
  font-weight: bold;
}

table.operationcollapse td.selectoperation,
table.operationexpand td.selectsejour,
table.sejourcollapse td.selectsejour,
table.sejourexpand td.selectsejour {
  background: #ddf;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

table.operationcollapse td.patient,
table.sejourcollapse td.patient {
  white-space: normal;
  padding-left: 17px;
  background: #ddf url(../../images/icons/collapse.gif) no-repeat center left;
}

table.operationexpand td.patient,
table.sejournexpand td.patient {
  padding-left: 17px;
  background: #ddf url(../../images/icons/expand.gif) no-repeat center left;
}

table.operationcollapse td,
table.sejourcollapse td {
  display: none;
}

table.operationcollapse td.patient,
table.sejourcollapse td.patient,
table.operationcollapse td.selectsejour,
table.sejourcollapse td.selectsejour {
  display: table-cell;
}

table#planningBloc {
  width: 100%;
  border-spacing: 1px;
}

table#planningBloc th {
  background-color: #888;
  padding: 2px;
  color: #fff;
  border: outset #ccc 1px;
  font-weight: normal;
  white-space: nowrap;
}

table#planningBloc th a {
  color: #fff;
}

table#planningBloc th.heure {
  text-align: left;
  width: 6%;
}

table#planningBloc td.salle {
  background-color: #eee;
  text-align: center;
}

table#planningBloc td {
  vertical-align: middle;
  background-color: #888;
}
table#planningBloc td.empty {
  background: #eee;
  width: 1.5%;
}

table#planningBloc td.firsthour {
  background: #ddd;
}

/** dPpatients */
table#weeklyPlanning {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 0.9em;
  line-height: 115%;
}

table#weeklyPlanning td {
  text-align: center; 
  vertical-align: middle;
  white-space: normal;
  border-left: 1px solid #ccc;
  padding: 1px;
}

table#weeklyPlanning th {
  padding: 4px;
}

table#weeklyPlanning th[scope="row"] {
  border-top: 1px solid #ccc;
  vertical-align: middle;
}

table#weeklyPlanning th[scope="col"] {
  border-left: 1px solid #ccc;
}

table#weeklyPlanning td.selectedPlage {
  background: #ddd;
  outline: 2px solid #444;
}

table#weeklyPlanning td.nonEmpty {
  background: #ccc; 
  border: 1px solid #999 !important;
}

table#weeklyPlanning td.selectedConsult,
table#weeklyPlanning td.nonEmptyConsult {
  background: #ccc url(images/pictures/plageConsult.png) repeat-y left;
}
table#weeklyPlanning td.selectedOp,
table#weeklyPlanning td.nonEmptyOp {
  background: #ccc url(images/pictures/plageOp.png) repeat-y left;
}

table#weeklyPlanning td.selectedConsult,
table#weeklyPlanning td.selectedOp {
  outline: #666 2px solid;
}

table#weeklyPlanning td.empty {
  background: #eee;
}

table#weeklyPlanning td.hour_start {
  border-top: 1px solid #ccc;
}

table#weeklyPlanning th.today {
  background-color: #ffd;
}

.planning .event {
  position: absolute;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  white-space: normal;
  font-size: 9px;
  overflow: hidden;
  cursor: pointer;
}

.planning .event:hover {
  margin: -1px;
  border: 1px solid #666;
  z-index: 10;
}

.planning .event .time {
  padding: 1px;
  font-size: 8px;
  font-weight: bold;
  border-bottom: 1px dotted rgba(255,255,255,0.4);
  white-space: nowrap;
}

.planning .elt_selected {
  margin: -1px;
  border: 1px solid #000;
}

.planning .selected, .planning .selected:hover {
  margin: -2px;
  border: 2px dotted #000;
  z-index: 10;
	opacity: 0.7;
}
.planning .event .body {
  padding: 1px 2px;
	line-height: 90%
}

.planning .kine {
  background: #aaa url(../../images/icons/evtKine.png) no-repeat top right;
}

.planning .equipement {
  background: #aaa url(../../images/icons/evtEquipement.png) no-repeat top right;
}

.planning .hours td {
  height: 30px; 
  padding: 0;
  vertical-align: top;
}

.planning .hours td>div {
  position: relative;
}

.planning .hours .pause {
  border-bottom: 3px solid #ccc;
}
.planning .hours .pause-next {
  border-top: 3px solid #ccc;
}

.planning .hours .pause td,
.planning .hours .pause th,
.planning .hours .pause-next td,
.planning .hours .pause-next th {
  height: 27px;
}

.planning .hour {
  vertical-align: middle;
  padding: 1px;
}

.planning th.day {
  vertical-align: top;
  padding: 0;
}

.planning th.day label {
  display: block;
  font-size: 9px;
  font-weight: normal;
}

.planning td.disabled {
  background: #f3f3f3 !important;
}

.planning th.disabled {
  background: #ddd;
}

.planning td.unavailable,
.planning th.unavailable {
  background-image: url(./images/pictures/unavailable.png);
}

div.tree-content {
  margin: 0; 
  padding-left: 25px;
}

div.tree-trigger {
  overflow: hidden;
  width: 0px;
  float: left;
}

div.tree-header {
  border: 1px solid #777;
  margin-top: -1px;
  padding-top: 4px;
  font-weight: normal;
}

table.affectations {
	width: 100%;
}

table.affectations td.fullService {
	border: 1px solid #aaa;
  background-color: #fff;
}

table#weber td {
  text-align: center;
}

table#weber tr.values, 
table#weber tr.vocales {
  display: none;
}

table#weber tr.moyenne td {
  background-color: #ddd;
}

table#weber tr.moyenne td.aerien {
  background-color: #aaf;
  font-weight: bold;
}

table#weber tr.moyenne td.osseux {
  background-color: #faa;
  font-weight: bold;
}

table#weber td {
  text-align: center;
}

/* Liste de choix dans les comptes rendus */
.listeChoixCR {
  white-space: normal;
}

.listeChoixCR select {
	margin: 1px;
	float: left;
  width: 150px;	
}

/* Installation wizard */
.wizard {
  padding: 20px;
  width: 900px;
  margin: 40px auto; 
  border: 2px solid #666;
  background: #eee;
}

.wizard .toc {
  position: fixed;
  right: 20px;
  top: 20px;
  background: #fff;
  border: 2px solid #666;
  padding: 10px;
  opacity: .7;
}

.wizard .toc ol {
  margin: 0px;
  padding-left: 20px;
}

.wizard .toc a {
  display: block;
  color: #000;
}

.wizard .navigation {
  text-align: center;
  margin: 20px;
}

.wizard .navigation a {
  text-decoration: none;
  border: 1px black solid;
  font-weight: bold;
  font-size: 12px;
  background: #ddd;
  margin: 0 2px;
  padding: 2px 5px;
}

.wizard .navigation a:hover {
  background: #bbb;
}

div.generated {
  margin: 5px;
  text-align: center;
  font-size: 90%;
}

div.about {
	margin-top: 100px;
	height: 200px;
	position: absolute;
	text-align: center;
	width: 50%;
}

div.about div.text {
	height: 100%;
	text-align: center;
	width: 100%;
}

div.about div.nav {
	text-align: center;
	width: 100%;
}

.inputExtension {
	cursor: pointer;
}

div#performance {
  opacity: 0.6;
  line-height: 110%;  
  font-size: 9px;
  margin: 10px; 
  text-align: center;
}

option.validation {
  height: 16px;
  background-image: url(images/buttons/tick.png);
  background-repeat: no-repeat;
  background-position: center right;
}

option.modification {
  height: 16px;
  background-image: url(../../images/icons/warning.png);
  background-repeat: no-repeat;
  background-position: center right;
}

table#diagramme {
	height: 100%;
  width: 100%;
  font-size: 12px;
}

table#diagramme td.only {
	border: 2px solid #050440;
	color : #050440;
}

table#diagramme td.done {
	background-color:#f3f5f7;
	text-align: center;
}

table#diagramme td.current {
	background-color:#aabcee;
	text-align: center;
}

table#diagramme td.expect {
	text-align: center;
	background-color:#aaaaaa;
}

table#diagramme td.ray {
	background-image: url(./images/icons/ray.gif); 
	background-repeat: repeat;
}

table#diagramme td.arrowdown {
	height: 40px;
	background-image: url(./images/icons/downarrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

table#diagramme td.arrowup {
	height: 40px;
	background-image: url(./images/icons/uparrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

table#diagramme td.arrowright {
	height: 40px;
	width: 100px;
	background-image: url(./images/icons/loopnone.png);
  background-repeat: no-repeat;
  background-position: center;
}

table#diagramme td.space {
	width: 100px;
}

div.sejour {
 	font-weight: bold;
}

span.listeCurrent a {
 	color:red ;
}

div.effectue{
  text-decoration: line-through;	
}

table.tbl td.ccmu-1, table.tbl tr:hover td.ccmu-1{
  background-color: #0F0;
}

table.tbl td.ccmu-2, table.tbl tr:hover td.ccmu-2{
  background-color: #9F0;
}

table.tbl td.ccmu-3, table.tbl tr:hover td.ccmu-3{
  background-color: #FF0;
}

table.tbl td.ccmu-4, table.tbl tr:hover td.ccmu-4{
  background-color: #FFCD00;
}

table.tbl td.ccmu-5, table.tbl tr:hover td.ccmu-5{ 
  background-color: #F60;
}

table.tbl td.ccmu-D, table.tbl tr:hover td.ccmu-D{
  background-color: #F00;
}

table.tbl td.ccmu-P, table.tbl tr:hover td.ccmu-P{
  background-color: #0F0;
}

.bargraph {
  overflow: hidden;
  height: 1.2em; 
  min-width: 4em;
}


.legend .value {
   font-weight: bold;
   border: none;
   padding: 2px;
   width: 12em;
}

.legend .color {
   height: 6px; 
   width: 6px; 
   float: left;
   margin: 3px;
   margin-bottom: 0;
   border: 1px solid #333333;
}

.bargraph .threshold {
  height: 25%;
  opacity: .3;
  margin-top: 0;
  z-index: 0;
}

.bargraph .value div, .bargraph .threshold div {
  height: 100%;
}

.bargraph .threshold div {
  float:left; 
}

.critical {
  background: #F00;
  border-color: #F00;
}

.min {
  background: #FC3;
  border-color: #FC3;
}

.optimum {
  background: #1D6;
  border-color: #1D6;
}

.max {
  background: #06F;
  border-color: #06F;
}

.bargraph > .value {
  height: 60%;
  border-width: 1px;
  border-style: solid;
  background: none;
}

.schema-dentaire {
  margin: auto;
  border: 1px dotted #666;
}

.dent {
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  position: absolute;
  cursor: pointer;
}

.hover {
  border: 2px solid #F00;
}

.focus {
  border: 1px solid #F00;
}

.bridge {
  background: #6699FF;
}

.pivot {
  background: #FF6600;
}

.mobile {
  background: #33CC00;
}

.appareil {
  background: #FF66FF;
}

.dent-menu {
  position: absolute;
  z-index: 8;
  border: 1px solid #999;
  background: #fff;
}

.dent-menu a {
  display: block;
  cursor: pointer;
  padding: 3px;
  color: #000;
  clear: both;
}

.dent-menu a:hover {
  text-decoration: none;
  color: #666;
}

.dent-menu a.cancel {
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  background: #999;
  color: #fff;
}

.dent-legend, .dent-buttons {
  position: absolute;
	top: 0px;
  margin: 0.5em;
}

.dent-legend {
  right: 0px;
}

.dent-buttons {
  left: 0px;
}

.dent-legend a {
  padding: 2px;
  margin: 2px;
}

.dent-legend a.none {
  background-color: #fff;
}

.dent-legend a.active {
  outline: 2px solid #f00;
}

.mallampati-selected {
  background: #B2CCFF;
}

table.tbl th.element{
  background-color: #ddf;
  color: #000;
}

table.tbl th.element a{
  color: #000;
}

.div_signature {
  position: absolute;
  right: 25px;
}

.div_signature button {
	margin-top: -3px;
}

table.tbl th.arretee, table.tbl td.arretee{		
	background-image: url(images/icons/ray.gif);
}

table.tbl th.traitement, table.tbl td.traitement, table.tbl tr:hover td.traitement {
  background-color: #bdb;
}

/* Select tree */
ul.select-tree {
  padding: 0;
  text-align: left;
  color: #000;
  font-weight: normal;
  font-size: 1.0em;
}

ul.select-tree ul {
  padding: 0;
}

ul.select-tree li {
  list-style-type: none;
  border: 1px solid #999;
  margin-top: -1px;
  padding: 1px;
  padding-left: 3px;
  background: #fff;
  cursor: pointer;
  margin-left: 0;
}

ul.select-tree li:hover {
  background: #ccc;
}

ul.select-tree li.selected {
  background: #666;
  color: #fff;
}

ul.select-tree li.focused {
  background: #ccc;
}

ul.select-tree li.drop {
  background-image: url(../../images/icons/a_right.png);
  background-position: center right;
  background-repeat: no-repeat;
}

ul.select-tree .highlight {
  background: #ddd;
}

.administration {
	border: 1px dotted #aaa;
	min-height: 15px;
  cursor: pointer;
  font-weight: bold;
}

.a_administrer {
  background-color: #bbf;
}

.administration_partielle {
  background-color: #ff0;	
}

.administre {
  background-color: #cfc
}

.non_administre {
	background-color: #f88;
}

.administration_annulee {
	background-color: #F00;
}

.transmission, table.tbl th.transmission {
  border: 2px solid #900;
}

.transmission_possible, a.transmission_possible {
  text-decoration: underline;
}

.planification {
  border: 2px solid #EA0;
}

.preview {
	border: 1px solid #aaa;
	background: #fff;
}

.administration-selected {
  border: 2px solid #000;
}



table.tbl td.soin-selected div{
  background: #666;
}

ul li a.chapitre_non_signe{
  background-color: #FFED68;
  color: #000;
}

ul li a.chapitre_non_signe:hover{
  background-color: #FFED68;
  color: #000;
}

ul li a.chapitre_non_signe.active{
  background-color: #FFF2AA;
  color: #000;
}

ul li a.chapitre_signe{
  background-color: #54FF54;
  color: #000;
}

ul li a.chapitre_signe:hover{
  background-color: #54FF54;
  color: #000;
}

ul li a.chapitre_signe.active{
  background-color: #C5FFC1;
  color: #000;
}

/**
 * Geshi xml
 */
.re0 {
  color:#000066;	
} 

.re1, .re2 {
  color:#000000;
  font-weight: bold; 
}

.st0 {
  color:#FF0000; 
}

.sc3 {
  color:#009900;
}

.de1 {
  font-family: "lucida console", "courier new", courier, monospace; 
  font-size: 1em; 
  line-height: 1.2em; 
}

.septique{
  color: #3A3;
}

.patient-not-arrived {
  color: #A33;
}

table.tbl td.ssr_annule {
	background-color: #f00;
}

.ssr_fini {
  background-image: url(./images/icons/ray.gif); 
}

.ssr_non_debute {
  color: #f00;
}



table.tbl td.trans-data {
  background-image: url(../../images/icons/trans_data.png);
  background-repeat: no-repeat;
  background-position: left center;
}

table.tbl td.trans-action {
  background-image: url(../../images/icons/trans_action.png);
  background-repeat: no-repeat;
  background-position: left center;
}

table.tbl td.trans-result {
  background-image: url(../../images/icons/trans_result.png);
  background-repeat: no-repeat;
  background-position: left center;
}

table.tbl td.trans-data p, table.tbl td.trans-action p, table.tbl td.trans-result p{
	margin-left: 50px;
}

.iconed-text {
  padding-left: 20px !important;
  background-repeat: no-repeat;
  background-position: center left;
}

.iconed-text.interv {
  background-image: url(images/icons/interv.png);
}

.iconed-text.urg {
  background-image: url(images/icons/urg.png);
}

.iconed-text.anesth {
  background-image: url(images/icons/anesth.png);
}

.merge-selected {
	outline: 3px solid #88f;
}

.merge-possible {
  outline: 3px solid #ff8;
}

.merge-probable {
  outline: 3px solid #8f8;
}

.mergeable big {
	font-weight: bold;
}
