/* $Id: $ */

@media screen {
  .only-printable {
    display: none;
  }
  
  .desktop label[title]:hover,
  *[onmouseover],
  *[data-object_guid] {
    border-bottom: 1px dotted #bbb;
    margin-bottom: -1px;
    cursor: help;
  }
  
  a[onmouseover],
  a *[onmouseover] {
    cursor: pointer;
  }
}