/* $Id: $ */

@media screen {
  .only-printable {
    display: none;
  }

  .desktop label[title]:hover,
  a[onmouseover],
  code[onmouseover],
  div[onmouseover],
  img[onmouseover],
  label[onmouseover],
  small[onmouseover],
  span[onmouseover],
  strong[onmouseover],
  td[onmouseover],
  span[data-object_guid],
  div[data-object_guid],
  label[data-object_guid],
  strong[data-object_guid] {
    border-bottom: 1px dotted #bbb;
    margin-bottom: -1px;
    cursor: help;
  }
  
  a[onmouseover],
  a *[onmouseover] {
    cursor: pointer;
  }
}