/* $Id: $ */

/** Tooltip **/
.tooltip-trigger {
  cursor: pointer;
}

div.tooltip {
  margin-left: 20px;
  position: absolute;
  z-index: 1100;
  white-space: nowrap;
  background: #fff;
  border: 2px solid #999;
  padding: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  
  /* IE specific shadow */
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=6)";
  
  /* Fun with box-shadows */
  /*box-shadow:
  0 0 20px black,
  20px 15px 30px yellow,
  -20px 15px 30px lime,
  -20px -15px 30px blue,
  20px -15px 30px red;*/
}

/** Postit **/
div.postit {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #FEFF7F;
  padding: 4px;
}

/** Note **/
table.note {
  background: transparent;
  border-spacing: 0;
  padding: 0;
  color: #000;
  font-size: 0.9em;
  font-weight: normal;
  min-width: 15em;
}

table.note th,
table.note td {
  background: transparent;
  text-align: left;
}

table.note th {
  font-weight: bold;
}

table.note th.high {
  background-color: #faa;
}

table.note th.medium {
  background-color: #fc0;
}
table.note th.low {
  background-color: #afa;
}