/* $Id: $ */

/** Tooltip **/
.tooltip-trigger {
  cursor: pointer;
}

div.tooltip {
  padding: 0px;
  margin-left: 20px;
  position: absolute;
  z-index: 30;
}

div.tooltip table.decoration {
  border-spacing: 0px;
  border: none;
}

div.tooltip table.decoration td {
  padding: 0;
}

div.tooltip table.decoration td.container {
  /* This background is needed because of the border radius */
  background: url(images/pictures/container-background.png) bottom right no-repeat;
}

div.tooltip table.decoration td.deco {
	border: 0px;
	opacity: .7;
}

div.tooltip table.decoration td.top-right,
div.tooltip table.decoration td.top,
div.tooltip table.decoration td.top-left,
div.tooltip table.decoration td.left,
div.tooltip table.decoration td.bottom-left {
  background: transparent;
	opacity: 1;
}

div.tooltip table.decoration td.bottom {
  width: 16px;
  height: 16px;
  background: url(images/pictures/bottom.png) top left no-repeat;
}

div.tooltip table.decoration td.bottom-right {
  width: 16px;
  height: 16px;
  background: url(images/pictures/bottom-right.png) top left no-repeat;
}

div.tooltip table.decoration td.right {
  width: 16px;
  height: 16px;
  min-width: 16px;
  background: url(images/pictures/right.png) top left no-repeat;
}

div.tooltip table.tbl td {
  vertical-align: top;
}

div.tooltip table.decoration .content {
  white-space: nowrap;
  background: #fff;
  border: 2px solid #999;
	padding: 2px;
}

/** Postit **/
div.postit > table.decoration .content {
  -moz-border-radius: 6px;
  background: #FEFF7F;
  padding: 4px;
}

/** Note **/
table.note {
  background: transparent;
  border-spacing: 0px;
  padding: 0px;
  color: #000;
  font-size: 0.9em;
  font-weight: normal;
  min-width: 15em;
}

table.note th,
table.note td {
  background: transparent;
  text-align: left;
}

table.note th {
  font-weight: bold;
}

table.note th.high {
  background-color: #faa;
}

table.note th.low {
  background-color: #afa;
}