/* $Id: $ */

td a.email {
  display: inline;
}

/** Login page */
#login {
  padding-top: 40px; 
}

#login table {
  border: solid #8c8 3px;
  width: 600px;
  background: #eef;
  margin: auto;
  padding: 5px;
  border-collapse: separate;
}

#login table td.logo {
  text-align: center;
  font-size: 0.9em;
  white-space: normal;
}

#login input, 
#login label,
#login button {
  font-size: 14px;
}

#login button {
  height: 26px;
  line-height: 22px;
  padding: 0 4px;
}

/* Global header */
#header {
  width: 100%;
  border-spacing: 0;
  border: none;
}

#header td {
  padding: 0;
}

table.Offline td.button {
  text-align: center;
  vertical-align: middle;
}

table.Offline select,
table.Offline option,
table.Offline input,
table.Offline button  {
  height: 20px;
  font-size: 1.2em;
  font-weight: bold;
  margin : 2px 2px;
}


/* Navigation */
#menubar {
  border-bottom: 1px solid #999;
  background-color: #ddd;
  color: #fff;
  text-align: left;
  width: 100%;
}

ul#nav,
ul#nav-vert {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav li {
  display: inline;
  float: left;
}

#nav a,
#nav-vert a {
  display: block;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1em;
  padding: 2px 2px;
}

#nav a:hover,
#nav-vert a:hover {
  text-decoration: none;
  background: #eee;
  padding: 1px 2px 1px 1px;
  border: 1px outset #ddd;
}

#nav a:active,
#nav-vert a:active {
  background: #eee;
  padding:  1px 2px 1px 1px;
  border: 1px inset #ddd;
}

#nav li.nonSelected a,
#nav-vert li.nonSelected a {
  text-decoration: none;
  border-right: 1px dotted #aaa;
}

#nav li.selected a,
#nav-vert li.selected a {
  text-decoration: none;
  background: #aaa;
  padding:  1px 2px 1px 1px;
  border: 1px inset #888;
}

#nav img,
#nav-vert img {
  display: block;
  margin: auto;
  width: 48px;
}

#menubar.uniconed #nav img,
#menubar.uniconed #nav-vert li.nonSelected img {
  display: none;
}

/* User */

#user {
  vertical-align: top;
  height: 1%;
  border-bottom: 1px dashed black;
  padding: 2px;
}

#user .menu {
  float: right;
}

#user .menu img {
  padding: 2px;
}

#user .menu a:hover {
  text-decoration: none;
}

#user .menu img:hover {
  background-color: #ccc;
}

/* Main -- table -- pane */
#main {
  clear: both;
  width: 100%;
  border-spacing: 0
}

#mainPane {
  vertical-align: top;
}

/* Touchscreen mode */
.touchscreen input,
.touchscreen select,
.touchscreen option,
.touchscreen button,
.touchscreen a.button,
.touchscreen label {
  height: 26px;
  vertical-align: middle;
}

.touchscreen button,
.touchscreen a.button {
  height: 28px;
  line-height: 28px;
}

.touchscreen button:before,
.touchscreen a.button:before {
  margin: 4px;
}

.touchscreen button.notext,
.touchscreen a.button.notext {
  width: 28px;
}

.touchscreen input {
  height: 18px;
}
.touchscreen input[type=image] {
  width: 18px;
}

.touchscreen input[type=text],
.touchscreen input[type=tel],
.touchscreen input[type=number],
.touchscreen input[type=email],
.touchscreen input[type=password] {
  min-width: 3em;
  padding-top: 5px;
}

.touchscreen input[type=radio],
.touchscreen input[type=checkbox] {
  width: 24px;
  height: 24px;
}

.touchscreen option,
.touchscreen form label {
  padding-top: 5px;
}

.touchscreen optgroup option {
  padding-left: 16px;
}

.touchscreen input.autocomplete {
  background-position: 100% 5px;
}

.touchscreen input.autocomplete.throbbing {
  background-position: 100% -15px;
}

.touchscreen div.autocomplete ul li {
  padding: 6px;
}

.touchscreen .control .trigger {
  width: 22px;
  height: 22px;
}

.touchscreen .control .trigger,
.touchscreen .inputExtension  {
  margin: 1px;
  top: 3px;
}

.touchscreen .inputExtension  {
  margin: 1px;
  width: 22px;
}

.touchscreen .control button,
.touchscreen .control input {
  top: -4px;
}

.touchscreen ul.control_tabs li a, 
.touchscreen ul.control_tabs_vertical li a {
  font-size: 15px;
}

.touchscreen .numericField .arrows div {
  width: 2.2em;
  height: 14px;
  right: -3px;
}

.touchscreen .numericField .arrows div.up {
  top: -3px;
  height: 15px;
}

.touchscreen .numericField .arrows div.down {
  bottom: -3px;
}

.touchscreen .numericField.big-buttons button {
  height: 22px;
  width: 22px;
  font-size: 18px;
}

.touchscreen .datepickerControl {
  font-size: 14px;
}

.touchscreen .datepickerControl td {
  padding: 3px;
}

.touchscreen div.dropdown-trigger {
  height: 24px;
  width: 24px;
}

.touchscreen div.dropdown {
  padding-right: 25px;
}

/** aides à la saisie ipad : on ne cache pas les boutons **/
.touchscreen .textarea-helped .toolbar {
    display: block!important;
}

/* control tabs */
hr.control_tabs {
  display: none;
}

ul.control_tabs,
ul.control_tabs_vertical {
  list-style: none;
  line-height: normal;
  clear: right;
  display: block;
  padding: 0;
}

ul.control_tabs {
  border-bottom: 1px solid #458;
  padding-left: 1px;
  margin-top: 1px;
}

ul.control_tabs_vertical {
  border-right: 1px solid #458;
}

ul.full_width li,
ul.control_tabs.wide li {
  width: 100%;
}

ul.control_tabs li, 
ul.control_tabs_vertical li {
  margin: 1px 1px 0;
  text-align: center;
  display: -moz-inline-box;
  display: inline-block;
}

ul.control_tabs_vertical li {
  display: block;
}

ul.control_tabs li.linebreak, 
ul.control_tabs_vertical li.linebreak {
  clear: both;
}

ul.control_tabs li a, 
ul.control_tabs_vertical li a {
  display: block;
  border: 1px solid #458;
  border-radius: 3px 3px 0 0;
  background-color: #6688CC;
  font-size: 1.1em;
  padding: 3px 6px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: -1px;
}

/*
ul.control_tabs li a[data-count]:after, 
ul.control_tabs_vertical li a[data-count]:after {
  content: " (" attr(data-count) ")";
  font-size: smaller;
}*/

ul.control_tabs li a:focus, 
ul.control_tabs_vertical li a:focus {
  outline: 0;
}

ul.control_tabs li a:hover, 
ul.control_tabs_vertical li a:hover {
  background-color: #98B5DF;
  text-decoration: none;
}

ul.control_tabs li a.active, 
ul.control_tabs_vertical li a.active {
  background-color: #FFF;
  color: #000;
}

ul.control_tabs li a.active {
  border-bottom: 1px solid #fff;
}

ul.control_tabs_vertical li a.active {
  border-right: 1px solid #fff;
}

/** EMPTY **/
ul.control_tabs li a.empty, 
ul.control_tabs_vertical li a.empty{
  background-color: #bbb;
}

ul.control_tabs li a.empty:hover, 
ul.control_tabs_vertical li a.empty:hover {
  background-color: #ccc;
}

ul.control_tabs li a.empty.active, 
ul.control_tabs_vertical li a.empty.active {
  background-color: #eee;
}

/** WRONG **/
ul.control_tabs li a.wrong, 
ul.control_tabs_vertical li a.wrong,
span.wrong {
  background-color: #fb0;
}

ul.control_tabs li a.wrong:hover, 
ul.control_tabs_vertical li a.wrong:hover {
  background-color: #fd4;
}

ul.control_tabs li a.wrong.active, 
ul.control_tabs_vertical li a.wrong.active {
  background-color: #ffa;
  color: #000000;
}

/** SPECIAL **/
ul.control_tabs li a.special, 
ul.control_tabs_vertical li a.special,
ul.control_tabs li a.special:hover, 
ul.control_tabs_vertical li a.special:hover {
  background-color: #94dd89;
}

ul.control_tabs li a.special.active, 
ul.control_tabs_vertical li a.special.active {
  background-color: #6fe060;
  color: #000000;
}

/** Cancelled **/
ul.control_tabs li a.cancelled,
ul.control_tabs_vertical li a.cancelled,
ul.control_tabs li a.cancelled:hover,
ul.control_tabs_vertical li a.cancelled:hover {
  background-color: #f88;
}

ul.control_tabs li a.cancelled.active,
ul.control_tabs_vertical li a.cancelled.active {
  background-color: #ffc3c3;
  color: #000000;
}

ul.control_tabs .separator, 
ul.control_tabs_vertical .separator {
  padding: 0 10px; 
  display: block;
  visibility: hidden;
}

ul.control_tabs_vertical {
  border-right: 1px solid #458;
  padding: 0;
  padding-top: 6px;
}

ul.control_tabs_vertical li {
  text-align: right;
  margin-right: -1px;
}

ul.control_tabs_vertical li a {
  border-radius: 3px 0 0 3px;
  padding: 3px 8px;
  margin-bottom: 2px;
}

ul.control_tabs_vertical li a.active {
  background-color: #FFF;
  color: #000;
  border-bottom: 1px solid #458;
}

ul.control_tabs.small li a,
ul.control_tabs_vertical.small li a {
  font-size: 1em; 
  padding: 2px 5px;
  font-weight: normal;
}

ul.control_tabs.small li button,
ul.control_tabs_vertical.small li button {
  margin: 0;
}

div.progressBar {
  font-size: 0.9em;
  background: #fff;
  margin: 0 auto;
  height: 11px;
  width: 90%;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  color: #000;
  min-width: 4em;
}

div.progressBar div {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

div.progressBar div.bar {
  height: 100%;
  background-repeat: repeat;
}

div.progressBar div.text {
  text-align: center;
  white-space: nowrap;
}

div.progressBar div.empty {
  background-image: url(./images/icons/pempty.png);
}

div.progressBar div.normal {
  background-image: url(./images/icons/pnormal.png);
}

div.progressBar div.booked {
  background-image: url(./images/icons/pbooked.png);
}

div.progressBar div.full {
  background-image: url(./images/icons/pfull.png);
}

tr.groupexpand td,
tr.groupcollapse td {
  background-color: #ddf;
}

tr.groupexpand td,
tr.groupcollapse td,
tr.groupexpand th,
tr.groupcollapse th {
  padding-left: 25px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center left;
}

tr.groupcollapse td,
tr.groupcollapse th {
  background-image: url(../../images/icons/collapse.gif);
}

tr.groupexpand td,
tr.groupexpand th {
  background-image: url(../../images/icons/expand.gif);
}

tr.triggerShow td,
tr.triggerHide td {
  background-color: #ddf;
}

tr.triggerShow td,
td.triggerShow,
tr.triggerHide td,
td.triggerHide,
tr.triggerShow th,
tr.triggerHide th,
div.triggerShow,
div.triggerHide {
  padding-left: 20px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center left;
}

tr.triggerHide td,
tr.triggerHide th,
td.triggerHide,
div.triggerHide {
  background-image: url(../../images/icons/expand.gif);
}

tr.triggerShow td,
tr.triggerShow th,
td.triggerShow,
div.triggerShow {
  background-image: url(../../images/icons/collapse.gif);
}

.triggerShow:hover, .triggerHide:hover,
.triggerShow:hover td, .triggerHide:hover td,
.triggerShow:hover th, .triggerHide:hover th {
  cursor: pointer;
}

tr.show {
  display: table-row;
}

td.show {
  display: table-cell;
}

.hidden {
  display: none;
}

div.rank {
  font-size: 1.3em; 
  border-radius: 0.7em;
  border: 2px solid #888; 
  background: #fff; 
  font-weight: bold; 
  display: inline-block;
  min-width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
  text-align: center;
  margin: 2px;
}

div.rank.desired {
  background-color: #E3C006;
}

.datepickerControl {
  border:        1px solid #999999;
  background-color:  #EEEEEE;
  padding:      5px;
  margin-top: -1px;
  cursor: default;
  z-index: 1000 !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  border-radius: 6px;
  border-top-left-radius: 0;
}

.datepickerControl.inline {
  border:        none;
  padding: 0;
  background-color:  transparent;
  width: auto;
  position: static !important;
  box-shadow: none;
}

.datepickerControl td {
  text-align:      center;
  padding:      1px;
}

.datepickerControl tr.monthLabel td {
  background-color:  #FFFFFF;
  border:        1px solid #999999;
  font-weight:    bold;
}

.datepickerControl tr.navigation td {
  cursor:        pointer;
}

.datepickerControl tr.navigation td:hover {
  text-decoration:  underline;
}

.datepickerControl tr.dayLabel td,
.datepickerControl td.weeknumber {
  border:        1px solid #003366;
  background-color:  #003366;
  color:        white;
  font-weight:    bold;
}

.datepickerControl td.day, 
.datepickerControl td.dayothermonth {
  cursor:        pointer;
  background-color:  #FFFFFF;
  border:        1px solid #EEEEEE;
  width:        2em;
}

/* We should use a class "othermonth" in addition to "day" instead of "dayothermonth" */
.datepickerControl td.dayothermonth { 
  color:        #999999;
  font-style:      italic;
}

.datepickerControl td.day:hover,
.datepickerControl td.hour:hover,
.datepickerControl td.minute:hover {
  background-color:  #EBE4C0;
  border:          outset 1px #666666;
}

.datepickerControl td.weekend {
  background-color:  #CCCCCC;
  font-style:      italic;
}

.datepickerControl td.today {
  outline:  2px solid #EBC2C0;
}

/* Spotted days */
.datepickerControl td.day.spot,
.datepickerControl td.dayothermonth.spot {
  color:    red;
  font-weight: bold;
}

/* Active days */
.datepickerControl td.day.active,
.datepickerControl td.dayothermonth.active,
.datepickerControl td.day.active:hover,
.datepickerControl td.dayothermonth.active:hover {
  border-bottom: green 1px solid;
}

/* Hours and minutes */
.datepickerControl td.hour,
.datepickerControl td.minute {
  cursor:        pointer;
  background-color:  #FFFFFF;
  border:        1px solid #EEEEEE;
  width:        2em;
}

/* Disabled days, minutes and hours */
.datepickerControl td.disabled {
  color: #999999;
  background-color: #EEEEEE;
  cursor: default;
}

.datepickerControl td.disabled:hover {
  background-color: #EEEEEE;
  border:       1px solid #EEEEEE;
}

.datepickerControl td input,
.datepickerControl td button {
  padding:      0;
  border:        1px solid #999999;
  text-align:      center;
}

.datepickerControl td.ampm {
  cursor:        pointer;
  background-color:  #CCCCCC;
  border:        1px solid #EEEEEE;
  width:        2em;
}

.datepickerControl input.current,
.datepickerControl td.current,
.datepickerControl td.current:hover {
  background-color:  #EBC2C0;
}

.datepickerControl td.current {
  font-weight:    bold;
}

.datepickerControl td.ferie {
  background-color: yellow;
  border:solid 1px orange;
}

.datepickerControl div.dropdown {
  border:        1px solid #999999;
  background-color:  #EEEEEE;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  text-align: left;
}

.datepickerControl div.dropdown a {
  display: block;
  margin: 0;
  padding: 1px 2px;
  text-decoration: none;
}

.datepickerControl div.dropdown a.current {
  background-color:  #CCCCCC;
}

.datepickerControl div.dropdown a:hover {
  outline: 2px solid #666666;
}

#waitingMsgMask {
  width: 100%;
  position: absolute;
  background-color:#333;
  z-index: 1300;
}

#waitingMsgText {
  width: 20%;
  min-width: 150px;
  position: fixed;
  z-index: 1400;
  font-size: 1.2em;
  background-color: #fff;
  color:#000;
  border: 1px solid #999;
  padding: 20px 5px;
  text-align: center;
  border-radius: 4px;
}

#waitingMsgText .loading{
  display: inline;
}

/** Flotr */
.flotr-datagrid-container {
  border: 1px solid #999;
  border-bottom: none;
  background: #fff;
}
.flotr-datagrid-toolbar {
  padding: 1px;
  border-bottom: 1px solid #ccc;
  background: #f9f9f9;
}
.flotr-datagrid {
  border-collapse: collapse;
  border-spacing: 0;
}
.flotr-datagrid td, .flotr-datagrid th {
  border: 1px solid #ccc;
  padding: 1px 3px;
  min-width: 2em;
}
.flotr-datagrid tr:hover {
  background: #f3f3f3;
}
.flotr-datagrid tr:hover th {
  background: #999;
  color: #fff;
}
.flotr-datagrid th {
  text-align: left;
  background: #e3e3e3;
  border: 2px outset #fff;
}
.flotr-datagrid td:hover {
  background: #ccc;
}
.flotr-datagrid .first-row th {
  text-align: center;
}
.flotr-canvas {
  margin-bottom: -3px;
  padding-bottom: 1px;
}
.flotr-tabs-group {
  border-top: 1px solid #999;
}
.flotr-tab {
  border: 1px solid #666;
  border-top: none;
  margin: 0 3px;
  padding: 1px 4px;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
  opacity: 0.5;
}
.flotr-tab.selected {
  background: #ddd;
  opacity: 1;
}
.flotr-tab:hover {
  background: #ccc;
}
.flotr-datagrid tr:hover, .flotr-datagrid col.hover {
  border: none;
  background: #f3f3f3;
}
.flotr-datagrid tr:hover th, .flotr-datagrid th.hover {
  background: #999;
  color: #fff;
}
.flotr-legend-label {
  text-align: left;
}
.flotr-mouse-value {
  z-index: 3;
  margin: -2px;
}



ul li.user:before,
ul li.prat:before,
ul li.func:before,
ul li.function:before,
ul li.etab:before,
ul li.group:before {
  float:right;
}

ul li.user:before,
ul li.prat:before {
  content: url(../../images/icons/user.png);
}

ul li.func:before,
ul li.function:before {
  content: url(../../images/icons/user-function.png);
}

ul li.etab:before,
ul li.group:before {
  content: url(../../images/icons/group.png);
}

td.user,
td.prat,
td.func,
td.function,
td.etab,
td.group {
  background-position: top right;
  background-repeat: no-repeat;
  padding-right: 16px !important;
}

td.user,
td.prat {
  background-image: url(../../images/icons/user.png);
}

td.func,
td.function {
  background-image: url(../../images/icons/user-function.png);
}

td.group,
td.etab {
  background-image: url(../../images/icons/group.png);
}

table.active {
  outline: 2px solid #6688CC;
}

#control_overlay {
  background-color: #000;
}

.modal {
  max-width: 95%;
  max-height: 95%;

  border: 2px solid #fff;
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.modal.full-width {
  width: 100%;
}

.modal.full-height {
  height: 100%;
}

.modal h1 {
  text-align: center;
  font-size: inherit;
  background: #ccc; 
  border-radius: 5px;
  font-weight: bold; 
  margin: 0; 
  padding: 5px 1em; 
  white-space: nowrap;
}

.modal.popup > .title {
  font-weight: bold;
  background-color: #CCCCCC;
  border-radius: 5px 5px 0 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 18px;
  vertical-align: middle;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 2;
}

.modal.popup > .title > span {
  margin: 1px;
}

.modal.popup > .title .left {
  float: left;
  padding-left: 0.4em;
}

.modal.popup > .title .right {
  float: right;
}

.modal > .content {
  /*text-align: center;*/
  overflow-x: auto; /* hidden */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  min-width: 200px;
  min-height: 80px;
}

/* IE9 in IE8 mode */
/* To fix a bug in IE where the scroll bar doesn't appear */
.ua-msie-8 .modal > .content {
  overflow-y: scroll;
}
.ua-msie-8 .modal.modal-iframe > .content {
  overflow-y: auto;
}

.modal > .content,
.modal > iframe { /* .modal > iframe shoule never happen */
  height: 100%;
  position: relative;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.modal > .content > iframe {
  margin-bottom: -10px;
}

/* Inner-shadow scroll top */
.modal.scroll-top > .title,
.modal.scroll-bottom:after {
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

/* Inner-shadow scroll bottom */
.modal.scroll-bottom:after {
  content: "";
  display: block;
  position: relative;
}

.modal.popup > .title button.cancel,
.modal.popup > .title button.close,
.modal.popup > .title button.change {
  margin: 0;
}

.modal.popup > .title:empty {
  background: none;
  padding: 0;
  border: none;
}

/** Pagination **/
.pagination {
  text-align: center; 
  font-weight: bold; 
  margin: 1px; 
  word-spacing: -2px;
}

.pagination .page {
  display: -moz-inline-box;
  display: inline-block; 
  border: 1px solid #999; 
  padding: 1px 3px;
  margin: 1px 0;
  color: #555;
  border-radius: 3px;
  background: url(images/buttons/button.png) center center repeat-x;
}

.pagination.narrow .page {
  padding: 1px 2px;
}

.pagination .page:hover {
  text-decoration: none;
  background-image: url(images/buttons/button-over.png);
}

.pagination .page.active,
.pagination .page.disabled {
  cursor: default;
}

.pagination .page.active {
  border: 2px solid #000;
  color: #f30;
  margin: -1px;
}

.pagination .page.disabled {
  border: 1px solid #ccc; 
  color: #ccc;
}

/** Image thumbnails **/
img.thumbnail {
  border: 1px solid #000;
  padding: 1px;  
  margin-top: 0.5em ;
  margin-bottom: 0.5em;
  cursor: pointer;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

img.thumbnail:hover {
  border: 2px solid #000;
  padding: 0;
}

/** Object tags **/
ul.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tags > li.tag,
ul.tags > li.input {
  display: inline-block;
}

ul.tags > li.tag,
select.taglist option {
  text-shadow:  0   0   0 rgba(0, 0, 0, 0),
               -1px 0   0 rgba(255,255,255,.5),
                0   1px 0 rgba(255,255,255,.5),
                1px 0   0 rgba(255,255,255,.5),
                0  -1px 0 rgba(255,255,255,.5);
}

ul.tags > li.tag {
  border: 1px solid #ccc;
  background: #fff;
  padding: 1px 3px 1px 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2px;
}

ul.tags > li.tag button.delete {
  background: transparent url(images/buttons/delete-tiny.png) no-repeat top center;
  border: none;
  width: 11px;
  height: 11px;
  padding: 0;
}

ul.tags > li.tag button.delete:hover {
  background: transparent url(images/buttons/delete-tiny.png) no-repeat center center;
}

ul.tags > li.tag.through {
  text-decoration: line-through;
}

ul.tags > li.input {
  border: none;
  padding: 0;
}

.hour_adm {
  width: 100%;
  display: none;
  font-size: 0.8em; 
  background-color: #555 !important;
  color: #fff;
  position: absolute;
  top: -11px;
  right: 0;  
}

td.td_hour_adm:hover {
  background-color: #eee !important;
}

td.td_hour_adm:hover .hour_adm {
 display: inline;
}

span.countertip {
  position: absolute; 
  background-color: #ddd; 
  font-size: 8px; 
  margin-top: -7px; 
  margin-left: -8px; 
  border-radius: 30px; 
  border: 1px solid #888;
  width: 10px;
  text-align: center;
  color: #000;
  font-weight: normal;
}

.text-block {
  border: 1px solid #e6e6e6; 
  padding: 4px; 
  background:rgba(255,255,255, 0.4); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF)"; 
  zoom: 1;
  border-radius: 4px; 
}

/** TreeView **/
.treeview, .treeview ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.treeview ul {
  background-color: white;
  margin-top: 4px;
}

.treeview .hitarea {
  background: url(images/pictures/treeview-default.gif) -64px -25px no-repeat;
  height: 16px;
  width: 16px;
  margin-left: -16px;
  float: left;
  cursor: pointer;
}

/* fix for IE6 */ * html .hitarea {
  display: inline;
  float: none;
}

.treeview li {
  margin: 0;
  padding: 1px 0 1px 16px;
}

.treeview a.selected {
  background-color: #eee;
}

.treeview .hover {
  color: red;
  cursor: pointer;
}

.treeview li {
  background: url(images/pictures/treeview-default-line.gif) 0 0 no-repeat;
}

.treeview li.collapsable, .treeview li.expandable {
  background-position: 0 -176px;
}

.treeview .expandable-hitarea {
  background-position: -80px -3px;
}

.treeview li.last {
  background-position: 0 -1766px
}

.treeview li.lastCollapsable, .treeview li.lastExpandable {
  background-image: url(images/pictures/treeview-default.gif);
}

.treeview li.lastCollapsable {
  background-position: 0 -111px
}

.treeview li.lastExpandable {
  background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
  background-position: 16px;
}

/** Supervision graphs */
.supervision .evenement {
  margin-bottom: -5px;
  overflow: hidden;
}

.supervision .evenement > div {
  cursor: pointer;
  white-space: nowrap;
  display: block;
  width: 2px;
  background: #bbb;
}

.supervision .evenement > div .marking,
.supervision .now .marking {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  display: none;
  background: rgba(0,0,0,0.1);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#10000000,endColorstr=#10000000)";
  min-width: 1px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  margin: 0 -1px;
}

.supervision .now .marking {
  display: block;
  background: red;
  border: none;
  min-width: 2px;
}

.supervision .evenement > div .marking > span {
  position: absolute; 
  bottom: 10px;
  background: #eee;
  padding: 4px;
  border: 1px solid #ccc;
  border-left: none;
}

.supervision .evenement > div:hover .marking {
  display: block;
}

.supervision .evenement .label {
  padding: 0 3px;
}

.supervision table.evenements {
  border: 1px solid #ccc;
  border-spacing: 0;
  border-collapse: collapse;
}

.supervision table.evenements td,
.supervision table.evenements th {
  border: 1px solid #ccc;
  padding: 0;
}

.supervision table.evenements th {
  vertical-align: middle;
  background: #eee;
  font-weight: normal;
  font-size: 0.9em;
}

.supervision table.evenements td {
  padding-bottom: 10px;
}

.supervision .yaxis-labels {
  position: absolute;
}

.supervision .yaxis-labels > div {
  display: inline-block;
  text-align: left;
  padding: 4px;
  font-size: 10px;
  line-height: 0.8;
  width: 74px;
  box-sizing: border-box;
  top: 0;
  z-index: 10;
}

.supervision .yaxis-labels .symbol {
  font-size: 16px;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', sans-serif; /** For IE : use a Unicode font **/
}

.supervision .yaxis-labels .title {
  font-size: 1.3em;
  line-height: 1.4;
  padding-left: 1em;
}

.supervision .xAxis .tickLabel {
  background: #ddd;
  color: black;
  font-size: 1.2em;
}

div.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background-image: none;
  padding: 0;
}

div.bullet.none {
  display: none;
}

div.bullet.ok {
  background-color: #6f6;
}

div.bullet.warning {
  background-color: #f90;
}

div.bullet.error {
  background-color: #f33;
}

@media print {
  .supervision .evenement > div {
    outline: 1px solid #ccc;
  }
}

/* Profiler */
#profiling-toolbar {
  position: fixed;
  padding: 2px;
  top: 0;
  right: 0;
  border: 1px solid #999;
  border-width: 0 0 1px 1px;
  background: white;
  opacity: 0.80;
  padding-right: 24px;
  z-index: 1500;
}

#profiling-plot {
  position: fixed;
  bottom: 15px;
  left: 10px;
  background: white;
}

#profiling-graph {
  width: 900px;
  height: 300px;
  display: inline-block;
}

#profiling-tooltip {
  position: absolute;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.80;
}

#profiler-toggle {
  position: fixed;
  top: 2px;
  right: 2px;
  z-index: 1500;
}

#profiler-overview {
  position: fixed;
  bottom: 20px;
  right: 2px;
  z-index: 1500;
  background: white;
  vertical-align: top;
  display: inline-block;
  width: 90px;
  opacity: 0.6;
  font-size: 0.9em;
  line-height: 1;
}

#profiler-overview .marking {
  /*border-right: 4px solid #999;*/
  border: none;
}

#profiler-overview .marking.sub {
  color: #666;
  display: none;
}

#profiler-overview:hover {
  opacity: 1.0;
  width: 120px;
}

#profiler-overview:hover .marking {
  font-weight: bold;
}

#profiler-overview:hover .marking.sub {
  display: block;
  font-weight: normal;
}

#profiler-overview .profiler-buttons {
  text-align: right;
  display: none;
}

#profiler-overview:hover .profiler-buttons {
  display: block;
}

#profiler-timebar {
  font-size: 0;
  height: 3px;
}

#profiler-timebar div {
  display: inline-block;
  height: 100%;
}

table.timeline {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
}
.timeline td {
  border: 1px solid #999;
}
.timeline .left-col {
  width: 200px;
  font-size: 0.9em;
  white-space: nowrap;
}

.timeline .right-col {
  overflow-x: scroll;
}

/** Ruler **/
.timeline .left-col  > div.ruler,
.timeline .right-col > div.ruler {
  height: 10px;
  position: relative;
  font-size: 10px;
  color: #999;
  overflow: hidden;
  /*max-width: 100%;*/
}

.timeline div.ruler span {
  position: absolute;
  border-left: 1px solid #ccc;
  padding-left: 3px;
}

.timeline .left-col  > div,
.timeline .right-col > div {
  position: relative;
  height: 20px;
  border-bottom: 1px solid #999;
  line-height: 1;
}

/** Bars **/
.timeline .bar {
  position: absolute;
  /*height: 45%;
  top: 2.5%;*/
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-width: 0 1px;
}

.timeline .bar.sub {
  /*top: 52.5%;*/
  top: 0%;
  height: 100%;
  opacity: 0.7;
}

.timeline .bar:hover {
  border: 1px solid #333;
}

.timeline .bar-client {
  background: #C94C4C;
  border-color: #C61F1F;
}

.timeline .bar-network {
  background: #4C80C9;
  border-color: #155FC6;
}

.timeline .bar-server {
  background: #66B230;
  border-color: #449B06;
}

.timeline .bar-type-session {
  background: #e9e146;
  border-color: #b0ae00;
}

.timeline .bar-mem {
  bottom: 0;
  background: #000;
  border: none;
  opacity: 0.1;
}

.timeline .bar-mem:hover {
  border: none;
  opacity: 0.7;
}

.timeline .zoom {
  text-align: right;
}

.timeline .legend {
  line-height: 1;
  font-size: 0.9em;
  color: #666;
}

.timeline .legend .bar {
  position: relative;
  border-width: 1px;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
}

.timeline .legend-item {
  display: inline-block;
}

/* To disable text selection */
*[unselectable] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.columns-2,
.columns-3,
.columns-4,
.columns-5,
.columns-6 {
  -webkit-column-gap: 2px;
  -moz-column-gap: 2px;
  -o-column-gap: 2px;
  -ms-column-gap: 2px;
  column-gap: 2px;
}

.columns-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
}

.columns-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -o-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
}

.columns-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -o-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;
}

.columns-5 {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  -o-column-count: 5;
  -ms-column-count: 5;
  column-count: 5;
}

.columns-6 {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  -o-column-count: 6;
  -ms-column-count: 6;
  column-count: 6;
}

.markdown p {
  margin: 0.5em 0 0.5em;
}

.markdown ol, .markdown ul {
  /*white-space: nowrap;*/
}

div.folder {
  font-size: 1.1em;
  height: 20px;
  border-bottom: none;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 5px;
  margin: 5px;
  cursor: pointer;
}

div.folder.selected {
  background-color: rgba(252, 251, 255, 0.60);
}

div.folder:hover {
  background-color: rgba(252, 251, 255, 0.40)
}

div.folder.selected:hover {
  background-color: rgb(252, 251, 255);
}