/* Vertical text */
span.vertical {
  -ms-writing-mode: tb-rl;
  width: 1.1em;
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

span.vertical i {
  display: block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-bottom: -60%;
  font-style: normal;
}

span.vertical .nowm {
  padding: 0 2px;
  display: inline-block;
  font-family: "lucida console", "courier new", courier, monospace;
}

span.vertical .orig {
  display: none;
}
