/* Body */

body {
  font-family: arial, sans-serif;
  font-size: 11px;  
  background: #fff;
  margin: 0px;
}

/* Login */

#login {
  margin: 40px 0px 0px; 
}

#login table {
  border: solid #000 3px;
  width: 600px;
  background: #fff;
  margin: auto;
  padding: 5px;
}

#login table td.logo {
  width: 33%;
  text-align: center;
  font-size: 9px;
  white-space: normal;
}

/* Form tables */

table.form {
  width: 100%;
  border-spacing: 1px;
}

table.form th {
  color: #000;
  white-space: nowrap;
  background-color: #eef;
  vertical-align: top;
  text-align: right;
  font-weight: normal;
  padding: 2px 4px;
  border: none;
}

table.form th.title {
  color: #fff;
  font-size: 14px;
  font-weight: bold; 
  text-align: center;
  background-color: #2eb4c9;
  border: #aaa 1px outset;
}

table.form th.category {
  color: #fff;
  font-weight: bold;  
  font-style: italic;  
  text-align: center;
  background-color: #2eb4c9;
  border: #2eb4c9 1px outset;
}

table.form th.category label {
  color: #fff;
  font-weight: bold;  
  font-style: italic;  
  text-align: center;
  background-color: transparent;
}

table.form th.mandatory {
  color: #f00;
  font-weight: bold;
}

label.notNull {
  padding-right: 13px;
  background: url(./images/icons/redbox.jpg) no-repeat center right;
  font-weight: bold;
}

label.canNull {
  padding-right: 13px;
  background: url(./images/icons/redbox.jpg) no-repeat center right;
  font-weight: bold;
}

label.notNullOK {
  padding-right: 13px;
  background: url(./images/icons/greenbox.jpg) no-repeat center right;
  font-weight: bold;
}

label:hover {
  border-bottom: 1px dotted #888;
  cursor: help;
}

table.form th.text {
  white-space: normal;
  text-align: center;
}

table.form td {
  white-space: nowrap;
  vertical-align: top;
  background-color: #eef;
  text-align: left;
}

table.form td.dark {
  background-color: #ddf;
}

table.form td.light {
  background-color: #fff;
}

table.form td.compte_rendu {
  background: #eef;
}

table.form td.text {
  white-space: normal;
}

table.form td.info {
  white-space: normal;
}

table.form td.readonly input {
  background: #ffe;
  border: 1px dotted;
}

table.form td.button {
  text-align: center;
  vertical-align: middle;
}

div.autocomplete {
  position:absolute;
  width:250px;
  max-height:200px;
  overflow: auto;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { 
  background-color: #ffe;
  font-weight:bold;	
}

div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Navigation */

table#header {
  background: url(./images/icons/bandeau.png) repeat-x top;
  height: 84px;
}

td#mainHeader table {
  width: 100%;
}

td#mainHeader td.logo {
  text-align: left;
}

td#menubar1 {
  text-align: right;
  color: #000;
  width: 100%;
}

td#menubar1 a.textSelected {
  color: #fdd;
  font-weight: bold;
}

td#menubar1 a {
  color: #000;
}

td#menubar1 a:hover {
  color: #cbecf3;
}

td#menubar1 select{
  font-size: 8px;
  height: 12px;
}

td#menubar2 {
  text-align: right;
  color: #fff;
  width: 100%;
}

td#menubar2 a.textSelected {
  color: #fdd;
  font-weight: bold;
}

td#menubar2 a {
  color: #fff;
}

td#menubar2 a:hover {
  color: #cbecf3;
}

/* Tabbed items */

td.tabox {
  background-color: #fff;
  border: solid #fff 0px;
}

table.tabmenu {
  margin-top: 10px;
  margin-left: 10px;
  border-spacing: 0px;
}

table.tabmenu td {
  height: 25px;
  padding-top: 2px;
}

table.tabmenu td.normal {
  background: url(./images/icons/tabBg.png) repeat-x bottom;
}

table.tabmenu td.normal a {
  color: #fff;
}

table.tabmenu td.normalLeft {
  width: 15px;
  background: url(./images/icons/tabLeft.gif) no-repeat bottom right;
}

table.tabmenu td.normalRight {
  width: 15px;
  background: url(./images/icons/tabRight.gif) no-repeat bottom left;
}

table.tabmenu td.selected {
  background: url(./images/icons/tabSelectedBg.png) repeat-x bottom;
}

table.tabmenu td.selectedLeft {
  width: 15px;
  background: url(./images/icons/tabSelectedLeft.gif) no-repeat bottom right;
}

table.tabmenu td.selectedRight {
  width: 15px;
  background: url(./images/icons/tabSelectedRight.gif) no-repeat bottom left;
}

/* Inputs */

input,
select,
textarea {
  color: #082F54;
  background-image:url(./images/pictures/input.png);
  border:1px solid black;
  font-size: 12px;
  margin: 1px;
  padding: 1px;
}

button, 
a.button, 
a.buttonstop,
a.buttonedit, 
a.buttontrash, 
a.buttonsubmit, 
a.buttonnew, 
a.buttonprint, 
a.buttoncancel, 
a.buttonmodify, 
a.buttonsearch, 
a.buttontick, 
a.buttonchange, 
a.buttondown,
a.buttonadd, 
a.buttonremove,
input[type=submit],
input[type=reset],
input[type=button] {
  color: #000;
  text-decoration: none;
  cursor: default;
  border: 1px black solid;
  font-size: 12px;
  background-color: #ddd;
  margin: 0 2px;
  padding: 0px 2px;
  background-image: url(./images/buttons/button.png);
  background-repeat: repeat-x;
  background-position: bottom;
  height: 18px
}

a.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  background-image: url(./images/buttons/buttonover.png);
  background-position: left bottom;
}

button.trash, a.buttontrash {
  background-image: url(./images/buttons/trash.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.trash:hover, a.buttontrash:hover {
  background-image: url(./images/buttons/trashover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.submit, a.buttonsubmit {
  background-image: url(./images/buttons/save.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.submit:hover, a.buttonsubmit:hover {
  background-image: url(./images/buttons/saveover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.new, a.buttonnew {
  background-image: url(./images/buttons/new.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.new:hover, a.buttonnew:hover {
  background-image: url(./images/buttons/newover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.print, a.buttonprint {
  background-image: url(./images/buttons/print.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.print:hover, a.buttonprint:hover {
  background-image: url(./images/buttons/printover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.cancel, a.buttoncancel {
  background-image: url(./images/buttons/cancel.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.cancel:hover, a.buttoncancel:hover {
  background-image: url(./images/buttons/cancelover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.modify, a.buttonmodify {
  background-image: url(./images/buttons/save.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.modify:hover, a.buttonmodify:hover {
  background-image: url(./images/buttons/saveover.png);
  background-position: left bottom;
  padding-left: 18px;
}
button.search, a.buttonsearch {
  background-image: url(./images/buttons/search.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.search:hover, a.buttonsearch:hover {
  background-image: url(./images/buttons/searchover.png);
  background-position: left bottom;
  padding-left: 18px;
}
button.tick, a.buttontick {
  background-image: url(./images/buttons/tick.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.tick:hover, a.buttontick:hover {
  background-image: url(./images/buttons/tickover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.down, a.buttondown {
  background-image: url(./images/buttons/down.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.down:hover, a.buttondown:hover {
  background-image: url(./images/buttons/downover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.change, a.buttonchange {
  background-image: url(./images/buttons/change.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.change:hover, a.buttonchange:hover {
  background-image: url(./images/buttons/changeover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.edit, a.buttonedit {
  background-image: url(./images/buttons/edit.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.edit:hover, a.buttonedit:hover {
  background-image: url(./images/buttons/editover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.hslip, a.buttonhslip {
  background-image: url(./images/buttons/hslip.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.hslip:hover, a.buttonhslip:hover {
  background-image: url(./images/buttons/hslipover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.add, a.buttonadd {
  background-image: url(./images/buttons/add.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.add:hover, a.buttonadd:hover {
  background-image: url(./images/buttons/addover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.remove, a.buttonremove {
  background-image: url(./images/buttons/remove.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.remove:hover, a.buttonremove:hover {
  background-image: url(./images/buttons/removeover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.stop, a.buttonstop {
  background-image: url(./images/buttons/stop.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.stop:hover, a.buttonstop:hover {
  background-image: url(./images/buttons/stopover.png);
  background-position: left bottom;
  padding-left: 18px;
}

button.notext, button.notext:hover{
  padding : 0px 0px 0px 14px;
}

a.notext, a.notext:hover{
  padding : 0px 0px 1px 18px;
}

select {
  font-size: 10px;
}

optgroup {
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
  padding: 0px;
  padding-left: 5px;
  background-color: transparent;
}

option {
  font-style: normal;
  font-size: 10px;
  font-weight: normal;
  padding: 0px;
  padding-right: 4px;
  background-color: transparent;
}

/* Standard table */

table.tbl {
  width: 100%;
  border: 0px;
  border-spacing: 1px;
  background-color: #fff;
}

table.tbl a {
  display: block;
}

table.tbl tr:hover td {
  background-color: #fdd;
}

a.actionPat {
  display: inline;
  float: right;
  margin: 0 1px;
}

table.tbl a.action {
  display: inline;
}

table.tbl th a {
  color: #fff;
}

table.tbl th {
  background-color: #2eb4c9;
  padding: 2px;
  color: #fff;
  border: outset #ccc 1px;
  font-weight: normal;
  text-align: center;
  font-style: italic;
  white-space: nowrap;
}

table.tbl th.title {
  font-size: 14px;
  font-weight: bold;  
  text-align: center;
  background-color: #2eb4c9;
  border: #aaa 1px outset;
  color: #fff;
}

table.tbl td {
  background-color: #eef;
  white-space: nowrap;
}

table.tbl th.text {
  white-space: normal;
}

table.tbl td.text {
  white-space: normal;
}

table.tbl td.button {
  text-align: center;
  vertical-align: middle;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #fff;
  color: #000;
}

table.tbl tr.clear td,
table.tbl tr.clear th {
  background-color: transparent;
  border: none;
}

/* Main table */

th.title {
  font-size: 14px;
  color: #fff;
  font-weight: bold;  
  text-align: center;
  background-color: #2eb4c9;
  border: #cbecf3 1px outset;
}

table.titleblock td.titlecell {
  font-size: 20px; 
  color: #000;
  width: 100%;
}

table#header table.titleblock td.titlecell {
  font-size: 20px; 
  color: #fff;
  width: 100%;
}

/* System message */
#systemMsg {
  text-align: left;
}