/* Body */

body {
  font-family: arial, sans-serif;
  font-size: 11px;  
  background: #fff;
  margin: 0px;
}

/* Login */

#login {
  margin: 40px 0px 0px; 
}

#login table {
  border: solid #000 3px;
  width: 600px;
  background: #fff;
  margin: auto;
  padding: 5px;
}

#login table td.logo {
  width: 33%;
  text-align: center;
  font-size: 9px;
  white-space: normal;
}

/* Form tables */

table.form {
  width: 100%;
  border-spacing: 1px;
}

table.form th {
  color: #000;
  white-space: nowrap;
  background-color: #eef;
  vertical-align: top;
  text-align: right;
  font-weight: normal;
  padding: 2px 4px;
  border: none;
}

table.form th.title {
  color: #fff;
  font-size: 14px;
  font-weight: bold; 
  text-align: center;
  background-color: #2eb4c9;
  border: #aaa 1px outset;
}

table.form th.category {
  color: #fff;
  font-weight: bold;  
  font-style: italic;  
  text-align: center;
  background-color: #2eb4c9;
  border: #2eb4c9 1px outset;
}

table.form th.category label {
  color: #fff;
  font-weight: bold;  
  font-style: italic;  
  text-align: center;
  background-color: transparent;
}

table.form th.mandatory {
  color: #f00;
  font-weight: bold;
}

label.notNull {
  padding-right: 13px;
  background: url(./images/icons/redbox.jpg) no-repeat center right;
  font-weight: bold;
}

label.canNull {
  padding-right: 13px;
  background: url(./images/icons/redbox.jpg) no-repeat center right;
  font-weight: bold;
}

label.notNullOK {
  padding-right: 13px;
  background: url(./images/icons/greenbox.jpg) no-repeat center right;
  font-weight: bold;
}

label:hover {
  border-bottom: 1px dotted #888;
  cursor: help;
}

table.form th.text {
  white-space: normal;
  text-align: center;
}

table.form td {
  white-space: nowrap;
  vertical-align: top;
  background-color: #eef;
  text-align: left;
}

table.form td.dark {
  background-color: #ddf;
}

table.form td.light {
  background-color: #fff;
}

table.form td.compte_rendu {
  background: #eef;
}

table.form td.button {
  text-align: center;
  vertical-align: middle;
}

div.autocomplete {
  position:absolute;
  width:250px;
  max-height:200px;
  overflow: auto;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { 
  background-color: #ffe;
  font-weight:bold;	
}

div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Navigation */

table#header {
  background: url(./images/icons/bandeau.png) repeat-x top;
  height: 84px;
}

td#mainHeader table {
  width: 100%;
}

td#mainHeader td.logo {
  text-align: left;
}

td#menubar1 {
  text-align: right;
  color: #000;
  width: 100%;
}

td#menubar1 a.textSelected {
  color: #fdd;
  font-weight: bold;
}

td#menubar1 a {
  color: #000;
}

td#menubar1 a:hover {
  color: #cbecf3;
}

td#menubar1 select{
  font-size: 8px;
  height: 12px;
}

td#menubar2 {
  text-align: right;
  color: #fff;
  width: 100%;
}

td#menubar2 a.textSelected {
  color: #fdd;
  font-weight: bold;
}

td#menubar2 a {
  color: #fff;
}

td#menubar2 a:hover {
  color: #cbecf3;
}

/* Tabbed items */

td.tabox {
  background-color: #fff;
  border: solid #fff 0px;
}

table.tabmenu {
  margin-top: 10px;
  margin-left: 10px;
  border-spacing: 0px;
}

table.tabmenu td {
  height: 25px;
  padding-top: 2px;
  background: url(./images/icons/tabBg.png) repeat-x bottom;
}

table.tabmenu td a {
  color: #fff;
}

table.tabmenu td.selected a {
  color: #666;
}

table.tabmenu td.left,
table.tabmenu td.left {
  width: 15px;
}

table.tabmenu td.left {
  background: url(./images/icons/tabLeft.png) no-repeat bottom right;
}

table.tabmenu td.right {
  background: url(./images/icons/tabRight.png) no-repeat bottom left;
}

table.tabmenu td.selected {
  background: url(./images/icons/tabSelectedBg.png) repeat-x bottom;
}

table.tabmenu td.selected.left {
  background: url(./images/icons/tabSelectedLeft.png) no-repeat bottom right;
}

table.tabmenu td.selected.right {
  background: url(./images/icons/tabSelectedRight.png) no-repeat bottom left;
}

/* Inputs */

input,
select,
textarea {
  color: #082F54;
  background-image:url(./images/pictures/input.png);
  background-color: #D3F2F7;
}

optgroup {
  font-style: normal;
  font-weight: bold;
  padding: 0px;
  padding-left: 5px;
}

option {
  background-color: #D3F2F7;
  background-image: none;
  padding: 0px;
  padding-right: 4px;
}

button, 
a.button,
input[type=submit],
input[type=reset],
input[type=button] {
  background-image: url(./images/buttons/button.png);
  background-repeat: repeat-x;
  background-position: left bottom;
  padding-left: 18px;
}

a.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  background-image: url(./images/buttons/buttonover.png);
}

button.trash, a.button.trash {
  background-image: url(./images/buttons/trash.png);
}

button.trash:hover, a.button.trash:hover {
  background-image: url(./images/buttons/trashover.png);
}

button.submit, a.button.submit {
  background-image: url(./images/buttons/save.png);
}

button.submit:hover, a.button.submit:hover {
  background-image: url(./images/buttons/saveover.png);
}

button.new, a.button.new {
  background-image: url(./images/buttons/new.png);
}

button.new:hover, a.button.new:hover {
  background-image: url(./images/buttons/newover.png);
}

button.print, a.button.print {
  background-image: url(./images/buttons/print.png);
}

button.print:hover, a.button.print:hover {
  background-image: url(./images/buttons/printover.png);
}

button.cancel, a.button.cancel {
  background-image: url(./images/buttons/cancel.png);
}

button.cancel:hover, a.button.cancel:hover {
  background-image: url(./images/buttons/cancelover.png);
}

button.modify, a.button.modify {
  background-image: url(./images/buttons/save.png);
}

button.modify:hover, a.button.modify:hover {
  background-image: url(./images/buttons/saveover.png);
}
button.search, a.button.search {
  background-image: url(./images/buttons/search.png);
}

button.search:hover, a.button.search:hover {
  background-image: url(./images/buttons/searchover.png);
}
button.tick, a.button.tick {
  background-image: url(./images/buttons/tick.png);
}

button.tick:hover, a.button.tick:hover {
  background-image: url(./images/buttons/tickover.png);
}

button.down, a.button.down {
  background-image: url(./images/buttons/down.png);
}

button.down:hover, a.button.down:hover {
  background-image: url(./images/buttons/downover.png);
}

button.change, a.button.change {
  background-image: url(./images/buttons/change.png);
}

button.change:hover, a.button.change:hover {
  background-image: url(./images/buttons/changeover.png);
}

button.edit, a.button.edit {
  background-image: url(./images/buttons/edit.png);
}

button.edit:hover, a.button.edit:hover {
  background-image: url(./images/buttons/editover.png);
}

button.hslip, a.button.hslip {
  background-image: url(./images/buttons/hslip.png);
}

button.hslip:hover, a.button.hslip:hover {
  background-image: url(./images/buttons/hslipover.png);
}

button.add, a.button.add {
  background-image: url(./images/buttons/add.png);
}

button.add:hover, a.button.add:hover {
  background-image: url(./images/buttons/addover.png);
}

button.remove, a.button.remove {
  background-image: url(./images/buttons/remove.png);
}

button.remove:hover, a.button.remove:hover {
  background-image: url(./images/buttons/removeover.png);
}

button.stop, a.button.stop {
  background-image: url(./images/buttons/stop.png);
}

button.stop:hover, a.button.stop:hover {
  background-image: url(./images/buttons/stopover.png);
}

button.send, a.button.send {
  background-image: url(images/buttons/send.png);
}

button.send:hover, a.button.send:hover {
  background-image: url(images/buttons/send.png);
}

button.send-cancel, a.button.send-cancel {
  background-image: url(images/buttons/send-cancel.png);
}

button.send-cancel:hover, a.button.send-cancel:hover {
  background-image: url(images/buttons/send-cancel.png);
}

button.send-again, a.button.send-again {
  background-image: url(images/buttons/send-again.png);
}

button.send-again:hover, a.button.send-again:hover {
  background-image: url(images/buttons/send-again.png);
}

button.send-problem, a.button.send-problem {
  background-image: url(images/buttons/send-problem.png);
}

button.send-problem:hover, a.button.send-problem:hover {
  background-image: url(images/buttons/send-problem.png);
}

button.send-auto, a.button.send-auto {
  background-image: url(images/buttons/send-auto.png);
}

button.send-auto:hover, a.button.send-auto:hover {
  background-image: url(images/buttons/send-auto.png);
}

/* Standard table */

table.tbl {
  width: 100%;
  border: 0px;
  border-spacing: 1px;
  background-color: #fff;
}

table.tbl a {
  display: block;
}

table.tbl tr:hover td {
  background-color: #fdd;
}

a.actionPat {
  display: inline;
  float: right;
  margin: 0 1px;
}

table.tbl a.action {
  display: inline;
}

table.tbl th a {
  color: #fff;
}

table.tbl th {
  background-color: #2eb4c9;
  padding: 2px;
  color: #fff;
  border: outset #ccc 1px;
  font-weight: normal;
  text-align: center;
  font-style: italic;
  white-space: nowrap;
}

table.tbl th.title {
  font-size: 14px;
  font-weight: bold;  
  text-align: center;
  background-color: #2eb4c9;
  border: #aaa 1px outset;
  color: #fff;
}

table.tbl td {
  background-color: #eef;
  white-space: nowrap;
}

table.tbl td.button {
  text-align: center;
  vertical-align: middle;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #fff;
  color: #000;
}

table.tbl tr.clear td,
table.tbl tr.clear th {
  background-color: transparent;
  border: none;
}

/* Main table */

th.title {
  font-size: 14px;
  color: #fff;
  font-weight: bold;  
  text-align: center;
  background-color: #2eb4c9;
  border: #cbecf3 1px outset;
}

table.titleblock td.titlecell {
  font-size: 20px; 
  color: #000;
  width: 100%;
}

table#header table.titleblock td.titlecell {
  font-size: 20px; 
  color: #fff;
  width: 100%;
}

/* System message */
#systemMsg {
  text-align: left;
}

.touchscreen button, 
.touchscreen button:hover,
.touchscreen button.notext,
.touchscreen button.notext:hover,
.touchscreen a.button, 
.touchscreen a:hover.button,
.touchscreen a.button.notext,
.touchscreen a:hover.button.notext {
  background-position: 3px 140%;
  background-repeat: repeat-x;
}