/* ID: $Id */

/* Body */

body {
  font-family: arial, sans-serif;
  background: #fff;
}

#login {
  margin: 40px 0px 0px; 
}

/* Login */

#login table {
  border: solid #000 3px;
  background: #fff;
}

/* Form tables */
table.form th {
  background-color: #ffd;
  vertical-align: top;
  border-right: 1px solid #ddd;
}

table.form th.title {
  color: #fff;
  background-color: #68c;
  border: #aaa 1px outset;
}

table.form tr.groupexpand td,
table.form tr.groupcollapse td,
table.form tr.groupexpand th,
table.form tr.groupcollapse th {
  padding-left: 25px;
}

table.form tr.triggerShow td,
table.form tr.triggerHide td,
table.form tr.triggerShow th,
table.form tr.triggerHide th {
  padding-left:25px;
}

table.form th.category {
  color: #fff;
  font-style: normal;
  background-color: #ae0040;
  border: #68c 1px outset;
}

table.form th.category label {
  color: #fff;
  font-style: normal;
}

table.form th a:link {
  color: #eee;
}

table.form th a.button:link,
table.form th a.button.edit:link,
table.form th a.button.search:link,
table.form th a.button.save:link {
	color: #000;
}

table.form td {
  background-color: #ffd;
  border: none;
}

table.form td.dark {
  background-color: #ffc;
}

table.form td.light {
  background-color: #fff;
}

table.form td.compte_rendu {
  background: #ffd;
}

div.autocomplete ul li.selected { 
	background-color: #ffd;
    font-weight:bold;
}

/* Navigation */
td#mainHeader table {
  width: 100%;
}

td#mainHeader td.logo {
  text-align: left;
}

td#mainHeader td.welcome {
  text-align: right;
  font-size: 14px;
  font-style: italic;
}

#menubar {
  text-align: right;
  border: 2px solid #000;
  background-color: #68c;
  color: #fff;
  width: 100%;
  line-height: 150%;
}

#menubar a.textSelected {
  color: #a00;
  font-weight: bold;
}

#menubar a.textNonSelected {
  color: #fff;
}

#menubar a.textNonSelected img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

#menubar a.textNonSelected:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}

#menubar a {
  color: #000;
}

#menubar a:hover {
  color: #a00;
}

#topMenu #menubar a {
  margin: 1px 0;
  padding-left: 3px;
  border-left: 1px solid #fff;
}

#leftMenu {
  vertical-align: top;
  width: 140px;
  overflow: hidden;
}

#leftMenu #menubar {
  border: 2px solid #000;
  padding: 2px;
  background-color: #68c;
  color: #fff;
  width: 130px;
}

#leftMenu #menubar a {
  border: 1px solid transparent;
  margin-top: -1px;
  text-align: center;
  display: block;
}

#leftMenu #menubar #menuTools {
  height: 14px;
}

#leftMenu #menubar #menuTools a {
  text-decoration: none;
  height: 16px;
  width: 16px;
  float: left;
}

#leftMenu #menubar a.textSelected {
  border-color: #fff;
  background-color: #abe;
}
#leftMenu #menubar a:hover {
  border-color: #ddd;
}

#leftMenu #menubar a img {
  margin: 0 auto;
  display: block;
}

#leftMenu #menubar.iconed a.textNonSelected img {
  display: block;
}
#leftMenu #menubar.iconed #menuTools a#toggleIcons {
  background: url(./images/icons/action_up.png);
  position: absolute;
  margin-top: 23px;
}

#leftMenu #menubar.uniconed #menuTools a#toggleIcons {
  background: url(./images/icons/action_down.png);
}

#leftMenu #menubar.uniconed a.textNonSelected img {
  display: none;
}

#leftMenu #systemMsg {
  text-align: left;
}

/* Tabbed items */

td.tabox {
  background-color: #fff;
  border: solid #fff 0px;
}

table.tabmenu {
  margin: 5px 10px;
}

table.tabmenu td {
  height: 25px;
  background: url(./images/icons/tabBg.png) repeat-x center;
}

table.tabmenu td a {
  color: #fff;
}

table.tabmenu td.selected a {
  color: #666;
}

table.tabmenu td.left,
table.tabmenu td.right {
  width: 15px;
}

table.tabmenu td.left {
  background: url(./images/icons/tabLeft.png) no-repeat center right;
}

table.tabmenu td.right {
  background: url(./images/icons/tabRight.png) no-repeat center left;
}

table.tabmenu td.selected {
  background: url(./images/icons/tabSelectedBg.png) repeat-x center;
}

table.tabmenu td.selected.left {
  background: url(./images/icons/tabSelectedLeft.gif) no-repeat center right;
}

table.tabmenu td.selected.right {
  background: url(./images/icons/tabSelectedRight.gif) no-repeat center left;
}

/* Inputs */
button, a.button {
  padding-left: 18px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-image: url(../tonkin/images/buttons/button.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

button:hover, a.button:hover {
  background-image: url(../tonkin/images/buttons/buttonover.png);
  background-position: left bottom;
}

button.trash, 
a.button.trash {
  background-image: url(../tonkin/images/buttons/trash.png);
}

button.trash:hover, 
a.button.trash:hover {
  background-image: url(../tonkin/images/buttons/trashover.png);
}

button.submit, 
a.button.submit {
  background-image: url(../tonkin/images/buttons/save.png);
}

button.submit:hover, 
a.button.submit:hover {
  background-image: url(../tonkin/images/buttons/saveover.png);
}

button.new, 
a.button.new {
  background-image: url(../tonkin/images/buttons/new.png);
}

button.new:hover, 
a.button.new:hover {
  background-image: url(../tonkin/images/buttons/newover.png);
}

button.print, 
a.button.print {
  background-image: url(../tonkin/images/buttons/print.png);
}

button.print:hover, 
a.button.print:hover {
  background-image: url(../tonkin/images/buttons/printover.png);
}

button.cancel, 
a.button.cancel {
  background-image: url(../tonkin/images/buttons/cancel.png);
}

button.cancel:hover, 
a.button.cancel:hover {
  background-image: url(../tonkin/images/buttons/cancelover.png);
}

button.modify, 
a.button.modify {
  background-image: url(../tonkin/images/buttons/save.png);
}

button.modify:hover, 
a.button.modify:hover {
  background-image: url(../tonkin/images/buttons/saveover.png);
}

button.search, 
a.button.search {
  background-image: url(../tonkin/images/buttons/search.png);
}

button.search:hover, 
a.button.search:hover {
  background-image: url(../tonkin/images/buttons/searchover.png);
}

button.lookup, 
a.button.lookup {
  background-image: url(../tonkin/images/buttons/lookup.png);
}

button.lookup:hover, 
a.button.lookup:hover {
  background-image: url(../tonkin/images/buttons/lookupover.png);
}

button.lock, 
a.button.lock {
  background-image: url(../tonkin/images/buttons/lock.png);
}

button.lock:hover, 
a.button.lock:hover {
  background-image: url(../tonkin/images/buttons/lockover.png);
}

button.tick, 
a.button.tick {
  background-image: url(../tonkin/images/buttons/tick.png);
}

button.tick:hover, 
a.button.tick:hover {
  background-image: url(../tonkin/images/buttons/tickover.png);
}

button.down, 
a.button.down {
  background-image: url(../tonkin/images/buttons/down.png);
}

button.down:hover, 
a.button.down:hover {
  background-image: url(../tonkin/images/buttons/downover.png);
}

button.change, 
a.button.change {
  background-image: url(../tonkin/images/buttons/change.png);
}

button.change:hover, 
a.button.change:hover {
  background-image: url(../tonkin/images/buttons/changeover.png);
}

button.edit, 
a.button.edit {
  background-image: url(../tonkin/images/buttons/edit.png);
}

button.edit:hover, 
a.button.edit:hover {
  background-image: url(../tonkin/images/buttons/editover.png);
}

button.hslip, 
a.button.hslip {
  background-image: url(../tonkin/images/buttons/hslip.png);
}

button.hslip:hover, 
a.button.hslip:hover {
  background-image: url(../tonkin/images/buttons/hslipover.png);
}

button.add, 
a.button.add {
  background-image: url(../tonkin/images/buttons/add.png);
}

button.add:hover, 
a.button.add:hover {
  background-image: url(../tonkin/images/buttons/addover.png);
}

button.remove, 
a.button.remove {
  background-image: url(../tonkin/images/buttons/remove.png);
}

button.remove:hover, 
a.button.remove:hover {
  background-image: url(../tonkin/images/buttons/removeover.png);
}

button.stop, 
a.button.stop {
  background-image: url(../tonkin/images/buttons/stop.png);
}

button.stop:hover, 
a.button.stop:hover {
  background-image: url(../tonkin/images/buttons/stopover.png);
}

button.notext, 
button.notext:hover,
a.notext, 
a.notext:hover{
  background-position: -2px bottom;
}

input,
select,
textarea {
  border: 1px #a5acb2 solid;
}

input,
select,
textarea {
  background: #fff;
}

/* Standard table */

table.tbl {
  background-color: #fff;
}

table.tbl th {
  background-color: #68c;
  font-style: italic;
}

table.tbl tr.triggerShow td,
table.tbl tr.triggerHide td{
  padding-left: 25px;
}

table.tbl th.title {
  background: #68c;
}

tbody.hoverable:hover tr td,
table.tbl tr:hover td,
div.tree-header:hover {
  background-color: #fdd;
}

table.tbl td,
div.tree-header {
  background-color: #ffd;
  padding: 2px;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
}

div.selected,
table.tbl tr.selected td,
table.form tr.selected td {
  background-color: #edb;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #fff;
}

table.titleblock td.titlecell {
  color: #68c;
  padding-bottom: 5px;
}

/* Main table */

table.main th.title {
  font-size: 14px;
  color: #fff;
  font-weight: bold;  
  text-align: center;
  background-color: #68c;
  border: #68c 1px outset;
}

table.main th.urgence {
  background-color: #08F;
}

table.form th.modify,
table.main th.modify {
  color: #fc0;
}

table.main th.urgence.modify {
  color: #fc0;
}

/* System message */

#systemMsg {
  font-size: 80%;
  text-align: left;
}

table.dialog #systemMsg {
  float: right;
}

div.loading {
  background-image: url(images/icons/loading.gif);
}

div.message, div.loading, div.error, div.warning {
   white-space: normal;
}

/* Tooltips */

div.tooltip table.decoration td.content {
  border-color: #ccc;
}

table.note th,
table.note td {
  font-style: normal;
  color: #000000;
}

/* dPlabo catalogues */
tr.catalogue-1 th {
  font-size: 160%;
  font-variant: small-caps;
  
}

tr.catalogue-2 th {
  font-size: 130%;
  background-color: #79d;
}

tr.catalogue-3 th {
  color: #444;
  font-weight: bold;
  text-align: left;
  background-color: transparent;
}


/* Différentiel Proxilab  */

input[readonly],
input[readonly]:focus {
	background-color: #fff;
}

input, 
select, 
textarea {
  border: 1px solid #ae0040;
}

input:focus, 
select:focus, 
textarea:focus {
  background-color: #fde0b6;
  border: 1px solid #ae0040;
}

label {
	color: #ae0040;
}

button, 
a.button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
	color: #ae0040;
  border: 1px outset #444;
}

table.tbl th {
	background-color: #feebcd;
  font-style: normal;
	color: #ae0040;
}

table.tbl td,
div.tree-header {
	color: #ae0040;
}

div.selected,
table.tbl tr.selected td,
table.form tr.selected td {
  background-color: #ddf;
}

tbody.hoverable:hover tr td,
table.tbl tr:hover td,
div.tree-header:hover {
  background-color: #eef;
}

#menubar,
#leftMenu #menubar {
  background-color: #c55
}

#leftMenu #menubar a.textSelected {
  background-color: #fcb;
}

#leftMenu #menubar a:hover {
	color: #fff;
	font-weight: bold;
}

table.main th.title,
table.tbl th.title,
table.form th.title {
	color: #fff;
  background-color: #ae0040;
  text-align: left;
}

.touchscreen button, 
.touchscreen button:hover,
.touchscreen button.notext,
.touchscreen button.notext:hover {
  background-position: 3px 140%;
  background-repeat: repeat-x;
}

.touchscreen button.notext,
.touchscreen button.notext:hover {
  background-position: 1px 140%;
}