@import url(../e-cap/main.css);


.modal {
  border: 2px solid #eee;
  background-color: #fff;
}

/* Login */
#login table {
  border: solid #000 3px;
  background: #fff;
}

/* Form tables */
table.form th {
  background-color: #ffd;
  border-right: 1px solid #ddd;
}

table.form th.title {
  color: #fff;
  background-color: #68c;
  border: #aaa 1px outset;
}


table.form th.category {
  color: #fff;
  background-color: #ae0040;
  border: #68c 1px outset;
}

table.form th.category label {
  color: #fff;
}

table.form th a:link {
  color: #eee;
}

table.form td {
  background-color: #ffd;
}

table.form td.dark {
  background-color: #ffc;
}

table.form td.light {
  background-color: #fff;
}

table.form td.compte_rendu {
  background: #ffd;
}

div.autocomplete ul li.selected { 
  background-color: #ffd;
}

#menubar {
  border: 2px solid #000;
  background-color: #68c;
  color: #fff;
}

#menubar a.textSelected {
  color: #a00;
}

#menubar a.textNonSelected {
  color: #fff;
}

#menubar a {
  color: #000;
}

#menubar a:hover {
  color: #a00;
}

#topMenu #menubar a {
  border-left: 1px solid #fff;
}

#leftMenu #menubar {
  border: 2px solid #000;
  background-color: #68c;
  color: #fff;
}

#leftMenu #menubar a {
  border: 1px solid transparent;
}

#leftMenu #menubar a.textSelected {
  border-color: #fff;
  background-color: #abe;
}

#leftMenu #menubar a:hover {
  border-color: #ddd;
}

/* Tabbed items */

td.tabox {
  background-color: #fff;
  border: solid #fff 0;
}

table.tabmenu td a {
  color: #fff;
}

table.tabmenu td.selected a {
  color: #333;
}

table.tabmenu td.left,
table.tabmenu td.right {
  width: 15px;
}

table.tabmenu td {
  background-image: url(./images/icons/tabBg.png);
}

table.tabmenu td.left {
  background-image: url(./images/icons/tabLeft.png);
}

table.tabmenu td.right {
  background-image: url(./images/icons/tabRight.png);
}

table.tabmenu td.selected {
  background-image: url(./images/icons/tabSelectedBg.png);
}

table.tabmenu td.selected.left {
  background-image: url(./images/icons/tabSelectedLeft.png);
}

table.tabmenu td.selected.right {
  background-image: url(./images/icons/tabSelectedRight.png);
}

/* Standard table */
table.tbl {
  background-color: #fff;
}

table.tbl th {
  background-color: #68c;
}

table.tbl th.title {
  background: #68c;
}

tbody.hoverable:hover tr td,
table.tbl tr:hover td,
div.tree-header:hover {
  background-color: #fdd;
}

table.tbl td,
div.tree-header {
  background-color: #ffd;
  border-bottom: 1px solid #ddd;
}

div.selected,
table.tbl tr.selected td,
table.form tr.selected td {
  background-color: #edb;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #fff;
}

table.titleblock td.titlecell {
  color: #68c;
}

/* Main table */
table.main th.title {
  color: #fff;
  background-color: #68c;
  border: #68c 1px outset;
}

table.main th.urgence {
  background-color: #08F;
}

table.form th.modify,
table.main th.modify {
  color: #fc0;
}

table.main th.urgence.modify {
  color: #fc0;
}

/* Tooltips */
div.tooltip {
  border-color: #ccc;
}

table.note th,
table.note td {
  color: #000000;
}

tr.catalogue-2 th {
  background-color: #79d;
}

tr.catalogue-3 th {
  color: #444;
}

/* Inputs */
input[type=text], 
input[type=tel], 
input[type=email], 
input[type=number], 
input[type=password], 
select,
.textarea-container {
  border: 1px solid #ae0040;
}

textarea {
  background-color: #fff;
}

input[type=text]:focus, 
input[type=tel]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
input[type=password]:focus, 
select:focus, 
.textarea-container textarea:focus {
  background-color: #fde0b6;
}

input[readonly],
input[readonly]:focus {
  background-color: #fff;
}

label {
  color: #ae0040;
}

table.tbl th {
  background-color: #feebcd;
  color: #ae0040;
}

table.tbl td,
div.tree-header {
  color: #ae0040;
}

div.selected,
table.tbl tr.selected td,
table.form tr.selected td {
  background-color: #ddf;
}

tbody.hoverable:hover tr td,
table.tbl tr:hover td,
div.tree-header:hover {
  background-color: #eef;
}

#menubar,
#leftMenu #menubar {
  background-color: #c55
}

#leftMenu #menubar a.textSelected {
  background-color: #fcb;
}

#leftMenu #menubar a:hover {
  color: #fff;
}

table.main th.title,
table.tbl th.title,
table.form th.title {
  color: #fff;
  background-color: #ae0040;
}

ul.control_tabs li a, 
ul.control_tabs_vertical li a {
  border-color: #ae0040;
  background-color: #c55;
}

ul.control_tabs li a:hover, 
ul.control_tabs_vertical li a:hover {
  background-color: #d77;
}

ul.control_tabs li a.active:hover, 
ul.control_tabs_vertical li a.active:hover {
  background-color: #fdd;
}
