.planning-signatures fieldset {
  width: 45%;
  height: 6em;
}

table.tbl tr.ssr-kine-conges td,
table.tbl tr.ssr-kine-conges th {
  text-align: center;
  background-image: url(./style/mediboard/images/pictures/unavailable.png);
}

table.tbl tr  td.ssr-far {
  text-align: center;
}

table.tbl tr td.ssr-close {
  text-align: center;
  font-weight: bold;
}

table.tbl tr td.ssr-today,
table.tbl tr:hover td.ssr-today {
  text-align: center;
  font-weight: bold;
  background: #ccc;
}

table.tbl tr td.ssr-today div {
  display: none;
}

td.ssr-repartition {
  border: 1px solid #aaa;
  border-width: 1px 0;
  line-height: 110%;
}

td.ssr-repartition span.encours {
  font-weight: bold;
}

td.ssr-repartition div.libelle {
  opacity: 0.7;
  font-size: 90%;
  line-height: 110%;
}

.ssr div.motif-color {
  height: 5px;
  margin-top: 4px;
  margin-left: 2px;
}

td.ssr-repartition  div.motif-color {
  float: left;
  width: 70%;
}

table.tbl tr.ssr-annule td {
  background-color: #f88;
}

table.tbl tr.ssr-termine td {
  background-image: url(./style/mediboard/images/icons/ray.gif);
}

table.tbl tr.ssr-prevu td {
  background-color: #dfd;
}

table.tbl tr.ssr-annule  td.cancelled,
table.tbl tr.ssr-termine td.cancelled,
table.tbl tr.ssr-prevu   td.cancelled {
  background-color: #f88;
}