div.clit {
  background: #fff;
  color: #000;  
}

div.clit_bloque {
  background: #fff;
  color: #000;
  border: 2px solid #688;
  background-image: url(../../../images/icons/ray.gif);
}

div.wrapper_line {
  position: relative;
  height: 2em;
  margin-bottom: 8px;
}

div.hatching {
  background-image: url(../../../images/icons/ray.gif);
}

td.mouvement_lit {
  padding-bottom: 0;
  padding-top: 0;
}

td.current_hour {
  background: #f88 !important;
}

div.affectation, div.affect_legend {
  border-right: none !important;
  border-left: none !important;
  border: 1px solid #aaa;
  overflow: hidden;
  position: absolute;
  height: 2.4em;
  padding: 1px;
}

div.affectation.child {
  margin-top: 0.5em;
}

div.affectation_resize:hover {
  width: 20% !important;
/*  z-index: 500;*/
}

div.affectation.compacte {
  overflow: hidden;
  position: absolute;
  height: 1.1em;
  padding: 1px;
}

span.toolbar_affectation {
  visibility: hidden;
}

div.affect_left {
  border-left: 4px solid #888 !important;
}

div.affect_right {
  border-right: 4px solid #888 !important;
}

div.debut_sejour {
  border-left: 4px solid #5a5 !important;
}

div.fin_sejour {
  border-right: 4px solid #5a5 !important;
}

div.debut_blocage {
  border-left: 1px solid #688 !important;
}

div.fin_blocage {
  border-right: 1px solid #688 !important;
}

tr.lit_hover td {
  background: #ccc !important;
}

div.non_affectes_hover {
  background: #ccc !important;
}

div.sejour_non_affecte {
  margin: 2px;
  height: 2.4em;
  border: 1px solid #aaa;
  overflow: hidden;
  vertical-align: top;
  margin-top: 0 !important;
}

div.operation_in_mouv {
  position: absolute;
  height: 25px;
  top: 1px;
  background: #6AE;
}

div.operation_in_mouv.compacte {
  position: absolute;
  height: 11px;
  top: 1px;
  background: #6AE;
}

div.soins_uscpo {
  position: absolute;
  height: 25px;
  top: 1px;
  background: #fd7;
}

div.soins_uscpo_compact {
  position: absolute;
  height: 11px;
  top: 1px;
  background: #fd7;
}

div.sejour_sortie_confirmee {
  background-image: url(../../../images/icons/ray.gif) !important;
}

table.layout_affectation,
table.layout_affectation tr,
table.layout_affectation td {
  background: none !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  border-spacing: 0; 
}

table.layout_temporel,
table.layout_temporel tr,
table.layout_temporel td {
  /*padding: 0 !important;
  margin: 0 !important;
  border-spacing: 0 !important;*/
}
