table.ex-form td,
table.ex-form th {
  padding: 1px;
}

.out-of-grid div {
  /*display: inline-block;*/
}

.label-list .draggable,
.field-list .draggable {
  border: 1px dotted #aaa;
  margin: 2px;
  padding: 2px;
}

.droppable.grid .draggable {
  display: block;
}

.droppable.grid .draggable.label {
  /*text-align: right;*/
  font-weight: bold;
  white-space: nowrap;
}

.field-list .field {
  white-space: normal;
}

.drop-grid .field:hover .field-info,
.pixel-positionning .field:hover .field-info,
.field-list .field .field-info {
  display: block !important;
  position: absolute;
  top: -1.5em;
  color: #333;
  background: #ddd;
  padding: 0 1em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.pixel-positionning .group-layout .field:hover .field-info {
  top: -16px;
  left: 0;
  border-radius: 4px;
  z-index: 200;
  white-space: nowrap;
}

.group-layout .field:hover .field-info {
  color: #fff;
  background: #999;
}

.field-list .field {
  margin-top: 1.2em;
}

.field .field-content {
  overflow-y: hidden;
}

.field-list .field .field-content {
  max-height: 2.5em;
}

.cell[rowspan] .grid .field .field-content {
  max-height: none;
}

.grid .field .field-content,
.cell[rowspan="1"] .grid .field .field-content {
  max-height: 3.5em;
}

.overlayed .overlay {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.ua-msie .overlayed .overlay {
  background: #fff;
  -ms-filter: "alpha(opacity=0)";
  opacity: 0;
}

.pixel-grid .hostfield .field-name,
.grid .hostfield .field-name,
.hostfield.dragging .field-name {
  display: inline !important;
}

.hostfield {
  background-color: rgb(205,252,204);
  background-color: rgba(205,252,204,0.4);
}

.draggable.hr {
  padding: 6px;
}

.message_text {
  min-height: 1.8em;
}

div.ex-message-title {
  font-weight: bold;
  border-bottom: 1px solid #666;
  font-size: 1.2em;
  left: 0.5em; 
  right: 0.5em; 
  line-height: 1.4;
  padding-top: 3px;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
}

.ex-message {
  white-space: pre-wrap;
}

span.ex-message-title-spacer {
  font-size: 1.6em;
}

table.cell-layout {
  empty-cells: hide;
  line-height: 10px;
  font-family: monospace;
  position: absolute;
  right: 0;
  top: -10px;
}

table.cell-layout td {
  padding: 0;
}

table.cell-layout a {
  display: inline;
  cursor: pointer;
}

table.cell-layout tr.middle {
  line-height: 6px;
}

div.cell-layout-wrapper {
  display: none;
}

.cell:hover div.cell-layout-wrapper {
  /*display: block;*/
}

form[name="form-grid-layout"].pickmode .draggable {
  cursor: pointer;
}

form[name="form-grid-layout"].pickmode .draggable.picked {
  outline: 2px solid red;
}

.ua-firefox form[name="form-grid-layout"].pickmode .draggable.picked {
  outline: none;
  box-shadow: 0 0 0 2px red;
}

form[name="form-grid-layout"].pickmode .drop-grid .droppable:hover {
  outline: 2px solid green;
}

.ua-firefox form[name="form-grid-layout"].pickmode .drop-grid .droppable:hover {
  outline: none;
  box-shadow: 0 0 0 2px green;
}

.pixel-grid,
.pixel-grid-print {
  position: relative;
  width: 1024px;
  height: 760px;
}

.pixel-grid {
  border: 1px dashed #999;
  background: #f9f9f9;
}

.pixel-positionning .resizable {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
}

.pixel-positionning .reported-icon {
  height: 13px;
  width: 13px;
}

.pixel-positionning .subgroup > .overlayed > fieldset {
  margin: 0;
}

.pixel-positionning .subgroup {
  min-width: 4em;
  height: 3em;
}

.pixel-positionning .field-input {
  white-space: nowrap;
}

.pixel-positionning .field-input fieldset legend {
  font-weight: normal;
  margin: 2px;
}

.pixel-positionning .pixel-grid .resizable:focus,
.pixel-positionning .pixel-grid .resizable.handle-focus {
  outline: 1px dotted #999;
  cursor: move;
}

.ua-firefox .pixel-positionning .pixel-grid .resizable:focus {
  outline-offset: -4px;
  /*z-index: 200;*/
}


.pixel-positionning .field .field-content {
  overflow: visible;
}

.pixel-positionning .field-content,
.pixel-positionning .field-content > table,
.pixel-positionning .resizable > table,
.pixel-positionning .resizable textarea.noresize {
  position: relative;
  height: 100%;
  margin: 0;
}

.pixel-positionning .field-content > table.layout > tbody > tr > td {
  padding: 1px;
  vertical-align: middle;
  white-space: nowrap;
}

.pixel-positionning .input-label {
  white-space: nowrap;
}

.pixel-positionning .no-size .input-label + div {
  position: static !important;
}

.pixel-positionning .resizable textarea.noresize {
  resize: none;
  min-width: 20px;
  min-height: 16px;
}

.pixel-positionning .resizable fieldset {
  margin: 1px;
  padding: 1px;
}

.pixel-positionning .resizable fieldset legend {
  padding: 0.05em 0.4em;
  line-height: 1;
}

.pixel-positionning .resizable fieldset .wrapper {
  overflow-y: auto;
  position: absolute;
  top: 14px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

.ua-firefox .pixel-positionning .resizable fieldset .wrapper {
  top: 2px;
}

.pixel-positionning .resizable.no-size > *,
.pixel-positionning .resizable.no-size fieldset,
.pixel-positionning .resizable.no-size fieldset .wrapper {
  position: static;
}

.pixel-positionning .resizable fieldset.no-label .wrapper {
  top: 2px;
}

.pixel-positionning input[type=checkbox],
.pixel-positionning input[type=radio] {
  margin: 0;
  line-height: 10px;
  vertical-align: top;
}

.pixel-positionning input.str,
.pixel-positionning input.num,
.pixel-positionning input.float,
.pixel-positionning select {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.pixel-positionning .hostfield button.compact {
  padding: 0 1px 0 0;
}

/** fill box **/
.pixel-positionning select.set[multiple],
.pixel-positionning .resizable fieldset {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ua-msie .pixel-positionning select.set[multiple] {
  height: 100%;
}

.pixel-positionning .handle {
  display: none;
}

.pixel-positionning .overlayed {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.pixel-positionning .pixel-grid .resizable:focus > .handle,
.pixel-positionning .pixel-grid .resizable.handle-focus > .handle  {
  display: block;
  position: absolute;
  border: 1px solid #000;
  background: #fff;
  width: 5px;
  height: 5px;
  z-index: 100;
}

.pixel-positionning .handle.top-left,
.pixel-positionning .handle.top-center,
.pixel-positionning .handle.top-right {
  top: 0;
  margin-top: -4px;
}

.pixel-positionning .handle.bottom-left,
.pixel-positionning .handle.bottom-center,
.pixel-positionning .handle.bottom-right {
  bottom: 0;
  margin-bottom: -4px;
}

.pixel-positionning .handle.top-left,
.pixel-positionning .handle.middle-left,
.pixel-positionning .handle.bottom-left {
  left: 0;
  margin-left: -4px;
}

.pixel-positionning .handle.top-right,
.pixel-positionning .handle.middle-right,
.pixel-positionning .handle.bottom-right {
  right: 0;
  margin-right: -4px;
}

.pixel-positionning .handle.top-center,
.pixel-positionning .handle.bottom-center {
  left: 50%;
  margin-left: -4px;
}

.pixel-positionning .handle.middle-left,
.pixel-positionning .handle.middle-right {
  top: 50%;
  margin-top: -4px;
}

.pixel-positionning .handle.top-left {
  cursor: nw-resize;
}
.pixel-positionning .handle.top-center {
  cursor: n-resize;
}
.pixel-positionning .handle.top-right {
  cursor: ne-resize;
}
.pixel-positionning .handle.middle-right {
  cursor: e-resize;
}
.pixel-positionning .handle.bottom-right {
  cursor: se-resize;
}
.pixel-positionning .handle.bottom-center {
  cursor: s-resize;
}
.pixel-positionning .handle.bottom-left {
  cursor: sw-resize;
}
.pixel-positionning .handle.middle-left {
  cursor: w-resize;
}

.pixel-positionning input.date-toggle {
  line-height: 16px;
  vertical-align: middle;
  margin-right: -3px;
}

ul.ac-native-fields {
  display: table;
  width: 100%;
}

ul.ac-native-fields li {
  display: table-row !important;
}

ul.ac-native-fields small,
ul.ac-native-fields span {
  display: table-cell !important;
  white-space: nowrap !important;
  padding: 2px;
}

ul.ac-native-fields .col-class,
ul.ac-native-fields .col-type {
  color: #666;
}

ul.ac-native-fields .col-class {
  text-align: right;
  padding-right: 3px;
  max-width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: rgba(127,127,127,0.1);
}

.spec-type {
  font-size: 0.7em;
  color: #999;
}

.spec-type-enum:before {
  content: "LCU";
}
.spec-type-set:before {
  content: "LCM";
}
.spec-type-str:before {
  content: "TXC";
}
.spec-type-text:before {
  content: "TXL";
}
.spec-type-num:before {
  content: "ENT";
}
.spec-type-float:before {
  content: "FLO";
}
.spec-type-date:before {
  content: "DAT";
}
.spec-type-time:before {
  content: "HRE";
}
.spec-type-dateTime:before {
  content: "DTH";
}
.spec-type-bool:before {
  content: "BLN";
}
.spec-type-pct:before {
  content: "PCT";
}
.spec-type-birthDate:before {
  content: "NAI";
}
.spec-type-phone:before {
  content: "TEL";
}
.spec-type-currency:before {
  content: "MON";
}
.spec-type-email:before {
  content: "EML";
}
