form {
  display: inline;
}

fieldset, legend {
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

fieldset {
  margin: 4px;
  margin-bottom: 1em;
  padding: 2px;
}

legend {
  padding: 2px 8px;
  background: #eee;
  margin: 0 4px;
}

input, select, textarea, button {
  margin: 1px;
}

.control {
  margin: 1px !important;
}

input, select, textarea, button {
  font-size: 1em;
  padding: 1px;
}

input[type="text"], 
input[type="password"], 
select, 
textarea {
  border: 1px #909090 solid;
  background: #fcfcfc;
}

input[type="text"]:hover, 
input[type="password"]:hover, 
select:hover, 
textarea:hover {
  border-color: #333333;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
select:focus, 
textarea:focus {
  border-color: #FF6600;
}

select, button {
  cursor: pointer;
}

select {
  padding: 0;
}

option, optgroup {
  font-style: normal;
  padding: 0;
  margin: 0;
  padding-right: 6px;
  background: #fff;
}

optgroup.group {
  text-align: center;
  font-variant: small-caps;
}

option {
  font-style: normal;
  font-weight: normal;
}

optgroup {
  font-weight: bold;
}

optgroup option {
  padding-left: 6px;
}

option.novalue {
  display:none;
}

option[value=""] {
  font-style: italic;
}

label:hover {
  border-bottom: 1px dotted #888;
  cursor: help;
}

textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 99%;
}

button,
a.button {
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  line-height: 1em;
  font-weight: normal;
  white-space: nowrap;
  margin:0;
}

button.edit, 
button.hslip, 
button.trash, 
button.submit, 
button.new, 
button.print, 
button.cancel, 
button.modify, 
button.search, 
button.lock, 
button.tick, 
button.change, 
button.remove, 
button.add, 
button.down {
  padding: 0;
}

button.edit:before, a.button.edit:before {
  content: url(images/buttons/edit.png);
}

button.hslip:before, a.button.hslip:before {
  content: url(images/buttons/hslip.png);
}

button.trash:before, a.button.trash:before {
  content: url(images/buttons/trash.png);
}

button.submit:before, a.button.submit:before {
  content: url(images/buttons/save.png);
}
button.new:before, a.button.new:before {
  content: url(images/buttons/new.png);
}
button.print:before, a.button.print:before {
  content: url(images/buttons/print.png);
}
button.cancel:before, a.button.cancel:before {
  content: url(images/buttons/cancel.png);
}

button.modify:before, a.button.modify:before {
  content: url(images/buttons/save.png);
}

button.search:before, a.button.search:before {
  content: url(images/buttons/search.png);
}

button.lock:before, a.button.lock:before {
  content: url(images/buttons/lock.png);
}

button.tick:before, a.button.tick:before {
  content: url(images/buttons/tick.png);
}

button.down:before, a.button.down:before {
  content: url(images/buttons/down.png);
}

button.up:before, a.button.up:before {
  content: url(images/buttons/up.png);
}

button.change:before, a.button.change:before {
  content: url(images/buttons/change.png);
}

button.add:before, a.button.add:before {
  content: url(images/buttons/add.png);
}

button.remove:before, a.button.remove:before {
  content: url(images/buttons/remove.png);
}

button:before,
a.button:before {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  padding-right: 2px;
  height: 11px;
  width: 11px;
}

a.button {
  display: inline-block;
}

button:hover, 
a.button:hover {
  text-decoration: none;
  /*background: url(images/buttons/button_hover_background.gif);*/
}

button.notext, a.notext {
  font-size: 0;
  color: transparent;
  overflow: hidden;
  text-indent: -1px;
  width: 21px;
}

.numericField {
  border: none !important;
  border-collapse: collapse;
  border-spacing: 0;
}

.numericField .arrows {
  position: relative;
}

.numericField .arrows div {
  /*outline: 1px solid #999;*/
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: absolute;
  height: 8px;
  width: 1.2em;
  right: -3px;
  border: 1px solid #999;
}

.numericField .arrows div.up {
  -moz-border-radius: 3px 3px 0 0;
  top: -1px;
  background-image: url(../../images/buttons/up-small.gif);
}

.numericField .arrows div.down {
  -moz-border-radius: 0 0 3px 3px;
  bottom: -1px;
  background-image: url(../../images/buttons/down-small.gif);
}

.numericField .arrows div:hover {
  background-color: #FFF;
  border-color: #666;
  z-index:100;
}

.numericField input {
  margin: 0;
  padding-right: 1em;
}

.control {
  border: none;
  background: transparent;
  padding: 0;
  position: relative;
  display: inline; /* IE */
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.control * {
  position: relative;
}

.control .trigger {
  cursor: pointer;
  margin: 2px 1px;
}

.control input, 
.control button, 
.control select {
  margin: 0;
}

input.autocomplete {
  background-image: url(../../images/icons/throbber.gif);
  background-position: 100% 1px;
  background-repeat: no-repeat;
	padding-right: 17px;
}

input.autocomplete.throbbing {
  background-position: 100% -19px;
}

input[readonly],
input[readonly]:focus,
input[readonly]:hover {
  border: 1px dotted #333;
  background: none;
}

input[readonly].date {
  width: 90px;
}

input[readonly].time {
  width: 60px;
}

input[readonly].dateTime {
  width: 130px;
}