form {
  display: inline;
}

fieldset, legend {
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

fieldset {
  margin: 4px;
  margin-bottom: 1em;
  padding: 2px;
}

legend {
  padding: 2px 8px;
  background: #eee;
  margin: 0 4px;
}

input, select, textarea, button {
  font-size: 1em;
  margin: 1px;
  padding: 1px;
}

input[type=text], input[type=password], select, textarea {
  border: 1px #909090 solid;
  background: #fcfcfc;
}

input[type=text]:hover, input[type=password]:hover, select:hover, textarea:hover {
  border-color: #333333;
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
  border-color: #FF6600;
}

select, input[type=submit], input[type=reset], input[type=button], button {
  cursor: pointer;
}

/*input[disabled] {
  display: inline;
  border: none;
  background: transparent;
  width: auto;
  color: #000;
}*/

select {
  padding: 0;
}

option, optgroup {
  font-style: normal;
  padding: 0;
  margin: 0;
  padding-right: 6px;
  background: #fff;
}

optgroup.group {
  text-align: center;
  font-variant: small-caps;
}

option {
  font-style: normal;
  font-weight: normal;
}

optgroup {
  font-weight: bold;
}

optgroup option {
  padding-left: 6px;
}

option.novalue {
  display:none;
}

option[value=""] {
  font-style: italic;
}

label:hover {
  border-bottom: 1px dotted #888;
  cursor: help;
}

textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 99%;
}

input[type=submit],
input[type=reset],
input[type=button], 
button,
a.button,  
a.buttonedit, 
a.buttonhslip, 
a.buttontrash, 
a.buttonsubmit, 
a.buttonnew, 
a.buttonprint, 
a.buttoncancel, 
a.buttonmodify, 
a.buttonsearch, 
a.buttonlock, 
a.buttontick, 
a.buttonchange, 
a.buttonremove, 
a.buttonadd, 
a.buttondown {
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
  white-space: nowrap;
  margin:0;
}

button.edit, 
button.hslip, 
button.trash, 
button.submit, 
button.new, 
button.print, 
button.cancel, 
button.modify, 
button.search, 
button.lock, 
button.tick, 
button.change, 
button.remove, 
button.add, 
button.down {
  padding: 0;
}

button.edit:before, a.buttonedit:before {
  content: url(images/buttons/edit.png);
}

button.hslip:before, a.buttonhslip:before {
  content: url(images/buttons/hslip.png);
}

button.trash:before, a.buttontrash:before {
  content: url(images/buttons/trash.png);
}

button.submit:before, a.buttonsubmit:before {
  content: url(images/buttons/save.png);
}
button.new:before, a.buttonnew:before {
  content: url(images/buttons/new.png);
}
button.print:before, a.buttonprint:before {
  content: url(images/buttons/print.png);
}
button.cancel:before, a.buttoncancel:before {
  content: url(images/buttons/cancel.png);
}

button.modify:before, a.buttonmodify:before {
  content: url(images/buttons/save.png);
}

button.search:before, a.buttonsearch:before {
  content: url(images/buttons/search.png);
}

button.lock:before, a.buttonlock:before {
  content: url(images/buttons/lock.png);
}

button.tick:before, a.buttontick:before {
  content: url(images/buttons/tick.png);
}

button.down:before, a.buttondown:before {
  content: url(images/buttons/down.png);
}

button.up:before, a.buttonup:before {
  content: url(images/buttons/up.png);
}

button.change:before, a.buttonchange:before {
  content: url(images/buttons/change.png);
}

button.add:before, a.buttonadd:before {
  content: url(images/buttons/add.png);
}

button.remove:before, a.buttonremove:before {
  content: url(images/buttons/remove.png);
}

input[type=submit]:before,
input[type=reset]:before,
input[type=button]:before, 
button:before,
a.button:before,  
a.buttonedit:before, 
a.buttonhslip:before, 
a.buttontrash:before, 
a.buttonsubmit:before, 
a.buttonnew:before, 
a.buttonprint:before, 
a.buttoncancel:before, 
a.buttonmodify:before, 
a.buttonsearch:before, 
a.buttonlock:before, 
a.buttontick:before, 
a.buttonchange:before, 
a.buttonremove:before, 
a.buttonadd:before, 
a.buttondown:before {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  padding-right: 2px;
  height: 11px;
  width: 11px;
}

a.button,  
a.buttonedit, 
a.buttonhslip, 
a.buttontrash, 
a.buttonsubmit, 
a.buttonnew, 
a.buttonprint, 
a.buttoncancel, 
a.buttonmodify, 
a.buttonsearch, 
a.buttonlock, 
a.buttontick, 
a.buttonchange, 
a.buttonremove, 
a.buttonadd, 
a.buttondown {
  display: inline-block;
}

button:hover, 
a.button:hover,
a.buttonedit:hover, 
a.buttontrash:hover, 
a.buttonsubmit:hover,
a.buttonnew:hover, 
a.buttonprint:hover, 
a.buttoncancel:hover, 
a.buttonmodify:hover, 
a.buttonsearch:hover, 
a.buttonlock:hover, 
a.buttontick:hover, 
a.buttonchange:hover, 
a.buttondown:hover,
a.buttonadd:hover, 
a.buttonremove:hover {
  text-decoration: none;
  /*background: url(images/buttons/button_hover_background.gif);*/
}

button.notext, a.notext {
  font-size: 0;
  color: transparent;
  overflow: hidden;
  text-indent: -1px;
  width: 21px;
}

/*.numericField input {
  margin-right: 0;
}

.numericField button {
  margin: 0; 
  padding: 0; 
  border: 1px solid #666;
}

.numericField table {
  width: 1%;
  border-spacing: 0px;
  border-collapse: collapse; 
}*/

.numericField, .numericField map {
  display: inline;
}

.numericField img {
  height: 19px; 
  width: 11px; 
  line-height: 19px; 
  vertical-align: middle; 
  margin: -5px 0 0 -2px; 
}

.numericField input {
  margin-right: 0;
}

.control {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline; /* IE */
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.control * {
  position: relative;
}

.control .trigger {
  cursor: pointer;
  margin: 2px 1px;
}

.control input, 
.control button, 
.control select {
  margin: 0;
}

input.autocomplete {
  background-image: url(../../images/icons/throbber.gif);
  background-position: 100% 1px;
  background-repeat: no-repeat;
	padding-right: 17px;
}

input.autocomplete.throbbing {
  background-position: 100% -19px;
}