body {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  background: #EFEFEF;
  color: #000000;
  cursor: default;
}

:focus {
  outline: 0;
}

table {
  border-spacing: 0;
}

dl {
  margin: 0.5em;
}

dt {
  font-weight: bold;
  font-size: 1.2em;
  color:#620;
  width: auto;
  background-color: #FFE49F;
  padding: 0.2em 0.5em;
  -moz-border-radius: 4px;
}

dd {
  margin: 0.4em 0 1em 1.5em;
}

a:link,
a:visited,
a:active,
a:hover {
  color: #520;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  color: #555;
  margin: 1em 0;
}

h2 {
  font-size: 1.4em;
  color: #494;
  margin: 0.5em 1em;
}

h3 {
  font-size: 1.3em;
  color: #449;
  margin: 1em 2em;
}

p {
  margin: 0.3em 0;
}

p em {
  background-color: #FFECCD;
}

fieldset, legend {
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

fieldset {
  margin: 4px;
  margin-bottom: 1em;
  padding: 2px;
}

legend {
  padding: 2px 8px;
  background: #eee;
  margin: 0 4px;
}

.control {
  margin: 1px !important;
}

input, 
select, 
textarea {
  background: #ffffff;
  border-color: #909090;
}

input:hover, 
select:hover, 
textarea:hover {
  border-color: #333333;
}

input:focus, 
select:focus, 
textarea:focus {
  border-color: #FF6600;
}

select, button {
  cursor: pointer;
}

a.button:hover {
  text-decoration: none;
}

a.button {
  color: #000;
}

input[readonly],
input[readonly]:focus,
input[readonly]:hover {
  border: 1px dotted #333;
  background: none;
}

th.title,
caption {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background: #bbb;
  border: none;
}

th.title.modify,th.category.modify {
  color: #f00;
}

.cancelled {
  color: #fff;
  background-color: #f00;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

table.main {
  border-spacing: 0;
}

table.tbl td.text {
  white-space: normal;
}

table.titleblock td.titlecell {
  font-size: 1.6em;
  color: #620;
  width: 100%;
  padding-bottom: 10px;
}

/* Tab view table */
#tabmenu {
  border-spacing: 0px;
}

#tabmenu td {
  height: 21px;
  padding: 6px;
	padding-top: 3px;
  padding-bottom: 0px;
  background: url(images/pictures/tab_background.png) repeat-x top;
}

#tabmenu td.left,
#tabmenu td.right {
  width: 3px;
	padding: 1px;
	background-repeat: no-repeat;
	background-position-y: top;
}

#tabmenu td.left {
  background-image: url(images/pictures/tab_left.png);
	background-position: top right;
}

#tabmenu td.right {
  background-image: url(images/pictures/tab_right.png);
  background-position: top left;
}

#tabmenu td.selected {
  background-image: url(images/pictures/tab_selected_background.png);
}

#tabmenu td.selected.left {
  background-image: url(images/pictures/tab_selected_left.png);
  background-position: top right;
}

#tabmenu td.selected.right {
  background-image: url(images/pictures/tab_selected_right.png);
  background-position: top left;
}

#tabmenu a {
  display: block;
  color: #000;
}

#tabmenu a:hover {
  text-decoration: none;
  color: #FF6600;
}

/* Pane table */
.main {
  width: 100%;
  margin: 0;
}

.main td {
  vertical-align: top;
}

/* Standard table */
table.tbl {
  border: 0px;
}

table.tbl tr {
  border-bottom: 1px solid #eee;
}

table.tbl td,
table.tbl th {
	border: none;
  border-right: 1px dotted #DDD;
}

table.tbl td input,
table.tbl td button {
  margin: 0;
}

table.tbl tr:nth-of-type(2n+1) td {
  background-color: #f3f3f3;
}

table.tbl th a {
  color: #fff;
}

table.tbl th {
  background-color: #666;
  color: #fff;
}

table.tbl th.title {
  background: #bbb;
	border: none
}

table.tbl tr.selected td,
div.selected {
  background-color: #FFE7B6;
}

div.dragged {
  background-color: #ffc;
  border: 1px solid black;
  padding: 2px 10px;
}

div.draggable {
  cursor: move;
}

tbody.hoverable:hover tr td,
table.tbl tr:hover td,
div.tree-header:hover {
  background-color: #FFF2DD;
}

table.tbl td.button {
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  line-height: 140%;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #ddf;
  color: #000;
}

table.tbl tr.clear td,
table.tbl tr.clear th {
  background-color: transparent;
  border: none;
}

/* Form tables */
table.form th {
  vertical-align: top;
}

table.form th.title {
  font-size: 1.3em;
  background-color: #CCC;
	border: none;
}

table.form th.category {
  background-color: #CCCCCC;
}

/* Message styles */
#systemMsg {
  max-height: 50%;
  overflow: auto;
  position: fixed;
  top: 5px;
  right: 5px;
  border: 1px solid #f60;
  background-color: #fefefe;
  margin: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  opacity: 0.8;
}

/* @import "./login.css";   */
#login {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #ddd;
  padding: 4px;
  width: 450px;
  height: 260px;
  margin-left: -225px;
  margin-top: -130px;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
}

#login table {
  border: none;
	background: none;
	width: auto;
}

#login table th, 
#login table td {
  background: transparent;
}

#login h2 {
  color: #666;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #ddd;
  padding: 12px;
  padding-top: 4px;
  padding-bottom: 10px;
  /*display: block;
  width: 100%;*/
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-radius: 8px 8px 0 0;
  top: -1.6em;
  left: 8px;
}

#version {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  margin: 0.5em;
  opacity: 0.6;
}

/* Navigation */
#nav {
  display: block;
  /*width: 100%;*/
  margin: 0;
  padding: 0;
	float: none;
}

#nav ul,
#nav li {
  list-style: none;
  margin: 0;
  margin-left: 4px;
  padding-left: 0;
}

#nav li {
  display: block;
  float: none;
}

#nav a {
  font-variant: normal;
  display: block;
	position: relative;
  font-weight: bold;
  font-size: 1em;
  background: #FFF;
  padding: 2px;
  border: 1px solid #DDD;
  border-right: none;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-radius: 4px 0 0 4px;
  text-align: right;
  margin: 2px 0;
  margin-left: 12px;
  vertical-align: middle;
  white-space: nowrap;
  color: #666;
	z-index: 40;
}

#nav a:hover {
  text-decoration: none;
  border: 1px #FFBA8C solid;
	background: #FFF;
  border-right: 0;
	z-index: 41;
	padding: 2px;
}

#nav a img {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
}

#nav a:hover img {
	position: absolute;
  display: block;
  border: 1px #FF6600 solid;
	left: 0;
	top: 0;
	margin: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #FFF;
  padding: 4px;
  z-index: 40;
}

#nav .selected {
  padding: 0;
}

#nav .selected * {
  vertical-align: middle;
}

#nav li.selected a {
	margin-left: 0px;
  text-align: left;
  height: 32px;
  border: 1px #FF6600 solid;
  border-right-color: #fff;
  background: #FFF;
  color: #000;
  margin-right: -1px;
}

#nav .selected a img {
  display: inline;
  position: relative;
}

#nav .selected a:hover img {
  margin: 0px;
  padding: 0px;
  border: 0;
}

/* User */
#user {
  background: #FFF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 4px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border: 1px #FFBA8C solid;
}

#user .menu {
  background: #EFEFEF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  vertical-align: middle;
  padding-bottom: 2px;
  white-space: nowrap;
	float: none;
}

#user .menu img {
  padding: 1px;
}

#user .menu a:hover img {
  background: #CCC;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Main -- table -- pane */
#main {
  background: #fff;
  border: 1px solid #f60;
  border-width: 0 0 1px 1px;
  margin: 4px;
  padding: 4px;
  vertical-align: top;
}

#main>.title {
  background: #E0DFE3;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 4px;
  padding: 4px;
}

#main>.title h1 {
  margin: 2px;
}

#main>.title img {
  float: left;
  margin-right: 4px;
}

#main div.content {
  background: #FCFCFE;
  border: 1px solid #919B9C;
}

#mainPane {
  vertical-align: top;
}

span.hilite {
  background: #f5f;
}

/* control tabs */
hr.control_tabs {
  display: none;
}

ul.control_tabs {
  border-bottom: 1px solid #458;
}

ul.control_tabs_vertical {
  border-right: 1px solid #458;
}

ul.control_tabs, 
ul.control_tabs_vertical {
  clear: right;
  border-bottom-color: #F60;
  display: block;
  padding: 0;
	margin-bottom: 2px;
}

ul.control_tabs li, 
ul.control_tabs_vertical li {
  display: inline-block;
	float: none;
  margin-left: 2px;
  margin-top: 2px;
}

ul.control_tabs li a, 
ul.control_tabs_vertical li a {
  border-color: #AAA;
  background-color: #FFF;
  font-size: 1em;
  color: #999;
}

ul.control_tabs li a:hover, 
ul.control_tabs_vertical li a:hover {
  background-color: #FFF1E8;
  color: #333;
}

ul.control_tabs li a.active, 
ul.control_tabs_vertical li a.active {
  border-color: #F60;
  border-bottom-color: #FFF;
}

ul.control_tabs li a.empty, 
ul.control_tabs_vertical li a.empty,
span.empty {
  background-color: #ccc;
  color: #999;
}

ul.control_tabs li a.empty:hover, 
ul.control_tabs_vertical li a.empty:hover {
  background-color: #bbb;
  color: #000000;
}

ul.control_tabs li a.empty.active, 
ul.control_tabs_vertical li a.empty.active {
  background-color: #ddd;
  color: #000000;
}

ul.control_tabs li a.wrong, 
ul.control_tabs_vertical li a.wrong,
span.wrong {
  background-color: #FFC99B;
}

ul.control_tabs li a.wrong:hover, 
ul.control_tabs_vertical li a.wrong:hover {
  background-color: #FF9F51;
}

ul.control_tabs li a.wrong.active, 
ul.control_tabs_vertical li a.wrong.active {
  background-color: #FFAA5B;
  color: #000000;
  border-bottom-color: #FFAA5B;
}

ul.control_tabs_vertical {
  border-right-color: #F60;
  margin-right: -1px;
}

ul.control_tabs li a {
  border-bottom-color: #F60;
}

ul.control_tabs_vertical li {
  display: block;
  margin-bottom: 0;
}

ul.control_tabs_vertical li a {
  margin-bottom: 0.2em;
  border-bottom-color: #AAA;
  border-right-color: #F60;
}

ul.control_tabs_vertical li a.active {
  border-right-color: #FFF;
  border-bottom-color: #F60;
}

#waitingMsgText {
  border: 1px solid #F60;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

div.dropdown-trigger {
  height: 15px;
  width: 15px;
}