body {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  background: #efefef;
  color: #000000;
  cursor: default;
}

.modal {
  border: 2px solid #ccc;
  background-color: #fcfcfe;
}

:focus {
  outline: 0;
}

table {
  border-spacing: 0;
}

dl {
  margin: 0.5em;
}

dt {
  font-weight: bold;
  font-size: 1.2em;
  color:#620;
  width: auto;
  background-color: #FFE49F;
  padding: 0.2em 0.5em;
  border-radius: 4px;
}

dd {
  margin: 0.4em 0 1em 1.5em;
}

a:link,
a:visited,
a:active,
a:hover {
  color: #520;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  color: #555;
  margin: 1em 0;
}

h2 {
  font-size: 1.4em;
  color: #494;
  margin: 0.5em 1em;
}

h3 {
  font-size: 1.3em;
  color: #449;
  margin: 1em 2em;
}

p {
  margin: 0.3em 0;
}

p em {
  background-color: #FFECCD;
}

fieldset, legend {
  border: 1px solid #bbb;
  border-radius: 4px;
}

fieldset {
  margin: 4px;
  margin-bottom: 1em;
  padding: 2px;
}

legend {
  padding: 2px 8px;
  background: #eee;
  margin: 0 4px;
}

form hr {
  border-color: #999;
}

.control {
  margin: 1px !important;
}

input[type=text],
input[type=search],
input[type=tel], 
input[type=email], 
input[type=number], 
input[type=password], 
select, 
textarea,
.textarea-container {
  background-color: #ffffff;
  border-color: #909090;
}

input[type=text],
input[type=search],
input[type=tel], 
input[type=email], 
input[type=number], 
input[type=password], 
select, 
.textarea-container {
  box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
}

input[type=text]:hover,
input[type=search]:hover,
input[type=tel]:hover, 
input[type=email]:hover, 
input[type=number]:hover, 
input[type=password]:hover, 
select:hover, 
textarea:hover,
.textarea-container.input-hover {
  border-color: #333333;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=tel]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
input[type=password]:focus, 
select:focus, 
textarea:focus,
.textarea-container.input-focus {
  border-color: #FF6600;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=tel]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
input[type=password]:focus, 
select:focus,
.textarea-container.input-focus {
  box-shadow: 0 0 2px rgba(255,127,0,0.8);
}

select, 
button, 
input[type=file] {
  cursor: pointer;
}

a.button:hover {
  text-decoration: none;
}

a.button {
  color: #000;
}

input[type=text][readonly],
input[type=text][readonly]:focus,
input[type=text][readonly]:hover {
  border: 1px dotted #333;
  background: none;
}

th.title,
caption {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background: #bbb;
  border: none;
}

th.title.modify,
th.category.modify {
  color: #f00;
}

.cancelled {
  color: #fff;
  background-color: #f88 !important;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.0), 0 0 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

table.main {
  border-spacing: 0;
}

table.titleblock td.titlecell {
  font-size: 1.6em;
  color: #620;
  width: 100%;
  padding-bottom: 10px;
}

/* Tab view table */
#tabmenu {
  border-spacing: 0;
}

#tabmenu td {
  height: 24px;
  padding: 3px 5px 0;
  background: url(images/pictures/tab_background.png) repeat-x top;
}

#tabmenu td.left,
#tabmenu td.right {
  width: 3px;
  padding: 1px;
  background-repeat: no-repeat;
  background-position-y: top;
}

#tabmenu td.left {
  background-image: url(images/pictures/tab_left.png);
  background-position: top right;
}

#tabmenu td.right {
  background-image: url(images/pictures/tab_right.png);
  background-position: top left;
}

#tabmenu td.selected {
  background-image: url(images/pictures/tab_selected_background.png);
}

#tabmenu td.selected.left {
  background-image: url(images/pictures/tab_selected_left.png);
  background-position: top right;
}

#tabmenu td.selected.right {
  background-image: url(images/pictures/tab_selected_right.png);
  background-position: top left;
}

#tabmenu a {
  display: block;
  color: #000;
  line-height: 100%;
  padding: 2px;}

#tabmenu a:hover {
  text-decoration: none;
  color: #FF6600;
}

/* Pane table */
.main {
  width: 100%;
  margin: 0;
}

.main td {
  vertical-align: top;
}

/* Standard table */
table.tbl {
  border: none;
}

table.tbl tr {
  border-bottom: 1px solid #eee;
}

table.tbl td,
table.tbl th {
  border: none;
  border-right: 1px dotted #DDD;
}

table.tbl td button {
  margin: 0;
}

table.tbl tr:nth-of-type(2n+1) td {
  background-color: #f3f3f3;
}

table.tbl th a {
  color: #fff;
}

table.tbl th {
  background-color: #666;
  color: #fff;
}

table.tbl th.title {
  background: #bbb;
  border: none;
  text-shadow:  0 0 0 rgba(0, 0, 0, 0.0),
              -1px  0  .0px rgba(0,0,0,.3), 
               0   1px .0px rgba(0,0,0,.3), 
               1px  0  .0px rgba(0,0,0,.3), 
               0  -1px .0px rgba(0,0,0,.3);
}

table.tbl tr.selected td,
div.selected {
  background-color: #FFE7B6;
}

div.draggable {
  cursor: move;
}

.desktop tbody.hoverable:hover tr td,
.desktop table.tbl tr:hover td,
.desktop div.tree-header:hover,
.desktop table.tbl tr td.hover {
  background-color: #FFF2DD;
}

table.tbl td.button {
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  line-height: 140%;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #ddf;
  color: #000;
}

table.tbl tr.clear td,
table.tbl tr.clear th {
  background-color: transparent;
  border: none;
}

/* Form tables */
table.form th {
  vertical-align: top;
  border-right: 1px solid #ddd;
}

table.form th.title {
  font-size: 1.3em;
  background-color: #bbb;
  border: none;
  text-shadow: 0    0  0 rgba(0,0,0,.0),
              -1px  0  0 rgba(0,0,0,.3),
               0   1px 0 rgba(0,0,0,.3),
               1px  0  0 rgba(0,0,0,.3),
               0  -1px 0 rgba(0,0,0,.3);
}

table.form th.category {
  background-color: #ccc;
}

table.form th.section, 
table.tbl th.section {
  background-color: #999;
}

table.form td {
  padding: 1px 2px;
}

th.title.modify,
th.category.modify,
table.form th.title.modify,
table.tbl th.title.modify,
table.form th.category.modify,
table.tbl th.category.modify,
table.main th.title.modify,
table.main th.title.modify {
  color: #C64F00;
  text-shadow: none;
}

/* Message styles */
#systemMsg {
  max-height: 50%;
  overflow: auto;
  position: fixed;
  top: 5px;
  right: 5px;
  border: 1px solid #f60;
  background-color: #fefefe;
  margin: 3px;
  border-radius: 4px;
  padding: 5px;
  opacity: 0.8;
}

/* @import "./login.css";   */
#login {
  border-radius: 8px;
  background: #ddd;
  padding: 10px;
  width: 450px;
  margin-left: -225px;
  margin-top: -130px;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  box-shadow: 0 0 60px rgba(0,0,0,0.5);
}

#login.dialog {
  margin: 2em auto; 
  position: static;
}

#login.dialog h2 {
  margin: 0;
  background: #ccc;
}

#login table {
  border: none;
  background: none;
  width: auto;
}

#login table th, 
#login table td {
  background: transparent;
}

#login h2 {
  color: #666;
  margin: 10px 0 4px;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1) ;
}

#version {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  margin: 0.5em;
  opacity: 0.6;
}

/* Navigation */
#nav {
  display: block;
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  float: none;
}

#nav ul,
#nav li {
  list-style: none;
  margin: 0;
  margin-left: 4px;
  padding-left: 0;
}

#nav li {
  display: block;
  float: none;
}

#nav a, 
#nav a:active {
  font-variant: normal;
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid #DDD;
  border-right: none;
  border-radius: 4px 0 0 4px;
  text-align: right;
  margin: 2px 0;
  margin-left: 12px;
  vertical-align: middle;
  white-space: nowrap;
  color: #666;
  z-index: 40;
}

#nav a, 
#nav a:active, 
#nav a:hover {
  padding: 2px;
  padding-right: 4px;
  background: #FFF;
  background: #FFF -ms-linear-gradient(left,     transparent 90%, rgba(100,100,100,0.1));
  background: #FFF -moz-linear-gradient(left,    transparent 90%, rgba(100,100,100,0.1));
  background: #FFF -webkit-linear-gradient(left, transparent 90%, rgba(100,100,100,0.1));
  background: #FFF linear-gradient(to right,     transparent 90%, rgba(100,100,100,0.1));
}

#nav a:hover {
  text-decoration: none;
  border: 1px #FFBA8C solid;
  border-right: 0;
  z-index: 41;
  /*margin-right: -1px;
  padding-right: 5px;*/
}

#nav a img {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
}

#nav a:hover img {
  position: absolute;
  display: block;
  border: 1px #FF6600 solid;
  top: -14px;
  left: -4px;
  margin: 2px;
  border-radius: 4px;
  background: #FFF;
  padding: 4px;
  z-index: 40;
  /*border-radius: 0 4px 4px 0;*/
}

#nav .selected {
  padding: 0;
}

#nav .selected * {
  vertical-align: middle;
}

#nav li.selected a {
  margin-left: 0;
  text-align: left;
  height: 32px;
  border: 1px #FF6600 solid;
  border-right-color: #fff;
  background: #FFF;
  color: #000;
  margin-right: -1px;
}

#nav .selected a img {
  display: inline;
  position: relative;
}

#nav .selected a:hover img {
  margin: 0;
  padding: 0;
  border: 0;
  left: 0;
  top: 0;
}

/* User */
#user {
  background: #FFF;
  border-radius: 6px;
  margin: 4px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border: 1px #FFBA8C solid;
}

#user .menu {
  background: #EFEFEF;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  vertical-align: middle;
  padding-bottom: 2px;
  white-space: nowrap;
  float: none;
}

#user .menu img {
  padding: 1px;
}

#user .menu a:hover img {
  background: #CCC;
  border-radius: 2px;
}

/* Main -- table -- pane */
#main {
  background: #fff;
  border: 1px solid #f60;
  border-width: 0 0 1px 1px;
  padding: 2px;
  vertical-align: top;
}

#main>.title {
  background: #E0DFE3;
  border-radius: 4px;
  margin: 2px;
  margin-bottom: 4px;
  padding: 4px;
}

#main>.title h1 {
  margin: 2px;
}

#main>.title img {
  float: left;
  margin-right: 4px;
}

#main>.content {
  background: #FCFCFE;
  border-top: 1px solid #919B9C;
}

#main.dialog {
  border: none;
}

#mainPane {
  vertical-align: top;
}

span.hilite {
  background: #f5f;
}

span.empty {
  color: #999;
}

/* control tabs */
ul.control_tabs, 
ul.control_tabs_vertical {
  border-bottom-color: #F60;
}

ul.control_tabs li a, 
ul.control_tabs_vertical li a {
  border-color: #AAA;
  font-size: 1em;
  color: #666;
  background-color: #fff;
}

ul.control_tabs li a:hover, 
ul.control_tabs_vertical li a:hover {
  background-color: #FFF1E8;
  color: #333;
}

ul.control_tabs li a.active, 
ul.control_tabs_vertical li a.active {
  border-color: #F60;
  border-bottom-color: #FFF;
}

ul.control_tabs li a.empty, 
ul.control_tabs_vertical li a.empty {
  background-color: #ccc;
  color: #999;
}

ul.control_tabs li a.empty:hover, 
ul.control_tabs_vertical li a.empty:hover {
  background-color: #bbb;
  color: #000000;
}

ul.control_tabs li a.empty.active, 
ul.control_tabs_vertical li a.empty.active {
  background-color: #ddd;
  color: #000000;
}

ul.control_tabs li a.wrong, 
ul.control_tabs_vertical li a.wrong,
span.wrong {
  background-color: #FFC99B;
}

ul.control_tabs li a.wrong:hover, 
ul.control_tabs_vertical li a.wrong:hover {
  background-color: #FF9F51;
}

ul.control_tabs li a.wrong.active, 
ul.control_tabs_vertical li a.wrong.active {
  background-color: #FFAA5B;
  color: #000000;
}

ul.control_tabs li a.wrong.active {
  border-bottom-color: #FFAA5B;
}

ul.control_tabs li a {
  border-bottom-color: #F60;
  background: -ms-linear-gradient(top,     transparent 60%, rgba(0,0,0,0.2));
  background: -moz-linear-gradient(top,    transparent 60%, rgba(0,0,0,0.2));
  background: -webkit-linear-gradient(top, transparent 60%, rgba(0,0,0,0.2));
  background: linear-gradient(to bottom,   transparent 60%, rgba(0,0,0,0.2));
}

ul.control_tabs li a.active {
  background: -ms-linear-gradient(bottom,     transparent, rgba(255,127,0,0.1));
  background: -moz-linear-gradient(bottom,    transparent, rgba(255,127,0,0.1));
  background: -webkit-linear-gradient(bottom, transparent, rgba(255,127,0,0.1));
  background: linear-gradient(to top,         transparent, rgba(255,127,0,0.1));
}

ul.control_tabs_vertical {
  border-right-color: #F60;
  margin-right: -1px;
}

ul.control_tabs_vertical li {
  margin-bottom: 0;
}

ul.control_tabs_vertical li a {
  margin-bottom: 0.2em;
  border-bottom-color: #AAA;
  border-right-color: #F60;
  background: -ms-linear-gradient(left,     transparent 80%, rgba(0,0,0,0.2));
  background: -moz-linear-gradient(left,    transparent 80%, rgba(0,0,0,0.2));
  background: -webkit-linear-gradient(left, transparent 80%, rgba(0,0,0,0.2));
  background: linear-gradient(to right,     transparent 80%, rgba(0,0,0,0.2));
}

ul.control_tabs_vertical li a.active {
  border-right-color: #FFF;
  border-bottom-color: #F60;
  background: -ms-linear-gradient(right,     transparent, rgba(255,127,0,0.1));
  background: -moz-linear-gradient(right,    transparent, rgba(255,127,0,0.1));
  background: -webkit-linear-gradient(right, transparent, rgba(255,127,0,0.1));
  background: linear-gradient(to left,       transparent, rgba(255,127,0,0.1));
}

#waitingMsgText {
  border: 1px solid #F60;
  border-radius: 6px;
}

.numericField.big-buttons button:before {
  line-height: 13px;
}

.numericField.big-buttons button {
  width: 13px;
  height: 13px;
}

/* Menus items hidden from print media */
@media print {
  #leftMenu, #tabmenu, #main > .title {
    display: none;
  }
  
  #main, #main > .content {
    border: none;
  }
}

span.circled.color-th{
  border-color:#bbb;
}

table.tbl tr.alternate:hover:nth-of-type(odd) td {
  background-color: #fff2dd;
}

div.folder.selected {
  background-color: rgba(182, 181, 185, 0.70);
}

div.folder:hover {
  background-color: rgba(182, 181, 185, 0.50)
}

div.folder.selected:hover {
  background-color: rgba(182, 181, 185, 0.90);
}
