table.tbl {
  font-size: 1em;
}

h1.newpage {
  page-break-before: always;
  display: none;
}

div.warning,div.error,div.message {
  display: none;
}

table#weber table#allvalues,table#weber td.radiointeractive {
  display: none;
}

button {
  display: none;
}