/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.modal {
  border: 2px solid #eee;
  background-color: #fff;
}

#login {
  margin: 40px 0 0; 
}

/* Login */
#login table {
  border: solid #000 3px;
  background: #fff;
}

/* Form tables */
table.form {
  border-spacing: 0;
}

table.form th {
  background-color: #ffe;
  vertical-align: top;
  border-right: 1px solid #ddd;
}

table.form th.title {
  color: #fff;
  background-color: #68c;
}

table.form tr.groupexpand td,
table.form tr.groupcollapse td,
table.form tr.groupexpand th,
table.form tr.groupcollapse th {
  padding-left: 25px;
}

table.form tr.triggerShow td,
table.form tr.triggerHide td,
table.form tr.triggerShow th,
table.form tr.triggerHide th {
  padding-left:25px;
}

table.form th.category {
  background-color: #abe;
  font-weight: bold;
  color: #000;
  border: #ccc 1px solid;
}

table.form th.section, table.tbl th.section {
  background-color: #BDCEFA;
}

table.form th.category label {
  color: #000;
}

table.tbl th a,
table.form th a:link,
table.form th a:visited {
  color:#008;
}

table.form td {
  background-color: #ffe;
  border: none;
}

table.form td.dark {
  background-color: #ffc;
}

table.form td.light {
  background-color: #fff;
}

table.form td.compte_rendu {
  background: #ffe;
}

/* Navigation */
td#mainHeader table {
  width: 100%;
}

td#mainHeader td.logo {
  text-align: left;
}

td#mainHeader td.welcome {
  text-align: right;
  font-size: 14px;
  font-style: italic;
}

#menubar {
  text-align: right;
  border: 2px solid #000;
  background-color: #68c;
  color: #fff;
  width: 100%;
  line-height: 150%;
}

#menubar a.textSelected {
  color: #a00;
  font-weight: bold;
}

#menubar a.textNonSelected {
  color: #fff;
}

#menubar a.textSelected img,
#menubar a.textNonSelected img {
  height: 48px;
  width: 48px;
}

#menubar a.textNonSelected img {
  opacity: 0.6;
}

#menubar a.textNonSelected:hover img {
  opacity: 1;
}

#menubar a {
  color: #000;
}

#menubar a:hover {
  color: #a00;
}

#topMenu #menubar a {
  margin: 1px 0;
  padding-left: 3px;
  border-left: 1px solid #fff;
}

#leftMenu {
  vertical-align: top;
  width: 140px;
  overflow: hidden;
}

#leftMenu #menubar {
  border: 2px solid #000;
  padding: 2px;
  background-color: #68c;
  color: #fff;
  width: 130px;
  text-align: center;
  position: relative;
}

#leftMenu #menubar a {
  border: 1px solid transparent;
  margin-top: -1px;
  display: block;
}

#leftMenu #menubar .minitoolbar {
  height: 14px;
}

#leftMenu #menubar .minitoolbar a {
  color: #ddd;
}

#leftMenu #menubar #menuTools {
  height: 14px;
  /* Hack to remove the whitespace between the buttons */
  font-size: 1px; /* for browsers not supporting 0px fonts */
  font-size: 0;
}

#leftMenu #menubar #menuTools a {
  text-decoration: none;
  height: 16px;
  width: 16px;
  display: inline-block;
}

#menuTools img {
  width: 16px;
  height: 16px;
}

#leftMenu #menubar a.textSelected {
  border-color: #fff;
  background-color: #abe;
}
#leftMenu #menubar a:hover {
  border-color: #ddd;
}

#leftMenu #menubar a img {
  margin: 0 auto;
  display: block;
}

#leftMenu #menubar.iconed a.textNonSelected img {
  display: block;
}

#leftMenu #menubar #menuTools a#toggleIcons {
  position: absolute;
  top: 26px;
  left: 2px;
}

#leftMenu #menubar.iconed #menuTools a#toggleIcons {
  background: url(./images/icons/action_up.png) no-repeat;
}

#leftMenu #menubar.uniconed #menuTools a#toggleIcons {
  background: url(./images/icons/action_down.png) no-repeat;
}

#leftMenu #menubar.uniconed a.textNonSelected img {
  display: none;
}

#leftMenu #systemMsg {
  text-align: left;
}

/* Tabbed items */
td.tabox {
  background-color: #fff;
  border: none;
}

table.tabmenu {
  margin: 5px 10px;
  border-spacing: 0;
  line-height: 90%;
}

table.tabmenu td {
  height: 25px;
  background: url(./images/icons/tabBg.png) repeat-x center;
  padding: 0;
}

table.tabmenu td a {
  color: #fff;
}

table.tabmenu td.selected a {
  color: #000;
}

table.tabmenu td.left,
table.tabmenu td.right {
  width: 15px;
}

table.tabmenu td.left {
  background: url(./images/icons/tabLeft.png) no-repeat center right;
}

table.tabmenu td.right {
  background: url(./images/icons/tabRight.png) no-repeat center left;
}

table.tabmenu td.selected {
  background: url(./images/icons/tabSelectedBg.png) repeat-x center;
}

table.tabmenu td.selected.left {
  background: url(./images/icons/tabSelectedLeft.png) no-repeat center right;
}

table.tabmenu td.selected.right {
  background: url(./images/icons/tabSelectedRight.png) no-repeat center left;
}

/* Inputs */
input[type=text], 
input[type=tel], 
input[type=email], 
input[type=number], 
input[type=password], 
.textarea-container {
  border: 1px #a5acb2 solid;
}

input[type=text], 
input[type=tel], 
input[type=email], 
input[type=number], 
input[type=password], 
select,
textarea {
  color: #082F54;
  background-color: #fff;
}

input[type=text]:focus, 
input[type=tel]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
input[type=password]:focus, 
select:focus, 
textarea:focus {
  border-color: #848a8e;
  background-color: #E0EAFF;
}

.textarea-container textarea:focus {
  border: none;
}

button, 
a.button {
  background-image: url(./images/buttons/button.png);
}

button:hover,
a:hover.button {
  background-image: url(./images/buttons/button-over.png);
}

/* Standard table */
table.tbl, table.form {
  border-collapse: collapse;
}

table.tbl {
  border-spacing: 0;
  background-color: #fff;
}

table.tbl td, 
table.tbl th {
  border-color: #ddd;
  background-color: #eee;
}

table.tbl th {
  background-color: #abe;
  font-weight: bold;
  color: #000;
  text-align: center;
}

table.tbl th a {
  color: #008;
}

table.tbl tr.triggerShow td,
table.tbl tr.triggerHide td{
  padding-left: 25px;
}

table.tbl th.title {
  background-color: #68c;
  border-color: #ccc;
  color: #fff;
}

table.tbl th.title a {
  color: #ddd;
}

.desktop tbody.hoverable:hover tr td,
.desktop table.tbl tr:hover td,
.desktop div.tree-header:hover,
table.tbl tr td.hover {
  background-color: #fdd;
}

div.selected,
table.tbl tr.selected td,
table.form tr.selected td,
table.tbl tbody.selected td {
  background-color: #dca;
}

/* Blend between .selected and :hover */
.desktop tbody.hoverable:hover tr.selected td,
.desktop tbody.hoverable.selected:hover tr td,
.desktop table.tbl tr.selected:hover td,
.desktop div.selected.tree-header:hover,
table.tbl tr.selected td.hover {
  background-color: #F4D7CC;
}

table.tbl td.button {
  text-align: center;
  vertical-align: middle;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #fff;
}

table.titleblock td.titlecell {
  color: #68c;
  padding-bottom: 5px;
}

/* Main table */
table.main th.title {
  font-size: 14px;
  color: #fff;
  font-weight: bold;  
  text-align: center;
  background-color: #68c;
  border: #ccc 1px solid;
}

table.main th.urgence {
  background-color: #08F;
}

/* System message */
#systemMsg {
  text-align: left;
}

table.dialog #systemMsg {
  float: right;
}

/* Tooltips */
div.tooltip {
  border-color: #888;
}

table.note th,
table.note td {
  font-style: normal;
  color: #000000;
}

/* dPlabo catalogues */
tr.catalogue-1 th {
  font-size: 160%;
  font-variant: small-caps;
}

tr.catalogue-2 th {
  font-size: 130%;
  background-color: #79d;
}

tr.catalogue-3 th {
  color: #444;
  font-weight: bold;
  text-align: left;
  background-color: transparent;
}

fieldset, 
fieldset legend {
  border: 1px solid #ABE;
}

fieldset legend {
  background-color: #ddd;
}

/* Shadow for clearer white fonts */

#menubar a.textSelected {
  text-shadow: 0 0 0 rgba(0, 0, 0, .0), 0 0 2px rgba(255, 255, 255, .5);
}

#menubar a.textNonSelected,
table.tabmenu td a {
  text-shadow: 0 0 0 rgba(0, 0, 0, .0), 0 0 2px rgba(0, 0, 0, .5);
}

ul.control_tabs li a, 
ul.control_tabs_vertical li a,
table.main th.title,
table th.title h2 {
  text-shadow: 0 0 0 rgba(0, 0, 0, .0), 0 0 2px rgba(0, 0, 0, .7);
}

#menubar a:hover,
table.tabmenu td.selected a,
ul.control_tabs li a.active, 
ul.control_tabs_vertical li a.active {
  text-shadow: none; 
}

/* Menus items hidden from print media */
@media print {
  #leftMenu, #mainHeader {
    display: none;
  }
  
  table.tbl > * > tr > td,
  table.tbl > * > tr > th,
  table.tbl > * > tr > th.title {
    border: 1px solid #999;
  }
}
