/* $Id$ */

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

#login {
  margin: 40px 0px 0px; 
}

/* Login */
#login table {
  border: solid #000 3px;
  background: #fff;
}

/* Form tables */
table.form {
  border-spacing: 0px;
}

table.form th {
  background-color: #ffd;
  vertical-align: top;
  border-right: 1px solid #ddd;
}

table.form th.title {
  color: #fff;
  background-color: #68c;
}

table.form tr.groupexpand td,
table.form tr.groupcollapse td,
table.form tr.groupexpand th,
table.form tr.groupcollapse th {
  padding-left: 25px;
}

table.form tr.triggerShow td,
table.form tr.triggerHide td,
table.form tr.triggerShow th,
table.form tr.triggerHide th {
  padding-left:25px;
}

table.form th.category {
  background-color: #abe;
  font-weight: bold;
  color: #000;
  border: #ccc 1px solid;
}

table.form th.category label {
  color: #000;
}

table.tbl th a {
  color:#008;
}

table.form th a:link,
table.form th a:visited {
  color:#008;
}

table.form th a.button:link,
table.form th a.button.edit:link,
table.form th a.button.search:link,
table.form th a.button.save:link {
  color:#008;
}

table.form td {
  background-color: #ffd;
  border: none;
}

table.form td.dark {
  background-color: #ffc;
}

table.form td.light {
  background-color: #fff;
}

table.form td.compte_rendu {
  background: #ffd;
}

.wizard {
	background-color: #f8f8f8;
	border-color: #888;
}

/* Navigation */
td#mainHeader table {
  width: 100%;
}

td#mainHeader td.logo {
  text-align: left;
}

td#mainHeader td.welcome {
  text-align: right;
  font-size: 14px;
  font-style: italic;
}

#menubar {
  text-align: right;
  border: 2px solid #000;
  background-color: #68c;
  color: #fff;
  width: 100%;
  line-height: 150%;
}

#menubar a.textSelected {
  color: #a00;
  font-weight: bold;
}

#menubar a.textNonSelected {
  color: #fff;
}

#menubar a.textNonSelected img {
  opacity: 0.6;
}

#menubar a.textNonSelected:hover img {
  opacity: 1;
}

#menubar a {
  color: #000;
}

#menubar a:hover {
  color: #a00;
}

#topMenu #menubar a {
  margin: 1px 0;
  padding-left: 3px;
  border-left: 1px solid #fff;
}

#leftMenu {
  vertical-align: top;
  width: 140px;
  overflow: hidden;
}

#leftMenu #menubar {
  border: 2px solid #000;
  padding: 2px;
  background-color: #68c;
  color: #fff;
  width: 130px;
}

#leftMenu #menubar a {
  border: 1px solid transparent;
  margin-top: -1px;
  text-align: center;
  display: block;
}

#leftMenu #menubar #menuTools {
  height: 14px;
}

#leftMenu #menubar #menuTools a {
  text-decoration: none;
  height: 16px;
  width: 16px;
  float: left;
}

#leftMenu #menubar a.textSelected {
  border-color: #fff;
  background-color: #abe;
}
#leftMenu #menubar a:hover {
  border-color: #ddd;
}

#leftMenu #menubar a img {
  margin: 0 auto;
  display: block;
}

#leftMenu #menubar.iconed a.textNonSelected img {
  display: block;
}

#leftMenu #menubar #menuTools a#toggleIcons {
  position: absolute;
  margin-top: 23px;
}

#leftMenu #menubar.iconed #menuTools a#toggleIcons {
  background: url(./images/icons/action_up.png) no-repeat;
}

#leftMenu #menubar.uniconed #menuTools a#toggleIcons {
  background: url(./images/icons/action_down.png) no-repeat;
}

#leftMenu #menubar.uniconed a.textNonSelected img {
  display: none;
}

#leftMenu #systemMsg {
  text-align: left;
}

/* Tabbed items */
td.tabox {
  background-color: #fff;
  border: none;
}

table.tabmenu {
  margin: 5px 10px;
  border-spacing: 0px;
}

table.tabmenu td {
  height: 25px;
  background: url(./images/icons/tabBg.png) repeat-x center;
}

table.tabmenu td a {
  color: #fff;
}

table.tabmenu td.selected a {
  color: #000;
}

table.tabmenu td.left,
table.tabmenu td.right {
  width: 15px;
}

table.tabmenu td.left {
  background: url(./images/icons/tabLeft.png) no-repeat center right;
}

table.tabmenu td.right {
  background: url(./images/icons/tabRight.png) no-repeat center left;
}

table.tabmenu td.selected {
  background: url(./images/icons/tabSelectedBg.png) repeat-x center;
}

table.tabmenu td.selected.left {
  background: url(./images/icons/tabSelectedLeft.png) no-repeat center right;
}

table.tabmenu td.selected.right {
  background: url(./images/icons/tabSelectedRight.png) no-repeat center left;
}

/* Inputs */
input, select, textarea {
  color: #082F54;
  background: #fff;
  border: 1px #a5acb2 solid;
}

input:focus, select:focus, textarea:focus {
  border-style: inset;
  background-color: #E0EAFF;
}

.textarea-container {
  border: 1px #a5acb2 solid;
  background-color: #fff;
}

.textarea-container textarea:focus {
  background-color: #E0EAFF;
}

select {
  border: 1px #a5acb2 solid;
}

button, 
a.button {
  background-image: url(./images/buttons/button.png);
}

button:hover,
a:hover.button {
  background-image: url(./images/buttons/button-over.png);
}

/* Standard table */
table.tbl, table.form {
	border-collapse: collapse;
}

table.tbl {
  border-spacing: 0px;
  background-color: #fff;
}

table.tbl td, 
table.tbl th {
  border-color: #ddd;
	background-color: #eee;
}

table.tbl th {
  background-color: #abe;
	font-weight: bold;
  color: #000;
  text-align: center;
}

table.tbl th a {
  color: #008;
}

table.tbl tr.triggerShow td,
table.tbl tr.triggerHide td{
  padding-left: 25px;
}

table.tbl th.title {
  background-color: #68c;
  border-color: #ccc;
  color: #fff;
}

tbody.hoverable:hover tr td,
table.tbl tr:hover td,
div.tree-header:hover {
  background-color: #fdd;
}

div.selected,
table.tbl tr.selected td,
table.form tr.selected td,
table.tbl tbody.selected td {
  background-color: #edb;
}

table.tbl td.button {
  text-align: center;
  vertical-align: middle;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #fff;
}

table.titleblock td.titlecell {
  color: #68c;
  padding-bottom: 5px;
}

/* Main table */
table.main th.title {
  font-size: 14px;
  color: #fff;
  font-weight: bold;  
  text-align: center;
  background-color: #68c;
  border: #ccc 1px solid;
}

table.main th.urgence {
  background-color: #08F;
}

@media print {
  table.tbl td,
  table.tbl th,
  table.tbl th.title {
    border: 2px solid #888;
  }
}

/* System message */
#systemMsg {
  font-size: 80%;
  text-align: left;
}

table.dialog #systemMsg {
  float: right;
}

/* Tooltips */
div.tooltip {
  border-color: #888;
}

table.note th,
table.note td {
  font-style: normal;
  color: #000000;
}

/* dPlabo catalogues */
tr.catalogue-1 th {
  font-size: 160%;
  font-variant: small-caps;
}

tr.catalogue-2 th {
  font-size: 130%;
  background-color: #79d;
}

tr.catalogue-3 th {
  color: #444;
  font-weight: bold;
  text-align: left;
  background-color: transparent;
}


