div.outlined {
  float: left;
  margin: 3px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

div.outlined label {
  display: block;
  padding: 2px;
  z-index: 20;
}

div.outlined label:hover {
  background: #cccccc;
}

div.outlined input {
  display: none;
}

div.outlined input[type="radio"]:checked + label {
  outline: 2px solid orange;
}
div.outlined input[type=radio].checked + label {
  outline: 2px solid orange;
}

div.axis-onhover {
  font-weight: bold;
  color: black;
}

td.legend-onhover {
  font-weight: bold;
  color: black;
}

.iconed-text {
  padding-left: 20px !important;
  background-repeat: no-repeat;
  background-position: center left;
}

.iconed-text.interv {
  background-image: url("../../../style/mediboard/images/icons/interv.png");
}

.iconed-text.urg {
  background-image: url("../../../style/mediboard/images/icons/urg.png");
}

.iconed-text.anesth {
  background-image: url("../../../style/mediboard/images/icons/anesth.png");
}

.encart {
  font-size: 0.8em;
  padding: 2px;
  border-radius: 3px;
  background: white;
  line-height: 1;
  text-align: center;
}

.encart-vip {
  border: 1px solid #661d00;
  color: #661d00;
}

.date-naissance-input {
  position: relative;
  display: inline-block;
}

.date-naissance-input span {
  font-size: 1.2em;
  display: none;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.date-naissance-input:hover span {
  display: inline;
}

table.table_icon_fileview {
  display: inline-table;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

table.table_icon_fileview div.icon_fileview {
  border: 1px solid black;
}

table.table_icon_fileview:hover div.icon_fileview {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

table.table_icon_fileview:hover {
  background: #DDD;
}