/* Global CSS for Mediboard_lite (include of Mediboard before)*/

/* Body */
body {
  font-family: arial, sans-serif;
  background: #fff;
}

/* Login */
#login {
  margin: 40px 0px 0px; 
}

#login table {
  border: solid #000 3px;
  background: #fff;
}

/* Form tables */
table.form th {
  background-color: #ffd;
  vertical-align: top;
}

table.form th.title {
  color: #fff;
  background-color: #638cc9;
  border: #aaa 1px outset;
}

table.form tr.groupexpand td,
table.form tr.groupcollapse td,
table.form tr.groupexpand th,
table.form tr.groupcollapse th {
  padding-left: 25px;
}

table.form tr.triggerShow td,
table.form tr.triggerHide td,
table.form tr.triggerShow th,
table.form tr.triggerHide th {
  padding-left:25px;
}

table.form th.category {
  color: #fff;
  font-style: italic; 
  background-color: #638cc9;
  border: #638cc9 1px outset;
}

table.form th.category label {
  color: #fff;
  font-style: italic;
}

table.form td {
  background-color: #ffd;
}

table.form td.dark {
  background-color: #ffc;
}

table.form td.light {
  background-color: #fff;
}

table.form td.compte_rendu {
  background: #ffd;
}

div.autocomplete ul li.selected { 
	background-color: #ffd;
	font-weight:bold;
}

/* Navigation */
td#mainHeader table {
  width: 100%;
}

td#mainHeader td.logo {
  text-align: left;
}

td#mainHeader td.welcome {
  text-align: right;
  font-size: 14px;
  font-style: italic;
}

td#menubar {
  text-align: right;
  border: 2px solid #000;
  padding: 2px;
  background-color: #638cc9;
  color: #fff;
  width: 100%;
}

td#menubar a.textSelected {
  color: #fdd;
  font-weight: bold;
}

td#menubar a.textNonSelected {
  color: #fff;
}

td#menubar a {
  color: #000;
}

td#menubar a:hover {
  color: #fcc;
}

/* Tabbed items */
td.tabox {
  background-color: #fff;
  border: solid #fff 0px;
}

table.tabmenu {
  margin: 5px 10px;
}

table.tabmenu td {
  height: 25px;
  padding-top: 2px;
  background: url(./images/icons/tabBg.png) repeat-x bottom;
}

table.tabmenu td a {
  color: #fff;
}

table.tabmenu td.selected a {
  color: #666;
}

table.tabmenu td.left,
table.tabmenu td.right {
  width: 15px;
}

table.tabmenu td.left {
  background: url(./images/icons/tabLeft.png) no-repeat bottom right;
}

table.tabmenu td.right {
  background: url(./images/icons/tabRight.png) no-repeat bottom left;
}

table.tabmenu td.selected {
  background: url(./images/icons/tabSelectedBg.png) repeat-x bottom;
}

table.tabmenu td.selected.left {
  background: url(./images/icons/tabSelectedLeft.png) no-repeat bottom right;
}

table.tabmenu td.selected.right {
  background: url(./images/icons/tabSelectedRight.png) no-repeat bottom left;
}

/* Inputs */
a.button, button {
  color: #fff;
  background-color: #638cc9;
  padding-left: 18px; 
}

a.button:hover, button:hover {
  background-color: #8ae;
}

input, select {
  border: 1px #a5acb2 solid;
}

input,
select,
textarea {
  border: 1px #a5acb2 solid;
  background: #fff;
}

input:focus,
select:focus,
textarea:focus {
  background: #ddf;
}

/* Standard table */
table.tbl {
  background-color: #fff;
}

table.tbl tr:hover td {
  background-color: #fdd;
}

table.tbl th {
  background-color: #638cc9;
  font-style: italic;
}

table.tbl tr.triggerShow td,
table.tbl tr.triggerHide td{
  padding-left: 25px;
}

table.tbl th.title {
  background: #638cc9;
}

table.tbl td {
  background-color: #ffd;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #fff;
}

table.titleblock td.titlecell {
  color: #638cc9;
  padding-bottom: 5px;
}

/* Main table */
th.title {
  color: #fff;
  background: #638cc9;
  border: #638cc9 1px outset;
}

/* System message */
#systemMsg {
  font-size: 80%;
  float : none;
  text-align: left;
}

table.dialog #systemMsg {
  float: right;
}

div.message, div.loading, div.error, div.warning {
   white-space: nowrap;
}

.touchscreen button, 
.touchscreen button:hover {
  padding-left: 1.4em;
}