/* Global CSS for Mediboard_super_lite (include of Mediboard before)*/

/* Tab view table */

table.tabmenu td {
  height: 16px;
  background: #bbb;
  padding: 3px;
}

table.tabmenu td.left,
table.tabmenu td.right {
  width: 3px;
  background: transparent;
}

table.tabmenu td.selected {
  background: #afa;
  padding: 3px;
}

table.tabmenu td.selected.left,
table.tabmenu td.selected.right {
  width: 3px;
  background: transparent;
}