/* Global CSS for Mediboard_lite (include of Mediboard before)*/

/* Menu principal */

#menubar table {
  border: 0px;
  border-spacing: 0px;
  background: url(./images/pictures/acier.png) repeat-x scroll bottom left;
  color: #fff;
  text-align: left;
  width: 100%;
}


#menubar table td.textSelected,
#menubar table td.textNonSelected {
  border-style: inset;
  border-width: 0 1px;
  border-color: #888;
  padding: 0 2px 3px;
}

#menubar table td.iconSelected,
#menubar table td.textSelected {
  background: url(./images/icons/blue.png) repeat;
}

#menubar table td:hover {
  background: url(./images/icons/vert.png) repeat;
}

#menubar table td.noHover:hover {
  background: transparent;
}

#menubar button.triggerHide,
#menubar button.triggerHide:hover {
  border: 0;
  width: 10px;
  height: 10px;
  background: url(./images/icons/up.png) no-repeat scroll bottom center;
  cursor: pointer;
}

#menubar button.triggerShow,
#menubar button.triggerShow:hover {
  border: 0;
  width: 10px;
  height: 10px;
  background: url(./images/icons/down.png) no-repeat scroll bottom center;
  cursor: pointer;
}

/* Onglets de module */

table.tabmenu td.normal {
  background: url(./images/icons/tabBg.png) repeat-x bottom;
}

table.tabmenu td.normalLeft {
  width: 10px;
  background: url(./images/icons/tabLeft.png) no-repeat bottom right;
}

table.tabmenu td.normalRight {
  width: 10px;
  background: url(./images/icons/tabRight.png) no-repeat bottom left;
}

table.tabmenu td.selected {
  background: url(./images/icons/tabSelectedBg.png) repeat-x;
}

table.tabmenu td.selectedLeft {
  width: 10px;
  background: url(./images/icons/tabSelectedLeft2.png) no-repeat bottom right;
}

table.tabmenu td.selectedRight {
  width: 10px;
  background: url(./images/icons/tabSelectedRight2.png) no-repeat bottom left;
}

/* panneau d'affichage */

table.tabview td.tabox {
  background: url(./images/pictures/acierOnglet.png) repeat;
}

/* Bouttons */


button, 
a.button,
input[type=submit],
input[type=reset],
input[type=button] {
  background-image: url(../tonkin/images/buttons/button.png);
  background-repeat: repeat-x;
  background-position: left bottom;
}

button:hover,
a:hover.button,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  background-image: url(../tonkin/images/buttons/buttonover.png);
}

button.trash, 
a.button.trash {
  background-image: url(../tonkin/images/buttons/trash.png);
}

button.trash:hover, 
a.button.trash:hover {
  background-image: url(../tonkin/images/buttons/trashover.png);
}

button.submit, 
a.button.submit {
  background-image: url(../tonkin/images/buttons/save.png);
}

button.submit:hover, 
a.button.submit:hover {
  background-image: url(../tonkin/images/buttons/saveover.png);
}

button.new, 
a.button.new {
  background-image: url(../tonkin/images/buttons/new.png);
}

button.new:hover, 
a.button.new:hover {
  background-image: url(../tonkin/images/buttons/newover.png);
}

button.print, 
a.button.print {
  background-image: url(../tonkin/images/buttons/print.png);
}

button.print:hover, 
a.button.print:hover {
  background-image: url(../tonkin/images/buttons/printover.png);
}

button.cancel, 
a.button.cancel {
  background-image: url(../tonkin/images/buttons/cancel.png);
}

button.cancel:hover, 
a.button.cancel:hover {
  background-image: url(../tonkin/images/buttons/cancelover.png);
}

button.modify, 
a.button.modify {
  background-image: url(../tonkin/images/buttons/save.png);
}

button.modify:hover, 
a.button.modify:hover {
  background-image: url(../tonkin/images/buttons/saveover.png);
}

button.search, 
a.button.search {
  background-image: url(../tonkin/images/buttons/search.png);
}

button.search:hover, 
a.button.search:hover {
  background-image: url(../tonkin/images/buttons/searchover.png);
}

button.lock, 
a.button.lock {
  background-image: url(../tonkin/images/buttons/lock.png);
}

button.lock:hover, 
a.button.lock:hover {
  background-image: url(../tonkin/images/buttons/lockover.png);
}

button.tick, 
a.button.tick {
  background-image: url(../tonkin/images/buttons/tick.png);
}

button.tick:hover, 
a.button.tick:hover {
  background-image: url(../tonkin/images/buttons/tickover.png);
}

button.down, 
a.button.down {
  background-image: url(../tonkin/images/buttons/down.png);
}

button.down:hover, 
a.button.down:hover {
  background-image: url(../tonkin/images/buttons/downover.png);
}

button.change, 
a.button.change {
  background-image: url(../tonkin/images/buttons/change.png);
}

button.change:hover, 
a.button.change:hover {
  background-image: url(../tonkin/images/buttons/changeover.png);
}

button.edit, 
a.button.edit {
  background-image: url(../tonkin/images/buttons/edit.png);
}

button.edit:hover, 
a.button.edit:hover {
  background-image: url(../tonkin/images/buttons/editover.png);
}

button.hslip, 
a.button.hslip {
  background-image: url(../tonkin/images/buttons/hslip.png);
}

button.hslip:hover, 
a.button.hslip:hover {
  background-image: url(../tonkin/images/buttons/hslipover.png);
}

button.add, 
a.button.add {
  background-image: url(../tonkin/images/buttons/add.png);
}

button.add:hover, 
a.button.add:hover {
  background-image: url(../tonkin/images/buttons/addover.png);
}

button.remove, 
a.button.remove {
  background-image: url(../tonkin/images/buttons/remove.png);
}

button.remove:hover, 
a.button.remove:hover {
  background-image: url(../tonkin/images/buttons/removeover.png);
}

button.stop, 
a.button.stop {
  background-image: url(../tonkin/images/buttons/stop.png);
}

button.stop:hover, 
a.button.stop:hover {
  background-image: url(../tonkin/images/buttons/stopover.png);
}

button.send, a.button.send {
  background-image: url(../tonkin/images/buttons/send.png);
}

button.send:hover, a.button.send:hover {
  background-image: url(../tonkin/images/buttons/send.png);
}

button.send-cancel, a.button.send-cancel {
  background-image: url(../tonkin/images/buttons/send-cancel.png);
}

button.send-cancel:hover, a.button.send-cancel:hover {
  background-image: url(../tonkin/images/buttons/send-cancel.png);
}

button.send-again, a.button.send-again {
  background-image: url(../tonkin/images/buttons/send-again.png);
}

button.send-again:hover, a.button.send-again:hover {
  background-image: url(../tonkin/images/buttons/send-again.png);
}

button.send-problem, a.button.send-problem {
  background-image: url(../tonkin/images/buttons/send-problem.png);
}

button.send-problem:hover, a.button.send-problem:hover {
  background-image: url(../tonkin/images/buttons/send-problem.png);
}

button.send-auto, a.button.send-auto {
  background-image: url(../tonkin/images/buttons/send-auto.png);
}

button.send-auto:hover, a.button.send-auto:hover {
  background-image: url(../tonkin/images/buttons/send-auto.png);
}

.touchscreen button, 
.touchscreen button:hover,
.touchscreen button.notext,
.touchscreen button.notext:hover,
.touchscreen a.button, 
.touchscreen a:hover.button,
.touchscreen a.button.notext,
.touchscreen a:hover.button.notext {
  background-position: 3px 140%;
  background-repeat: repeat-x;
}