* {
  font-family: "Courier New", "Lucida Console", Courier, mono;
}

body {
  color: #0f0;
  font-size: 11px;
  background: #000;
  margin: 0px;
}

table {
  font-size: 1em;
}

/* Login */

#login {
  margin: 40px 0px 0px; 
}

#login table {
  border: solid #0f0 3px;
  width: 600px;
  background: #000;
  margin: auto;
  padding: 5px;
}

#login table td.logo {
  width: 33%;
  text-align: center;
  font-size: 9px;
  white-space: normal;
}

#login table td.logo a{
  font-size: 30px;
  white-space: normal;
}

/* links */

a:link, a:visited {
  color: #ff0;
}

a:hover {
  color: #fff;
}

/* Planning */

table#weeklyPlanning td.empty{
  background-color: #000;
  border: dashed 1px #0f0;
}

/* Form tables */

table.form {
  border: 2px dashed #0f0;
}

table.form th {
  color: #0f0;
  background-color: #000;
  vertical-align: top;
}

table.form th.title {
  color: #fff;
  background-color: #000;
  border: #0f0 1px dashed;
}

table.form tr.groupexpand td,
table.form tr.groupcollapse td,
table.form tr.groupexpand th,
table.form tr.groupcollapse th {
  padding-left: 25px;
}

table.form tr.triggerShow td,
table.form tr.triggerHide td,
table.form tr.triggerShow th,
table.form tr.triggerHide th {
  padding-left:25px;
}

table.form th.category {
  color: #fff;
  font-weight: bold;  
  font-style: italic;  
  text-align: center;
  background-color: #000;
  border: #0f0 1px dashed;
}

table.form th.category label {
  color: #fff;
  font-weight: bold;  
  font-style: italic;  
  text-align: center;
  background-color: transparent;
}

table.form td,
table.form td.dark {
  background-color: #000;
}

table.form td.light {
  background-color: #333;
}

table.form td.compte_rendu {
  background: #000;
}

div.autocomplete {
  border:1px solid #0f0;
}

div.autocomplete ul li.selected {
  background-color: #333;
}

/* Navigation */
td#mainHeader table {
  width: 100%;
}

td#mainHeader td.logo {
  text-align: left;
}

td#mainHeader td.welcome {
  text-align: right;
  font-style: italic;
}

td#menubar {
  text-align: right;
  border: 2px solid #000;
  padding: 2px;
  background-color: #333;
  color: #0f0;
  width: 100%;
}

td#menubar a.textSelected {
  color: #ff0;
  font-weight: bold;
}

td#menubar a {
  color: #fff;
}

td#menubar a:hover {
  color: #ff0;
}

/* Tabbed items */

td.tabox {
  background-color: #000;
  border: none;
}

table.tabmenu {
  margin: 5px 10px;
  border-spacing: 0px;
}

table.tabmenu td {
  height: 25px;
  padding-top: 2px;
  background: #000;
}

table.tabmenu td a {
  color: #ff0;
}

table.tabmenu td.left,
table.tabmenu td.right {
  width: 5px;
  background: #000;
}

table.tabmenu td.selected {
  background: #333;
}

table.tabmenu td.selected a {
  color: #fff;
  text-decoration: underline;
  background: #333;
}

table.tabmenu td.selected.left,
table.tabmenu td.selected.right {
  width: 5px;
  background: #000;
}

/* Inputs */

button, a.button {
  color: #000;
  background: #0f0;
}

button:hover, a.button:hover {
  background: #ff0;
}

input, select {
  border: 1px #0f0 dashed;
}

optgroup, option {
  color: #fff;
  background-color: #000;
}

input,
select,
textarea {
  color: #fff;
  border: 1px #0f0 solid;
  background-color: #000;
}

input:focus,
select:focus,
textarea:focus {
  color: #fff;
  outline: 1px #0f0 solid;
  background-color: #000;
}

input[readonly] {
  border: 1px dotted #0f0;
}

/* Standard table */

table.tbl {
  background-color: #000;
}

table.tbl tr:hover td {
  background-color: #333;
}

table.tbl th a {
  color: #ff0;
}

table.tbl th {
  background-color: #000;
  color: #0f0;
  border: dashed #0f0 1px;
  font-style: italic;
}

table.tbl th.title {
  background-color: #000;
  border: #0f0 1px dashed;
}

table.tbl td {
  background-color: #000;
}

table.tbl tr.clear,
table.tbl tr.clear a {
  background-color: #000;
  color: #fff;
}

table.titleblock td.titlecell {
  font-size: 1.3em; 
  color: #0f0;
  padding-bottom: 5px;
}

/* Main table */
th.title {
  color: #0f0;
  background: #000;
  border: #0f0 1px dashed;
}

/* System message */
#systemMsg {
  float : none;
  text-align: left;
  width: 100%;
}
div.message, div.loading, div.error, div.warning {
   color: #f66;
   width: 10%;
   white-space: nowrap;
}