@CHARSET "ISO-8859-1";

body {
  font-family: arial, sans-serif;
  font-size: 11px;  
  background: #fff;
  margin: 0px;
}

#headerMenu {
  width: 100%;
  background: #aaa url(./images/icons/headerBar.png) repeat-x top;
  cursor: default;
}

#headerMenu td.message {
  width: 100%;
}

#headerMenu td.end {
  text-align: right;
  vertical-align: top;
}

#headerMenu td.titlecell img {
  margin: 0px;
  border: 0px;
  padding-left: 20px;
}

#headerMenu td.titlecell {
  height: 0%;
  vertical-align: middle;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  white-space: nowrap;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

#headerMenu td.menuTitle {
  background: url(./images/icons/menu.png) no-repeat top right;
  font-size: 12px;
  padding: 1px 15px 1px 2px;
  border-right: 1px inset #000;
}

#headerMenu td.menuTitle:hover {
  background: url(./images/icons/menuHover.png) no-repeat top right;
}

#headerMenu #toolMenuList,
#headerMenu #modMenuList {
  border: 1px solid #000;
}

#headerMenu #toolMenuList img,
#headerMenu #modMenuList img {
  padding-right: 4px;
}

#headerMenu div.menuItem {
  background: #eee url(./images/icons/menuItem.png) repeat-y left;
  display: block;
  font-size: 12px;
  padding: 1px 4px;
}

#headerMenu div.menuItem:hover {
  background-color: #aaf;
}

#headerMenu div.menuItem a,
#headerMenu div.menuItem a:hover,
#headerMenu div.menuItem a:visited {
  text-decoration: none;
}

#headerMenu div.selected {
  background-color: #faa;
}

/* Onglets de module */

td.tabview {
  vertical-align: bottom;
}

table.tabmenu {
  border-top   : 10px;
  border-bottom: 10px;
  border-left  : 0px;
  border-right : 0px;
}

table.tabmenu td {
  height: 0%;
  width: 0%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-bottom: 4px solid #fff;
}

table.tabmenu td a {
  text-decoration: none;
  white-space: nowrap;
}

table.tabmenu td.normal {
  padding: 0px 5px;
  background: #fff;
}

table.tabmenu td.normal:hover {
  border-bottom: 4px solid #afa;
}

table.tabmenu td.normalLeft {
  height: 0%;
  width: 0%;
  background: #fff;
}

table.tabmenu td.normalRight {
  height: 0%;
  width: 0%;
  background: #fff;
}

table.tabmenu td.selected {
  padding: 0px 5px;
  background: #fff;
  border-bottom: 4px solid #faa;
}

table.tabmenu td.selectedLeft {
  height: 0%;
  width: 0%;
  background: #fff;
}

table.tabmenu td.selectedRight {
  height: 0%;
  width: 0%;
  background: #fff;
}

/* panneau d'affichage */

td.tabox {
  background-color: #fff;
  border: 1px dotted #bbb;
  padding: 0px;
  margin: 0px;
}

table.main {
  border: 0px;
}

/* System message */
#systemMsg {
  float: left;
  height: 12px;
  white-space: nowrap;
}

button.send, a.button.send {
  background-image: url(../tonkin/images/buttons/send.png);
  padding-left: 18px;
}

button.send-cancel, a.button.send-cancel {
  background-image: url(../tonkin/images/buttons/send-cancel.png);
  padding-left: 18px;
}

button.send-again, a.button.send-again {
  background-image: url(../tonkin/images/buttons/send-again.png);
  padding-left: 18px;
}

button.send-problem, a.button.send-problem {
  background-image: url(../tonkin/images/buttons/send-problem.png);
  padding-left: 18px;
}

button.send-auto, a.button.send-auto {
  background-image: url(../tonkin/images/buttons/send-auto.png);
  padding-left: 18px;
}