html, body {
  background: #fff;
  padding: 0;
  margin: 0;
}

#main .tabox {
  padding-top: 32px;
}

#main.dialog .tabox {
  padding-top: 0;
}

#headerMenu {
  width: 100%;
  background: #EAEFF6;
  border-bottom: 1px solid #AECFF7;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#headerMenu td {
  white-space: nowrap;
  vertical-align: middle;
  line-height: 16px;
}

#headerMenu td.message {
  width: 100%;
}

#headerMenu td.end {
  text-align: right;
  width: 1%;
}

#headerMenu td.titlecell {
  height: 0%;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  border: 0;
  padding: 0;
  margin: 0;
}

#headerMenu td.menuTitle {
  width: 16em;
  border-right: 1px solid #fcfcfc;
}

#headerMenu .dropdown-menu {
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 2px;
  -moz-border-radius: 2px;
  background: url(./images/icons/menu.png) no-repeat 6px 0;
  text-indent: 20px;
}

#headerMenu .dropdown-menu ul {
  display: none;
  position: absolute;
  left: 0;
  top: 21px;
  margin-top: 2px;
  z-index: 100;
  list-style-type: none;
  padding: 2px;
  margin: 0; 
  width: 100%;
  border: 1px solid #BBB;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #F0F0F0;
  text-indent: 0;
}

#headerMenu .dropdown-menu:hover ul {
  display: block;
}

#headerMenu .dropdown-menu img {
  padding-right: 4px;
  width: 16px;
  height: 16px;
  border: none;
}

#headerMenu a {
  display: block;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 2px;
  -moz-border-radius: 2px;
}

#headerMenu a,
#headerMenu a:hover,
#headerMenu a:visited {
  text-decoration: none;
}

#headerMenu .dropdown-menu:hover,
#headerMenu a:hover {
  border: 1px solid #AECFF7;
  background-color: #EEF2F6;
}

#headerMenu .dropdown-menu:hover {
  background-image: url(./images/icons/menuHover.png);
}

#headerMenu a.selected {
  background: #AECFF7;
}

#headerMenu a:hover.selected {
  border-color: #71ADF2;
}

/* Onglets de module */
td.tabview {
  vertical-align: bottom;
}

.tabmenu {
  list-style-type: none;
  padding: 4px 0 0 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  background: #eee;
}

.tabmenu li {
  margin-left: 3px;
  display: inline-block;
  position: relative;
  top: 1px;
  vertical-align: bottom;
}

.tabmenu a {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  display: block;
  padding: 6px 8px;
  padding-bottom: 4px;
  border: 1px solid #ccc;
  border-bottom: #ccc 1px solid;
  text-decoration: none;
  
  background: #ddd;
  background: #ddd -moz-linear-gradient(top, transparent 70%, rgba(100,100,100,0.1));
  background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0.7, transparent), color-stop(1, rgba(100,100,100,0.1)));
}

.tabmenu a:hover {
  background: #eee;
}

.tabmenu li.selected a {
  background: #fff;
  border-bottom-color: #fff;
  padding-bottom: 8px;
}

td.tabox {
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 0;
}

table.main {
  border: 0;
}

table.tbl td, 
table.tbl th {
  border-color: #ddd;
}

input[type=text], 
input[type=tel], 
input[type=number], 
input[type=email], 
input[type=password], 
select, 
textarea,
.textarea-container {
  background-color: #FFFFFF;
}


input[type=text]:focus, 
input[type=tel]:focus, 
input[type=number]:focus, 
input[type=email]:focus, 
input[type=password]:focus, 
select:focus, 
textarea:focus,
.textarea-container.input-focus {
  background-color: #EAEFF6;
}